html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body {
	color: #000;
	font-size: 16px;
	font-weight: normal;
	line-height: 25px;
	font-family: 'Larsseit';
	letter-spacing: 1px;
}
main {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;

	&.freeze {
		pointer-events: none;
	}
}
#app {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#scroller {
	min-height: 100%;
}
.container {
	height: 100%;
	min-height: calc(100vh - 124px);
	display: flex;
	padding-bottom: 104px;

	@include mobile {
		min-height: calc(100vh - 70px);
		padding-bottom: 70px;
	}
}
.content {
	margin: auto;
	width: 100%;
	padding-left: 60px;
	padding-right: 60px;

	@include mobile {
		padding-left: 20px;
		padding-right: 20px;
	}		
}
h1 {
	text-align: center;
	line-height: 43px;
	font-size: 32px;
	font-weight: normal;

	@include mobile {
		font-size: 28px;
		text-align: left;
		line-height: 36px;
	}
}
h2 {
	text-align: left;
	line-height: 32px;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 22px;
	margin-top: 0;

	@include mobile {
		font-size: 21px;
		text-align: left;
		line-height: 28px;
	}
}
.link {
	color: $purple;
	cursor: pointer;
	transition: color 250ms; 
	margin-bottom: 20px;
	text-decoration: underline;
	user-select: none;

	@include no_touch {

		&:hover {
			color: $blue;
		}
	}
}
.small_text {
	font-size: 12px;
	margin-bottom: 20px;
	line-height: 17px;

	&.purple {
		color: $purple;
	}
}
.smaller_text {
	font-size: 16px;
	margin-bottom: 20px;
	line-height: 25px;

	&.purple {
		color: $purple;
	}
}
.buttons_holder {
	text-align: center;
	font-size: 0;
	white-space: nowrap;
	letter-spacing: 0;

	.button {
		letter-spacing: 1;

		&:nth-child(2) {
			margin-left: 22px;
		}
	}
	&.full {
		white-space: normal;

		@include mobile {
			margin-top: 20px;

			.button .text_holder {
				font-size: 12px !important;
			}
		}
		.button {

			&:nth-child(2) {
				margin-left: 0;
			}
		}
	}
}
::-moz-selection { background: rgba($purple, .2); }
::selection { background: rgba($purple, .2); }
.row {
	font-size: 0;
	letter-spacing: 0;

	.col {
		display: inline-block;
		vertical-align: top;
		font-size: 16px;
		letter-spacing: 1px;
	}
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.mb20 {
	margin-bottom: 20px;
}
.desktop_only {

	@include mobile {
		display: none !important;
	}
}
.mobile_only {
	display: none !important;

	@include mobile {
		display: block !important;
	}
}
.terms_and_conditions {

	@include mobile {
		padding-right: 20px !important;
	}
	.ps__scrollbar-y-rail {
		opacity: 1 !important;
		background: rgba(#000, .1) !important;
		width: 8px !important;
		right: 4px !important;
		border-radius: 5px;

		@include mobile {
			right: 0 !important;
		}
		.ps__scrollbar-y {
			opacity: 1 !important;
			right: 0px !important;
			width: 8px;
		}
	}
}