
@font-face {
	font-family: 'Larsseit';
	src: url('./assets/fonts/Larsseit.eot?#iefix') format('embedded-opentype'),  url('./assets/fonts/Larsseit.otf')  format('opentype'),
	     url('./assets/fonts/Larsseit.woff') format('woff'), url('./assets/fonts/Larsseit.ttf')  format('truetype'), url('./assets/fonts/Larsseit.svg#Larsseit') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Larsseit-Bold';
  src: url('./assets/fonts/Larsseit-Bold.eot?#iefix') format('embedded-opentype'),  url('./assets/fonts/Larsseit-Bold.otf')  format('opentype'),
	     url('./assets/fonts/Larsseit-Bold.woff') format('woff'), url('./assets/fonts/Larsseit-Bold.ttf')  format('truetype'), url('./assets/fonts/Larsseit-Bold.svg#Larsseit-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}