.photo_layout {
	font-size: 0;
	letter-spacing: 0;
	display: flex;
	box-shadow: 0px 30px 99px 0px rgba(0,0,0,0.1);
	position: relative;
	margin: 40px 0 0;

	@include mobile {
		box-shadow: none;
		display: block;
		margin: 40px 0;
	}
	> div:not(.badge) {
		display: inline-block;
		vertical-align: top;
		font-size: 16px;
		letter-spacing: 1px;
		min-height: 680px;

		@include mobile {
			min-height: 0;
			display: block;
		}
	}
	.camera {
		width: calc(100% - 480px);
		position: relative;
		overflow: hidden;

		@include mobile {
			width: 100%;
			display: none;
		}
		.img {
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%, -50%, 0);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			width: 100%;
			height: calc((100vw - 600px) * 3);

			@media screen and (min-width: 1560px) {
				height: 2880px;
			}
			&.passport {
				background-image: url('./assets/images/passport2.svg');
			}
			&.card {
				background-image: url('./assets/images/card2.svg');
			}
			&.passport_vertical,
			&.face {
				background-image: url('./assets/images/passport_vertical.svg');
				height: 100%;
				width: 1000px;

				@media screen and (min-width: 1560px) {
					height: 100%;
					width: 1000px;
				}
			}
			&.face {
				background-image: url('./assets/images/shadow3.svg');
			}
			&.none {

				.up,
				.down {
					display: none;
				}
			}
		}
		
	}
	.controls {
		width: 480px;
		padding: 20px 50px;

		@include mobile {
			width: 100%;
			padding: 0;
		}
	}
	h1 {
		text-align: left;

		@include mobile {
			margin-top: 0;
		}
	}
	.badge {
		position: absolute;
		z-index: 2;
		top: 26px;
		right: 445px;
		left: calc(100% - 515px);
		pointer-events: none;
		height: 70px;
		min-width: 70px;
		transition: opacity 300ms, transform 300ms;
		transform: translate3d(0,0,0) scale(.7);
		opacity: 0;
		transform-origin: center center !important;

		@include mobile {
			display: none;
		}
		.success {
			display: none;
			height: 70px;

			.mark {
				width: 70px;
				height: 70px;
				border-radius: 50%;
				background: #0FBE98;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;

				svg {
					width: 24px;
					height: 45px;
					position: absolute;
					top: 50%;
					left: 50%;
					margin-left: -12px;
					margin-top: -22px;
				}
			}
		}
		.error {
			height: 70px;
			display: none;

			.mark {
				width: 70px;
				height: 70px;
				border-radius: 50%;
				background: #D60F23;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;

				svg {
					width: 4px;
					height: 30px;
					position: absolute;
					top: 50%;
					left: 50%;
					margin-left: -2px;
					margin-top: -15px;
				}
			}
			.text {
				border-radius: 35px;
				height: 100%;
				max-width: 370px;
				background: #fff;
				font-size: 12px;
				padding: 15px 26px 15px 86px;
				line-height: 18px;
				box-shadow: 0px 30px 99px 0px rgba(0,0,0,0.1);

				@include mobile {
					height: 50px;
					max-width: calc(100vw - 30px);
					width: calc(100vw - 30px);
					font-size: 11px;
					padding: 5px 19px 5px 58px;
					line-height: 13px;
				}
			}
		}
		&.mobile {
			display: none;
			width: 50px;
			height: 50px;
			top: -10px;
			left: -10px;
			min-width: 0;
			
			.mark {
				width: 50px;
				height: 50px;
			}
			svg {
				width: 50px;
				height: 50px;
			}

			@include mobile {
				display: block;
			}
		}
	}
	&.success {
		
		.badge {
			transform: translate3d(0,0,0) scale(1);
			opacity: 1;

			.success {
				display: block;
			}
		}
	}
	&.error {
		
		.badge {
			transform: translate3d(0,0,0) scale(1);
			opacity: 1;
			pointer-events: all;

			.error {
				display: block;
			}
			@include mobile {
				top: -80px;
			}
		}
		@include mobile {
			
			.image img {
				margin-top: 120px;
			}
		}
	}
	.icon,
	.icon2,
	.icon3 {
		margin: 110px auto;
		width: 210px;
		height: 130px;
		position: relative;

		@include mobile {
			margin: 60px auto;
		}
		svg {
			width: 210px;
			height: 130px;
			position: absolute;
			top: 0;
			left: 0;
		}
		&.gone {

			@include mobile {
				display: none;
			}
		}
	}
	.image {
		display: block;
		position: relative;

		&.gone {
			display: none;
		}
		@media screen and (min-width: 1101px) {
			display: none !important;
		}
		img {
			width: 100%;
			margin: 40px 0 20px;
		}
	}
}