<template>
	<div class="input" v-click-outside="onBlur" :class="{'active': active, 'error': error, 'open': open, 'auto': auto}">
		<div class="holder_for_mobile">
			<span class="tick">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 4153.1 2595.7" style="enable-background:new 0 0 4153.1 2595.7;" xml:space="preserve">
				<path fill="rgba(0,0,0,0.3)" id="Union_2" class="st0" d="M1557.4,2076.5L0,519.1L519.1,0l1557.4,1557.4L3633.9,0l519.1,519.1L2076.5,2595.7L1557.4,2076.5z
					"/>
				</svg>
			</span>
			<input ref="input" @keydown="onKey" :type="type" :value="value" @focus="onFocus" @input="changed">
			<label>{{ label }}</label>
			<div class="list" :class="{'open': open}">
				<VuePerfectScrollbar class="scroll-area" ref="scrollbar">
					<transition-group name="option">
						<div class="option" :class="{'current': (option == current)}" @click="optionClicked(option)" v-for="option in optionsFiltered" :key="option">
							<span>{{ option }}</span>
						</div>
					</transition-group>
				</VuePerfectScrollbar>
			</div>
		</div>
		<select @change="changed">
			<option :value="option" v-for="(option, index) in options" :key="index">{{ option }}</option>
		</select>
	</div>
</template>

<script>	
	import ClickOutside from 'vue-click-outside';
	import VuePerfectScrollbar from 'vue-perfect-scrollbar';

	export default {
		data() {
			return {
				active: false,
				open: false,
				current: ''
			}
		},
		props: ['label', 'value', 'error', 'options', 'min', 'max', 'autoscroll'],
		computed: {
			optionsFiltered() {
				if (this.options && this.value) {
					let options = [...this.options];
					options = options.filter(element => {
						return element.toLowerCase().match(this.value.toLowerCase());
					});
					return options;
				}
				return this.options
			},
			auto() {
				if (this.optionsFiltered) {
					return this.optionsFiltered.length < 7 ? true : false
				}
				return true
			}, 
			type() {
				return this.min == 'auto' && this.max == 'auto' ? 'text' : 'number'
			},
			isMobile() {
				if (window.innerWidth > 1100) {
					return false;
				} else {
					return true;
				}
			}
		},
		directives: {
			ClickOutside
		},
		components: {
			VuePerfectScrollbar
		},
		methods: {
			onFocus() {
				this.active = true;
				this.open = true;
				if (this.error) {
					this.$emit('update:error', false);
				}
			},
			onBlur() {
				if (this.value && this.value.length != 0) {
					this.active = true
				} else {
					this.active = false
				}
				this.open = false;
				this.current = '';
				this.checkExtremum();
			},
			onKey(event) {
				const which = event.which;
				if (which == 9) {
					this.onBlur();
				} else if (which == 38) {
					event.preventDefault();
					if (this.current != '' && this.current != this.optionsFiltered[0]) {
						let new_current_index = this.optionsFiltered.indexOf(this.current) - 1;
						this.current = this.optionsFiltered[new_current_index];
						this.$refs.scrollbar.$el.scrollTop = new_current_index * 36;
					}
				} else if (which == 40) {
					event.preventDefault();
					if (this.optionsFiltered.lenght != 0) {
						const scrollbar = this.$refs.scrollbar.$el;
						if (this.current == '') {
							this.current = this.optionsFiltered[0];
							scrollbar.scrollTop = 0;
						} else if (this.optionsFiltered.indexOf(this.current) != this.optionsFiltered.length - 1) {
							let new_current_index = this.optionsFiltered.indexOf(this.current) + 1;
							this.current = this.optionsFiltered[new_current_index];
							scrollbar.scrollTop = new_current_index * 36;
						}
					}
				} else if (which == 13 && this.current != '') {
					this.$emit('update:value', this.current);
					this.active = true;
					this.open = false;
					this.current = '';
					this.$refs.input.blur();
				}
			},
			changed(event) {
				this.current = '';
				if (this.isMobile) {
					this.active = true;
					this.$emit('update:error', false);
				}
				this.$emit('update:value', event.target.value);
			},
			optionClicked(option) {
				this.$emit('update:value', option);
				this.active = true;
				this.open = false;
				this.current = '';
			},
			checkExtremum() {
				if (this.min != 'auto') {
					if (parseInt(this.value) < parseInt(this.min)) {
						this.$emit('update:value', String(this.min))
					}
				}
				if (this.max != 'auto') {
					if (parseInt(this.value) > parseInt(this.max)) {
						this.$emit('update:value', String(this.max))
					}
				}
			}
		},
		watch: {
			value() {			
				this.$refs.scrollbar.$el.scrollTop = 0;			
			}
		},
		mounted() {
			if (this.autoscroll) {
				const scrollbar = this.$refs.scrollbar.$el;
				scrollbar.scrollTop = 1800;
			}
		}
	}
	
</script>

<style lang="scss" scoped>
	@import '../styles/mixins.scss';
	
	.input {
		position: relative;
		height: 54px;
		margin-bottom: 20px;

		.scroll-area {
			height: 216px;
			position: relative;
			transition: height 250ms;
		}
		&.auto {

			.scroll-area {
				height: auto;
			}
		}
		.tick {
			width: 8px;
			height: 5px;
			display: block;
			position: absolute;
			right: 10px;
			bottom: 20px;
			pointer-events: none;
			transform: translate3d(0,0,0) rotateZ(0deg);
			transition: transform 250ms;
			z-index: 1;

			svg {
				max-height: 100%;
				max-width: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		&.open {
			z-index: 2;

			.tick {
				transform: translate3d(0,0,0) rotateZ(180deg);
			}
		}
		label {
			display: block;
			position: absolute;
			line-height: 34px;
			height: 34px;
			color: rgba(#000, .4);
			top: 20px;
			transition: all 300ms;
			pointer-events: none;

			@include mobile {
				font-size: 14px;
			}
		}
		.list {
			position: absolute;
			background: #fff;
			width: 100%;
			top: 54px;
			transition: transform 250ms, opacity 250ms;
			pointer-events: none;
			opacity: 0;
			transform: translate3d(0,30px,0);
			box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);

			.option {
				padding: 5px 15px;
				cursor: pointer;
				border-bottom: 1px solid rgba($grey, .2);
				color: rgba(#000, .4);
				transition: all 250ms;
				height: 36px;
				overflow: hidden;
				text-overflow: ellipsis;
				
				span {
					transition: color 250ms;	
				}
				&.current {

					span {
						color: #000;
					}
				}
				&:hover {

					@include no_touch {

						span {
							color: #000;
						}
					}
				}
			}
			&.open {
				pointer-events: all;
				opacity: 1;
				transform: translate3d(0,0,0);
			}
		}
		.option-enter, .option-leave-to {
			opacity: 0;
			transform: translate3d(0,30px,0);
		}
		.option-leave-active {
			position: absolute;
		}
		input {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			line-height: 34px;
			height: 34px;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			box-shadow: none;
			border: none;
			border-bottom: 1px solid $grey;
			transition: color 300ms, border-color 300ms;
			letter-spacing: 1px;
			padding-right: 28px;
			border-radius: 0;
		}
		&.active {

			label {
				top: 0;
				line-height: 20px;
				font-size: 11px;
			}
		}
		&.error {

			label {
				color: $red;
			}
			input {
				border-color: $red;
				color: $red;
			}
		}
	}
	.holder_for_mobile {

		@include mobile {
			pointer-events: none;
		}
	}
	select {
		display: none;

		@include mobile {
			display: block;
			position: absolute;
			height: 100%;
			cursor: pointer;
			width: 100%;
			z-index: 1;
			opacity: 0;
		}
	}
</style>