<template>	
	<div class="badge" :class="{'mobile': mobile}">
		<div class="success">
			<div class="mark">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 1433.6 1059.6" style="enable-background:new 0 0 1433.6 1059.6;" xml:space="preserve">
				<path id="mark" class="st0" fill="#FFFFFF" d="M374,935L0,561l124.7-124.7l374,374L1308.9,0l124.7,124.7l-935,935L374,935z"/>
				</svg>
			</div>
		</div>
		<div class="error">
			<div class="mark">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				viewBox="0 0 1138.6 8539.4" style="enable-background:new 0 0 1138.6 8539.4;" xml:space="preserve">
				<path id="mark" class="st0" fill="#FFFFFF" d="M0,8539.4V7400.8h1138.6v1138.6H0z M0,5692.9V0h1138.6v5692.9H0z"/>
				</svg>
			</div>
		</div>
	</div>
</template>

<script>
import { globalData } from '../main';

export default {
  props: ['error', 'mobile']
};
</script>

<style lang="scss" scoped>
</style>