<template>
	<div class="button" :class="[size, type, icon, {'recording': recording, 'disabled': disabled}]" @click="clicked">
		<span class="text_holder">
			{{ text }}
			<span v-if="icon == 'photo'" class="icon_photo">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 1857.1 1444.4" style="enable-background:new 0 0 1857.1 1444.4;" xml:space="preserve">
				<path id="icon" fill="#FFFFFF" d="M0,1444.4V206.3h515.9V0h825.4v206.3h515.9v1238.1H0z M1650.8,1238.1V412.7h-515.9V206.3H722.2v206.3
					H206.3v825.4H1650.8z M619,825.4c0-170.9,138.6-309.5,309.5-309.5s309.5,138.6,309.5,309.5s-138.6,309.5-309.5,309.5
					S619,996.3,619,825.4z M825.4,825.4c0,57,46.2,103.2,103.2,103.2s103.2-46.2,103.2-103.2c0-57-46.2-103.2-103.2-103.2
					S825.4,768.4,825.4,825.4z"/>
				</svg>
			</span>
		</span>
	</div>
</template>

<script>
	export default {
		props: ['size', 'type', 'icon', 'text', 'recording', 'disabled'],
		methods: {
			clicked() {
				if (!this.disabled) {
					this.$emit('clicked')
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
	@import '../styles/mixins.scss';

	.button {
		height: 54px;
		line-height: 50px;
		text-align: center;
		margin-bottom: 20px;
		user-select: none;
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
		transition: background 250ms, box-shadow 250ms, border-color 250ms;
		border-radius: 27px;
		border: 2px solid $purple;
		
		.text_holder {
			color: #fff;
			text-transform: uppercase;
			font-size: 14px;
			font-family: $bold;
			position: relative;
			letter-spacing: 1px;
			transition: color 250ms;

			@include mobile {
				letter-spacing: 0;
			}
		}
		&.not_limited {
			padding: 0 50px;
		}
		&.limited {
			padding: 0 10px;
			width: 180px;
			
			.text_holder {
				overflow: hidden;
				max-width: 100%;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
		&.full {
			padding: 0 10px;
			width: 100%;
			
			.text_holder {
				overflow: hidden;
				max-width: 100%;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
		.icon_photo {
			position: absolute;
			width: 18px;
			height: 14px;
			right: 0;
			top: 50%;
			margin-top: -7px;
			display: block;

			svg {
				position: absolute;
				width: 18px;
				height: 14px;
				top: 0;
				left: 0;
			}
		}
		&.blue {
			background: $purple;
			box-shadow: 0px 10px 30px 0px rgba($purple, .3);

			&:hover {

				@include no_touch {
					background: $blue;
					box-shadow: 0px 10px 30px 0px rgba($blue, .3);
					border-color: $blue;
				}
			}
			&.recording {
				background: $blue;
				box-shadow: 0px 10px 30px 0px rgba($blue, .3);
				border-color: $blue;
			}
		}
		&.disabled {
			background-color: $purple;
			opacity: .6;

			&:hover {
				cursor: default;
			}
		}
		&.ghost {
			background: #fff;

			.text_holder {
				color: $purple;
			}
			.icon_photo {

				svg {

					path {
						fill: $purple;
						transition: fill 250ms; 
					}
				}
			}
			&:hover {

				@include no_touch {
					border-color: $blue;

					.text_holder {
						color: $blue;
					}
					.icon_photo {

						svg {

							path {
								fill: $blue;
							}
						}
					}
				}
			}
		}
		&.photo {

			.text_holder {
				padding-right: 28px;
			}
		}
	}
</style>