<template>
	<div class="camera">
		<video ref="video" autoplay muted/>
		<img ref="capture" :class="{'gone': imgGone}"/>
		<video v-if="mediaFile && isVideoMode" autoplay controls muted>
			<source v-if="mediaFile" type="video/webm" :src="mediaFile"/>
		</video>
		<div v-else class="img" ref="img" :class="[mode]"/>
		<canvas ref="canvas"/>
		<input class="hidden_input" @change="mobilePhoto" type="file" accept="image/*" capture ref="mobile_input"/>
		<div class="recording" v-if="isRecording">
			<span class="name" v-text="getField('btn_recording')"/>
			<span class="time" v-text="counter"/>
			<span class="seconds" v-text="getField('seconds')"/>
		</div>
	</div>
</template>

<script>
//import { MediaStreamRecorder } from '../scripts/MediaStreamRecorder'
import { globalData } from '../main';

	export default {
		data() {
			return {
				isRecording: false,
				isVideoMode: false,
				imgGone: true,
				recordedBlobs: null,
				mediaRecorder: null,
				interval: null,
				mediaFile: null,
				counter: 3
			}
		},
		computed: {
			supported() {
				if (/MSIE 10/i.test(navigator.userAgent) || /MSIE 9/i.test(navigator.userAgent) || /rv:11.0/i.test(navigator.userAgent) || !navigator.getUserMedia) {
					return false;
				}
				if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
					return true
				} else {
					return false
				}
			},
			mobile() {
				if (window.mobileAndTabletcheck()) {
					return true 
				}
				return false
			}
		},
		props: ['mode', 'file'],
		methods: {
			success() {
				setTimeout(() => {
					this.imgGone = true
					if (this.$refs.canvas) {
						setTimeout(() => {
							this.$refs.capture.src = ''
						}, 350)
					}
				})
			},
			countDown() {
				const interval = setInterval(() => {
					if (this.counter > 1) {
						this.counter--
					} else {
						this.counter = 3
						clearInterval(interval)
					}
				}, 1000)
			},
			restart() {
				this.initCamera()
				const img = this.$refs.capture
				img.src = ''
				this.$emit('update:file', '')
				this.mediaFile = null
				this.isVideoMode = false
			},
			takePicture() {
				if (this.isLoading) return
				this.isLoading = true

				if (!this.mobile) {
					const refs = this.$refs;
					const video = refs.video;
					const img = refs.capture;
					const canvas = refs.canvas;
					canvas.width = video.videoWidth;
					canvas.height = video.videoHeight;
					canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
					const blob = canvas.toDataURL('image/jpeg', 0.5);
					img.src = blob;
					this.$emit('update:file', blob);
					this.imgGone = false;
					this.isVideoMode = false
					this.mediaFile = null

					setTimeout(() => {
						this.turnOffStream();
					}, 300);
				} else {
					this.$refs.mobile_input.click();
				}

				this.isLoading = false
			},
			takeVideo() {
				if (this.isLoading) return
				this.isLoading = true

				if (!this.mobile) {
					this.startRecord()
				} else {
					this.$refs.mobile_input.click()
					this.isLoading = false
				}
			},
			mobilePhoto(event) {
				const file = event.target.files[0];
				const reader = new FileReader();
				reader.onload = e => {
					const blob = e.target.result;
					this.$emit('update:file', blob);
					this.imgGone = false;
				}
				reader.readAsDataURL(file);
			},
			turnOffStream() {
				if (window.stream) {
					window.stream.getTracks().forEach(track => {
						track.stop();
					});
				}
			},
			initCamera() {
				if (!this.supported) return

				const constraints = {
					audio: false,
					video: {
						optional: [
								{ minWidth: 320 },
								{ minWidth: 640 },
								{ minWidth: 1024 },
								{ minWidth: 1280 },
								{ minWidth: 1920 },
								{ minWidth: 2560 },
						]
					}
				}

				if (!navigator.mediaDevices) {
					navigator.mediaDevices = {}
				}

				if (!navigator.mediaDevices.getUserMedia) {
					navigator.mediaDevices.getUserMedia = this.getUserMedia
				}

				navigator.mediaDevices.getUserMedia(constraints)
					.then(this.cameraInitSuccess).catch(this.cameraInitError)
			},
			cameraInitSuccess(stream) {
				window.stream = stream
				this.$refs.video.srcObject = stream

				if ((window.isChrome() || window.isFirefox() || window.isOpera()) && !window.mobileAndTabletcheck()) {
						this.success()
				}
			},
			cameraInitError(error) {
				this.$emit('update:cameraNotSupported', true)
			},
			getUserMedia(constraints) {
				const getUserMedia = navigator.webkitGetUserMedia || navigator.mozGetUserMedia
				
				if (!getUserMedia) {
					return Promise.reject(new Error('getUserMedia is not implemented in this browser'))
				}
				
				return new Promise(function (resolve, reject) {
					getUserMedia.call(navigator, constraints, resolve, reject);
				})
			},
			startRecord() {
				this.countDown()
				this.recordedBlobs = []
				this.isRecording = true;
				const options = { mimeType: 'video/webm' }

				const mediaRecorder = new MediaRecorder(window.stream, options)
				//mediaRecorder.recorderType = MediaStreamRecorder
				mediaRecorder.onstop = this.handleStop
				mediaRecorder.ondataavailable = this.handleDataAvailable
				mediaRecorder.onstop = this.mediaRecorderStopped
				mediaRecorder.start()

				this.mediaRecorder = mediaRecorder
				this.interval = setInterval(this.stopRecording, 3000)
			},
			handleStop(event) {
			},
			handleDataAvailable(event) {
				if (event.data && event.data.size > 0) {
					this.recordedBlobs.push(event.data);
				}
			},
			stopRecording() {
				clearInterval(this.interval)
				this.mediaRecorder.stop()
				this.isRecording = false;
				
				const refs = this.$refs
				const video = refs.video
				const img = refs.capture
				const canvas = refs.canvas

				var a = canvas.getContext("2d")
				canvas.width = video.videoWidth
				canvas.height = video.videoHeight
				canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height)
				const blob = canvas.toDataURL('image/jpeg', 0.5)
				img.src = blob

				this.interval = null
				this.mediaRecorder = null
			},
			mediaRecorderStopped() {
				const videoFile = new Blob(this.recordedBlobs, { type: 'video/webm', name: "face.webm" })
				this.$emit('update:file', videoFile)
				this.loadVideo(videoFile)
				
				this.imgGone = false;
				this.isLoading = false

				setTimeout(() => {
					this.turnOffStream()
				}, 300)
			},
			loadVideo(blob) {
				this.isVideoMode = true
				const reader = new FileReader()
				reader.readAsDataURL(blob)
				reader.onloadend = () => {
					this.mediaFile = reader.result
				}
			}
		},
		mounted() {
			this.initCamera()
		},
		created() {
			globalData.$on('uploadedFile', file => {
				this.isVideoMode = false
				this.mediaFile = null
				const refs = this.$refs;
				const img = refs.capture;
				if (img) {
					const reader = new FileReader();
					reader.onload = e => {
						const blob = e.target.result
						img.src = blob
						this.$emit('update:file', blob)
						this.imgGone = false
						setTimeout(() => {
							this.turnOffStream();
						}, 300);
					}
					reader.readAsDataURL(file);
				}
			});
		}
	}
</script>

<style lang="scss" scoped>
	@import '../styles/mixins.scss';

	video {
		position: absolute;
		left: 50%;
		transform: translate3d(-50%,0,0);
		top: 0;
		height: 100%;
	}
	img {
		position: absolute;
		left: 50%;
		transform: translate3d(-50%,0,0);
		top: 0;
		height: 100%;
		transition: opacity 250ms;

		&.gone {
			opacity: 0;
		}
	}
	canvas {
		display: none;
	}
	.hidden_input {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		pointer-events: none;
	}
	.camera {
		background: rgba(#000, .3)
	}
	.recording {
		position: absolute;
		width: 100%;
		text-align: center;
		z-index: 2;
		color: #fff;
		top: 6px;
		
		.name {
			position: relative;

			&:before {
				display: block;
				position: absolute;
				left: -16px;
				top: 6px;
				content: '';
				width: 8px;
				height: 8px;
				background: $red;
				border-radius: 50%;
				box-shadow: 0px 0px 5px 0px rgba(214,15,35,1);
			}
		}
	}
</style>