<template>
	<div class="checkbox" :class="{ 'error': error }">
		<label>
			<input type="checkbox" :checked="checked" @change="changed">
			<span class="tick">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 3429.7 2638" style="enable-background:new 0 0 3429.7 2638;" xml:space="preserve">
				<path id="Union_8" class="st0" d="M1318.8,2638L0,1318.8l527.5-527.5l791.3,791.3L2901.8,0l527.9,527.5L1318.8,2638z"/>
				</svg>
			</span>	
			{{ label }}
		</label>
	</div>
</template>

<script>
	export default {
		props: ['label', 'error', 'checked'],
		methods: {
			changed(event) {
				this.$emit('update:checked', event.target.checked);
			}
		}
	}
</script>

<style lang="scss" scoped>
	@import '../styles/mixins.scss';

	.st0{fill: $purple;}
	label {
		line-height: 18px;
		display: block;
		position: relative;
		padding: 10px 0 10px 30px;
		cursor: pointer;
		transition: color 250ms;
	}
	.tick {
		display: flex;
		width: 18px;
		height: 18px;
		position: absolute;
		left: 0;
		top: 10px;
		border: 2px solid rgba(#000, .3);
		transition: border-color 250ms;
	}
	svg {
		margin: auto;
		width: 9px;
		height: 7px;
		transition: 250ms transform;
		transform: translate3d(0,0,0) scale(0);
	}
	input {
		visibility: hidden;
		opacity: 0;
		width: 0;
		height: 0;
		pointer-events: none;

		&:checked {

			+ .tick svg {
				transform: translate3d(0,0,0) scale(1);
			}
		}
	}
	.checkbox {
		user-select: none;
		margin-bottom: 20px;
		cursor: pointer;

		&.error {
			
			label {
				color: $red;
			}
			.tick {
				border-color: $red;
			}
		}
	}
</style>