<template>
	<div class="close" @click="clicked">
		<span class="name" v-text="getField('close_label')"/>
		<span class="icon">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			viewBox="0 0 4312.9 4312.9" style="enable-background:new 0 0 4312.9 4312.9;" xml:space="preserve">
			<path id="icon" class="st0" d="M0,4004.9l1848.4-1848.4L0,308.1L308.1,0l1848.4,1848.4L4004.9,0l308.1,308.1L2464.5,2156.5
			l1848.4,1848.4l-308.1,308.1L2156.5,2464.5L308.1,4312.9L0,4004.9z"/>
			</svg>
		</span>
	</div>
</template>

<script>
export default {
  methods: {
    clicked() {
      this.$emit('clicked');
    }
  }
};
</script>

<style lang="scss" scoped>
@import '../styles/mixins.scss';

.close {
  position: absolute;
  top: 57px;
  right: 80px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  padding-right: 35px;
  cursor: pointer;

  @include mobile {
    top: 25px;
    padding: 15px 35px 15px 0;
    right: 20px;
  }
  .name {
    transition: color 250ms;
    color: $purple;
  }
  .icon {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;

    @include mobile {
      top: 15px;
    }
    svg {
      position: absolute;
      top: 0;
      right: 0;
      width: 20px;
      height: 20px;

      path {
        transition: fill 250ms;
        fill: $purple;
      }
    }
  }
  &:hover {
    @include no_touch {
      .name {
        color: $blue;
      }
      .icon svg path {
        fill: $blue;
      }
    }
  }
}
</style>