<template>
	<header>
		<div id="logo">
            <h1 v-text="getField('contact_sent_heading')"/>
		</div>
	</header>
</template>

<script>
	export default {
		mounted() {
			// const url = await this.getField('contact_sent_heading');
			console.log(this.getField('contact_sent_heading'));
		}
	}
</script>

<style lang="scss" scoped>
	@import '../styles/mixins.scss';

	header {
		padding: 44px 60px 24px;

		@include mobile {
			padding: 20px;
		}
	}
	#logo {
		width: 150px;
		height: 36px;

		@include mobile {
			width: 120px;
			height: 30px;
		}
		img {
			max-width: 100%;
			max-height: 100%;

		}
	}
</style>