<template>
	<div class="progress_holder">
		<div class="progress_bar" :style="{ width: width }"></div>
	</div>
</template>

<script>
	import VueScrollTo from 'vue-scrollto';

	export default {
		data() {
			return {
				step: 0,
				scrollOptions: {
					container: 'main',
					easing: 'ease-in',
					offset: -10,
					y: true,
					x: false
				}
			}
		},
		computed: {
			width() {
				let w = this.step * 16.66;
				w > 90 ? w = 100 : w; 
				return String(w) + '%';
 			}
		},
		watch:{
			$route(route) {
				const to = route.path;
				if (to == '/terms-and-conditions') {
					this.step = 1
				} else if (to == '/form' || to == '/terms-and-form') {
					this.step = 2
				} else if (to == '/upload-photo') {
					this.step = 3
				} else if (to == '/document-validation') {
					this.step = 4
				} else if (to == '/upload-passport' || to == '/upload-card' || to == '/upload-other') {
					this.step = 5
				} else if (to == '/success') {
					this.step = 6
				} 
				this.$nextTick(() => {
					setTimeout(() => {
						VueScrollTo.scrollTo('#scroller', 0, this.scrollOptions);
					}, 100);
				});
			}
		}
	}

</script>

<style lang="scss" scoped>
	@import '../styles/mixins.scss';

	.progress_holder {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 2;
	}
	.progress_bar {
		height: 4px;
		background: $purple;
		transition: width 500ms;
	}
</style>
