<template>
	<div class="input" :class="{'active': active, 'error': error, 'extra': extra, 'textarea': textarea}">
		<textarea v-if="textarea" v-model="inputValue" @focus="onFocus" @blur="onBlur"
			:maxlength="maxLength" :disabled="disabled"></textarea>
		<input v-else :type="type" v-model="inputValue" @focus="onFocus" @blur="onBlur"
			:maxlength="maxLength" :disabled="disabled"/>
		<label>{{label}}</label>
	</div>
</template>

<script>	
	export default {
		data() {
			return {
				active: false
			}
		},
		props: ['label', 'value', 'error', 'type', 'extra', 'textarea', 'maxLength', 'disabled'],
		computed: {
			inputValue: {
				get() { return this.value },
				set(value) {
					this.$emit('input', value)
				}
			}
		},
		methods: {
			onFocus() {
				this.active = true
			},
			onBlur(event) {
				if (this.type === 'number' && isNaN(parseInt(this.value))) {
					this.inputValue = ''
					this.active = false;
				} else {
					if (this.value && this.value.length) {
						this.active = true
					} else {
						this.active = false
					}
				}
			}
		}
	}
	
</script>

<style lang="scss" scoped>
	@import '../styles/mixins.scss';

	.input {
		position: relative;
		height: 54px;
		margin-bottom: 20px;

		label {
			display: block;
			position: absolute;
			line-height: 34px;
			height: 34px;
			color: rgba(#000, .4);
			top: 20px;
			transition: all 300ms;
			pointer-events: none;
			letter-spacing: 1px;

			@include mobile {
				font-size: 14px;
			}
		}
		input {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			line-height: 34px;
			height: 34px;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			box-shadow: none;
			border-radius: 0;
			letter-spacing: 1px;
			border: none;
			border-bottom: 1px solid $grey;
			transition: color 300ms, border-color 300ms;
			padding-right: 50px;
		}
		textarea {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			line-height: 34px;
			height: 103px;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			box-shadow: none;
			border-radius: 0;
			letter-spacing: 1px;
			border: none;
			border-bottom: 1px solid $grey;
			transition: color 300ms, border-color 300ms;
			resize: none;
		}
		&.active {

			label {
				top: 0;
				line-height: 20px;
				font-size: 11px;
			}
		}
		&.error {

			label {
				color: $red;
			}
			input,
			textarea {
				border-color: $red;
				color: $red;
			}
		}
		&.extra {
			padding-right: 50px;
		}
		&.textarea {
			height: 123px;
		}
	}
</style>