<template>
	<label>
		<span class="text_holder">
			{{ comp_text }}
			<span class="icon">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				viewBox="0 0 951.6 911.5" style="enable-background:new 0 0 951.6 911.5;" xml:space="preserve">
				<path fill="#FFFFFF" id="icon" class="st0" d="M845.8,911.5H0V647.2h105.7v158.6h740.1V647.2h105.7v264.3H845.8z M422.9,647.2V202.4L326.3,299
				l-74.7-74.7L401,74.8l0,0L475.8,0l74.7,74.7l149.6,149.6l-74.8,74.7l-96.6-96.6v444.8L422.9,647.2z"/>
				</svg>
			</span>
		</span>
		<span class="input_holder">
			<input type="file" @change="uploaded" accept="image/png, image/jpeg">
		</span>
	</label>
</template>

<script>
	import { globalData } from '../main';

	export default {
		props: ['text'],
		computed: {
			comp_text() {
				if (typeof this.text != 'undefined' || this.text != null) {
					return this.text;
				} else {
					return this.getField('btn_upload_photo');
				}
			}
		},
		methods: {
			uploaded(event) {
				const file = event.target.files[0];
				if (file.type == 'image/jpeg' || file.type == 'image/png' || file.type == 'image/png') {
					globalData.$emit('uploadedFile', file);
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
	@import '../styles/mixins.scss';

	label {
		height: 54px;
		line-height: 50px;
		text-align: center;
		margin-bottom: 20px;
		user-select: none;
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
		transition: background 250ms, box-shadow 250ms, border-color 250ms;
		border-radius: 27px;
		border: 2px solid $purple;
		background: $purple;
		box-shadow: 0px 10px 30px 0px rgba($purple, .3);
		padding: 0 10px;
		width: 180px;
		position: relative;

		.input_holder {
			display: block;
			width: 100%;
			height: 100%;
			overflow: hidden;
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
		}
		.text_holder {
			color: #fff;
			text-transform: uppercase;
			font-size: 14px;
			font-family: $bold;
			position: relative;
			letter-spacing: 1px;
			transition: color 250ms;
			overflow: hidden;
			max-width: 100%;
			text-overflow: ellipsis;
			white-space: nowrap;
			padding-right: 30px;
			position: relative;
			z-index: 1;
			pointer-events: none;
			position: absolute;
			left: 50%;
			transform: translate3d(-50%,0,0);
		}
		.icon {
			position: absolute;
			width: 18px;
			height: 17px;
			right: 0;
			top: 50%;
			margin-top: -9px;
			display: block;

			svg {
				position: absolute;
				width: 18px;
				height: 17px;
				top: 0;
				left: 0;
			}
		}
		&:hover {

			@include no_touch {
				background: $blue;
				box-shadow: 0px 10px 30px 0px rgba($blue, .3);
				border-color: $blue;
			}
		}
	}
</style>