<template>
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 5554.2 3570.6" style="enable-background:new 0 0 5554.2 3570.6;" xml:space="preserve">
    <path id="illustration" class="st0" d="M396.7,3570.6c-219-0.3-396.5-177.7-396.7-396.7V396.7C0.3,177.7,177.7,0.3,396.7,0h4760.7
    c219,0.3,396.5,177.7,396.7,396.7v2777.1c-0.3,219-177.7,396.5-396.7,396.7H396.7z M79.3,396.7v2777.1
    c0.2,175.2,142.2,317.2,317.4,317.4h4760.7c175.2-0.2,317.2-142.2,317.4-317.4V396.7c-0.2-175.2-142.2-317.2-317.4-317.4H396.7
    C221.5,79.5,79.5,221.5,79.3,396.7z M674.4,2975.5h-79.3c-0.3-143.2,28.4-285.1,84.2-417c53.8-127.3,131.7-242.9,229.5-340.5
    c89.1-89.3,193.4-162.2,307.9-215.1c-39.9-27.5-77.3-58.6-111.5-93c-72.5-72.3-130.2-157.9-170-252.2
    c-41.4-97.7-62.6-202.8-62.4-308.9c-0.2-106.1,21-211.1,62.4-308.9c39.8-94.3,97.6-179.9,170-252.2c72.3-72.5,157.9-130.2,252.2-170
    c97.7-41.4,202.8-62.6,308.9-62.4c106.1-0.2,211.1,21,308.8,62.4c94.3,39.8,179.9,97.6,252.2,170c72.5,72.3,130.2,157.9,170.1,252.2
    c41.3,97.7,62.5,202.7,62.3,308.8c0.2,106.1-21,211.1-62.4,308.9c-39.8,94.3-97.6,179.9-170.1,252.2c-34.3,34.3-71.6,65.5-111.6,93
    c114.5,53,218.8,125.8,307.9,215.1c97.8,97.6,175.8,213.2,229.5,340.5c55.9,131.9,84.6,273.7,84.3,416.9h-79.3
    c0.3-132.6-26.3-263.9-78-386c-49.8-117.9-122-224.9-212.6-315.3c-90.3-90.6-197.4-162.8-315.3-212.5c-6.7-2.9-13.5-5.6-20.3-8.3
    c-18.5,9.6-37.5,18.5-56.9,26.7c-97.7,41.4-202.8,62.5-308.8,62.3c-106.1,0.2-211.1-21-308.8-62.4c-19.4-8.2-38.3-17.1-56.9-26.7
    c-6.8,2.6-13.6,5.4-20.4,8.3c-117.8,49.8-224.9,122-315.2,212.5c-90.6,90.3-162.8,197.4-212.6,315.3
    C700.6,2711.5,674.2,2842.8,674.4,2975.5L674.4,2975.5z M1388.6,690.8c-84.8,35.9-161.9,87.8-227,153.1
    c-65.2,65-117.2,142.1-153.1,227c-37.3,87.9-56.5,182.5-56.4,278c-0.2,95.5,18.9,190,56.1,278c35.8,84.9,87.8,161.9,153.1,227
    c65,65.2,142.1,117.2,227,153c87.9,37.2,182.5,56.3,278,56.1c95.5,0.2,190-18.9,278-56.1c84.8-35.8,161.9-87.8,227-153
    c65.2-65,117.2-142.1,153-227c37.2-88,56.3-182.5,56.1-278c0.2-95.5-18.9-190-56.1-277.9c-35.8-84.8-87.8-161.9-153-227
    c-65.1-65.2-142.2-117.2-227-153.1c-87.9-37.2-182.5-56.3-278-56.1c-95.5-0.2-190,18.9-277.9,56.1L1388.6,690.8z M3213.5,2975.5
    v-79.3h1745.6v79.3H3213.5z M3213.5,2499.4V2420h1745.6v79.3H3213.5z M3213.5,1150.5v-79.3H4007v79.3H3213.5z M3213.5,674.4v-79.3
    h1190.2v79.3H3213.5z"/>
  </svg>
</template>
