<template>
  <svg version="1.1" id="Layer_80" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 60 38" style="enable-background:new 0 0 60 38;" xml:space="preserve">
    <path id="illustration" class="st0" d="M5,38c-2.8,0-5-2.2-5-5V5c0-2.8,2.2-5,5-5h50c2.8,0,5,2.2,5,5v28c0,2.8-2.2,5-5,5H5z M2,5v28
    c0,1.7,1.3,3,3,3h50c1.7,0,3-1.3,3-3V5c0-1.7-1.3-3-3-3H5C3.3,2,2,3.3,2,5L2,5z M31,32h-2c0-2.7-1.1-5.2-2.9-7.1
    c-1.1-1.1-2.5-2-4-2.5c-1,0.4-2,0.5-3,0.5c-1,0-2.1-0.2-3-0.5c-1.7,0.5-3.2,1.5-4.4,2.8C9.9,27.1,9,29.5,9,32H7
    c0-3.2,1.3-6.2,3.5-8.5c0.9-0.9,2-1.7,3.1-2.3C11.4,19.5,10,16.9,10,14c0-5,4-9,9-9c5,0,9,4,9,9c0,2.9-1.4,5.5-3.7,7.2
    c1.2,0.6,2.2,1.3,3.2,2.3C29.7,25.8,31,28.8,31,32L31,32L31,32z M12,14c0,3.9,3.1,7,7,7c3.9,0,7-3.1,7-7c0-3.9-3.1-7-7-7
    C15.1,7,12,10.1,12,14L12,14z M35,31v-2h18v2H35z M35,25v-2h18v2H35z M35,15v-2h8v2H35z M35,9V7h12v2H35z"/>
  </svg>
</template>
