<template>
  <div id="logo">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				 viewBox="0 0 150 36.6" style="enable-background:new 0 0 150 36.6;" xml:space="preserve">
			<g transform="translate(0.1)">
				<g transform="translate(48.621 3.771)">
					<path class="st0" d="M2.9,13.6H3c1.2-2.7,3.9-4.4,6.8-4.3c4.2,0,7.3,2.3,7.3,8.1v11.7h-3V17.8c0-3.9-2-5.6-5.1-5.6
						c-3.3,0-6.2,2-6.2,8v8.8H0V0l3,1.1L2.9,13.6L2.9,13.6z"/>
					<path class="st0" d="M41.9,19.4c-0.1,5.7-4.8,10.3-10.5,10.2c-5.6-0.1-10.2-4.6-10.2-10.2C21,13.9,25.4,9.4,30.9,9.2
						c0.2,0,0.5,0,0.7,0C37.6,9.3,41.9,13.5,41.9,19.4z M24.3,19.4c0,4,3.1,7.2,7.1,7.3c4,0,7.2-3.1,7.3-7.1c0-0.1,0-0.1,0-0.2
						c0-4-3.1-7.2-7.1-7.3c-4,0-7.2,3.1-7.3,7.1C24.3,19.3,24.3,19.4,24.3,19.4z"/>
					<path class="st0" d="M66.7,19.4c-0.1,5.7-4.8,10.3-10.5,10.2c-5.6-0.1-10.2-4.6-10.2-10.2c-0.1-5.5,4.2-10.1,9.7-10.2
						c0.2,0,0.5,0,0.7,0C62.3,9.3,66.7,13.5,66.7,19.4z M49.1,19.4c0,4,3.1,7.2,7.1,7.3c4,0,7.2-3.1,7.3-7.1c0-0.1,0-0.1,0-0.2
						c0-4-3.1-7.2-7.1-7.3c-4,0-7.2,3.1-7.3,7.1C49.1,19.3,49.1,19.4,49.1,19.4z"/>
					<path class="st0" d="M80.6,12.7H80c-4.1,0-6.4,2.6-6.4,7.3v9h-3V9.8l3,1.1v3.4h0.1c0.7-2.9,3.3-5,6.4-4.9h0.5L80.6,12.7z"/>
					<path class="st0" d="M84.5,21.4V9.7h3v11.5c0,3.9,2,5.5,4.9,5.5c3.2,0,5.9-2.1,5.9-8.2V9.7h3V29h-3v-3.6h-0.1
						c-1.1,2.6-3.7,4.3-6.5,4.2C87.8,29.7,84.5,27.3,84.5,21.4z"/>
				</g>
				<g transform="translate(-0.1)">
					<path class="st1" d="M23.8,0.6c0-0.3-0.2-0.6-0.6-0.6c0,0,0,0,0,0c-0.3,0-0.5,0.2-0.5,0.5c0,0,0,0,0,0c0,0.3,0.2,0.5,0.5,0.5
						c0,0,0,0,0,0C23.5,1.1,23.8,0.9,23.8,0.6z"/>
					<path class="st1" d="M20.5,0.6C20.5,0.3,20.3,0,20,0s-0.6,0.3-0.6,0.6c0,0.3,0.2,0.5,0.5,0.5c0,0,0,0,0,0
						C20.3,1.1,20.5,0.9,20.5,0.6z"/>
					<path class="st1" d="M29.2,3.8c0,0.3,0.2,0.5,0.5,0.5c0,0,0,0,0,0c0.3,0,0.5-0.2,0.5-0.5c0,0,0,0,0,0c0-0.3-0.2-0.6-0.5-0.6
						C29.4,3.2,29.2,3.5,29.2,3.8C29.2,3.8,29.2,3.8,29.2,3.8z"/>
					<path class="st1" d="M27,0.6C27,0.3,26.8,0,26.5,0C26.2,0,26,0.2,26,0.5c0,0,0,0,0,0c0,0.3,0.2,0.5,0.5,0.5
						C26.8,1.1,27,0.9,27,0.6z"/>
					<path class="st1" d="M24.1,3.8c0-0.5-0.4-0.9-0.9-0.9c-0.5,0-0.9,0.4-0.9,0.9s0.4,0.9,0.9,0.9C23.7,4.6,24.1,4.3,24.1,3.8
						C24.1,3.8,24.1,3.8,24.1,3.8z"/>
					<path class="st1" d="M20.9,3.8c0-0.5-0.4-0.9-0.9-0.9s-0.9,0.4-0.9,0.9s0.4,0.9,0.9,0.9C20.5,4.6,20.9,4.2,20.9,3.8z"/>
					<path class="st1" d="M25.8,3.8c0,0.4,0.3,0.7,0.7,0.7c0.4,0,0.7-0.3,0.7-0.7c0-0.4-0.3-0.7-0.7-0.7C26.1,3.1,25.8,3.4,25.8,3.8z"
						/>
					<path class="st1" d="M24.4,7c0-0.6-0.5-1.1-1.1-1.1S22.1,6.4,22.1,7s0.5,1.1,1.1,1.1C23.9,8.1,24.4,7.6,24.4,7
						C24.4,7,24.4,7,24.4,7z"/>
					<path class="st1" d="M21.1,7c0-0.6-0.5-1.1-1.1-1.1S18.9,6.4,18.9,7s0.5,1.1,1.1,1.1C20.6,8.1,21.1,7.6,21.1,7
						C21.1,7,21.1,7,21.1,7z"/>
					<path class="st1" d="M29,7c0,0.4,0.3,0.7,0.7,0.7s0.7-0.3,0.7-0.7c0-0.4-0.3-0.7-0.7-0.7l0,0C29.3,6.3,29,6.6,29,7z"/>
					<path class="st1" d="M21.5,10.3c0-0.9-0.7-1.6-1.6-1.6s-1.6,0.7-1.6,1.6s0.7,1.6,1.6,1.6C20.8,11.8,21.5,11.1,21.5,10.3
						C21.5,10.3,21.5,10.3,21.5,10.3z"/>
					<path class="st1" d="M24.8,10.3c0-0.9-0.7-1.6-1.6-1.6s-1.6,0.7-1.6,1.6s0.7,1.6,1.6,1.6C24.1,11.8,24.8,11.1,24.8,10.3
						C24.8,10.3,24.8,10.3,24.8,10.3z"/>
					<path class="st1" d="M24.9,13.4c0,0.9,0.7,1.6,1.6,1.6s1.6-0.7,1.6-1.6s-0.7-1.6-1.6-1.6C25.6,11.9,25,12.6,24.9,13.4z"/>
					<path class="st1" d="M24.9,16.7c0,0.9,0.7,1.6,1.6,1.6s1.6-0.7,1.6-1.6s-0.7-1.6-1.6-1.6C25.6,15.1,24.9,15.8,24.9,16.7
						C24.9,16.7,24.9,16.7,24.9,16.7z"/>
					<path class="st1" d="M32.3,10.3c0,0.4,0.3,0.7,0.7,0.7s0.7-0.3,0.7-0.7c0-0.4-0.3-0.7-0.7-0.7l0,0C32.6,9.6,32.3,9.9,32.3,10.3z"
						/>
					<path class="st1" d="M29,10.3c0,0.4,0.3,0.7,0.7,0.7s0.7-0.3,0.7-0.7c0-0.4-0.3-0.7-0.7-0.7l0,0C29.3,9.6,29,9.9,29,10.3z"/>
					<path class="st1" d="M25.8,7c0,0.4,0.3,0.7,0.7,0.7s0.7-0.3,0.7-0.7c0-0.4-0.3-0.7-0.7-0.7l0,0C26.1,6.3,25.8,6.6,25.8,7z"/>
					<path class="st1" d="M35.6,10.3c0,0.3,0.2,0.5,0.5,0.5c0,0,0,0,0,0c0.3,0,0.6-0.2,0.6-0.5c0-0.3-0.2-0.6-0.5-0.6
						C35.9,9.7,35.6,9.9,35.6,10.3z"/>
					<path class="st1" d="M32.4,7c0,0.3,0.2,0.6,0.5,0.6c0.3,0,0.6-0.2,0.6-0.6c0,0,0,0,0,0c0-0.3-0.2-0.5-0.5-0.6c0,0,0,0,0,0
						C32.6,6.5,32.4,6.7,32.4,7z"/>
					<path class="st1" d="M28.6,13.4c0,0.6,0.5,1.1,1.1,1.1s1.1-0.5,1.1-1.1s-0.5-1.1-1.1-1.1C29.1,12.3,28.6,12.8,28.6,13.4
						C28.6,13.4,28.6,13.4,28.6,13.4z"/>
					<path class="st1" d="M32.1,13.4c0,0.5,0.4,0.9,0.9,0.9s0.9-0.4,0.9-0.9s-0.4-0.9-0.9-0.9C32.5,12.6,32.1,13,32.1,13.4z"/>
					<path class="st1" d="M35.6,13.4c0,0.3,0.2,0.5,0.5,0.6c0.3,0,0.6-0.3,0.6-0.6s-0.3-0.6-0.6-0.6C35.9,12.9,35.6,13.1,35.6,13.4z"/>
					<path class="st1" d="M28.6,16.7c0,0.6,0.5,1.1,1.1,1.1s1.1-0.5,1.1-1.1s-0.5-1.1-1.1-1.1C29.1,15.5,28.6,16,28.6,16.7
						C28.6,16.7,28.6,16.7,28.6,16.7z"/>
					<path class="st1" d="M32.1,16.7c0,0.5,0.4,0.9,0.9,0.9s0.9-0.4,0.9-0.9s-0.4-0.9-0.9-0.9C32.5,15.8,32.1,16.2,32.1,16.7z"/>
					<path class="st1" d="M35.6,16.7c0,0.3,0.3,0.6,0.6,0.6c0.3,0,0.5-0.3,0.5-0.6c0-0.3-0.3-0.5-0.6-0.5
						C35.9,16.1,35.6,16.4,35.6,16.7z"/>
					<path class="st1" d="M35.6,23.2c0,0.3,0.2,0.6,0.5,0.6s0.6-0.2,0.6-0.5c0-0.3-0.2-0.6-0.6-0.6c0,0,0,0,0,0
						C35.9,22.6,35.6,22.8,35.6,23.2C35.6,23.1,35.6,23.1,35.6,23.2z"/>
					<path class="st1" d="M35.6,19.9c0,0.3,0.2,0.6,0.5,0.6c0.3,0,0.6-0.2,0.6-0.6c0,0,0,0,0,0c0-0.3-0.2-0.5-0.5-0.5c0,0,0,0,0,0
						C35.9,19.4,35.6,19.6,35.6,19.9z"/>
					<path class="st1" d="M32.4,29.6c0,0.3,0.2,0.5,0.5,0.5c0,0,0,0,0,0c0.3,0,0.6-0.2,0.6-0.5c0-0.3-0.2-0.6-0.6-0.6c0,0,0,0,0,0
						C32.6,29,32.4,29.3,32.4,29.6z"/>
					<path class="st1" d="M35.6,26.4c0,0.3,0.2,0.6,0.5,0.6c0.3,0,0.6-0.2,0.6-0.6c0,0,0,0,0,0c0-0.3-0.2-0.5-0.5-0.5c0,0,0,0,0,0
						C35.9,25.8,35.6,26.1,35.6,26.4z"/>
					<path class="st1" d="M32.1,23.2c0,0.5,0.4,0.9,0.9,0.9s0.9-0.4,0.9-0.9c0-0.5-0.4-0.9-0.9-0.9C32.5,22.3,32.1,22.6,32.1,23.2
						C32.1,23.1,32.1,23.1,32.1,23.2z"/>
					<path class="st1" d="M32.1,19.9c0,0.5,0.4,0.9,0.9,0.9s0.9-0.4,0.9-0.9S33.4,19,32.9,19C32.5,19,32.1,19.4,32.1,19.9z"/>
					<path class="st1" d="M32.3,26.4c0,0.4,0.3,0.7,0.7,0.7s0.7-0.3,0.7-0.7s-0.3-0.7-0.7-0.7l0,0C32.6,25.7,32.3,26,32.3,26.4z"/>
					<path class="st1" d="M28.6,23.2c0,0.6,0.5,1.1,1.1,1.1c0.6,0,1.1-0.5,1.1-1.1S30.3,22,29.7,22c0,0,0,0,0,0
						C29.1,22,28.6,22.5,28.6,23.2C28.6,23.1,28.6,23.1,28.6,23.2z"/>
					<path class="st1" d="M28.6,19.9c0,0.6,0.5,1.1,1.1,1.1s1.1-0.5,1.1-1.1s-0.5-1.1-1.1-1.1l0,0C29.1,18.7,28.6,19.2,28.6,19.9
						C28.6,19.9,28.6,19.9,28.6,19.9z"/>
					<path class="st1" d="M29,29.6c0,0.4,0.3,0.7,0.7,0.7s0.7-0.3,0.7-0.7s-0.3-0.7-0.7-0.7l0,0C29.3,28.9,29,29.2,29,29.6z"/>
					<path class="st1" d="M24.9,19.9c0,0.9,0.7,1.6,1.6,1.6s1.6-0.7,1.6-1.6s-0.7-1.6-1.6-1.6C25.6,18.3,25,19,24.9,19.9z"/>
					<path class="st1" d="M24.9,23.2c0,0.9,0.7,1.6,1.6,1.6S28,24,28,23.2s-0.7-1.6-1.6-1.6C25.6,21.6,24.9,22.3,24.9,23.2
						C24.9,23.2,24.9,23.2,24.9,23.2z"/>
					<path class="st1" d="M24.8,26.4c0-0.9-0.7-1.6-1.6-1.6s-1.6,0.7-1.6,1.6s0.7,1.6,1.6,1.6C24.1,27.9,24.8,27.2,24.8,26.4
						C24.8,26.4,24.8,26.4,24.8,26.4z"/>
					<path class="st1" d="M21.5,26.4c0-0.9-0.7-1.6-1.6-1.6s-1.6,0.7-1.6,1.6s0.7,1.6,1.6,1.6C20.8,27.9,21.5,27.2,21.5,26.4
						C21.5,26.4,21.5,26.4,21.5,26.4z"/>
					<path class="st1" d="M25.8,32.8c0,0.4,0.3,0.7,0.7,0.7s0.7-0.3,0.7-0.7s-0.3-0.7-0.7-0.7l0,0C26.1,32.1,25.8,32.4,25.8,32.8
						C25.8,32.8,25.8,32.8,25.8,32.8z"/>
					<path class="st1" d="M25.8,29.6c0,0.4,0.3,0.7,0.7,0.7s0.7-0.3,0.7-0.7s-0.3-0.7-0.7-0.7l0,0C26.1,28.9,25.8,29.2,25.8,29.6z"/>
					<path class="st1" d="M25.4,26.4c0,0.6,0.5,1.1,1,1.1c0,0,0,0,0,0c0.6,0,1.1-0.5,1.1-1.1c0-0.6-0.5-1.1-1-1.1c0,0,0,0,0,0
						C25.9,25.3,25.4,25.8,25.4,26.4z"/>
					<path class="st1" d="M11.3,26.4c0-0.6-0.5-1.1-1-1.1c0,0,0,0,0,0c-0.6,0-1.1,0.5-1.1,1.1c0,0.6,0.5,1.1,1.1,1.1
						S11.3,26.9,11.3,26.4z"/>
					<path class="st1" d="M25.4,10.3c0,0.6,0.5,1.1,1.1,1.1c0.6,0,1.1-0.5,1.1-1.1c0-0.6-0.5-1.1-1.1-1.1l0,0
						C25.9,9.2,25.4,9.6,25.4,10.3C25.4,10.2,25.4,10.2,25.4,10.3z"/>
					<path class="st1" d="M11.3,10.3c0-0.6-0.5-1.1-1.1-1.1c-0.6,0-1.1,0.5-1.1,1.1c0,0.6,0.5,1.1,1.1,1.1
						C10.8,11.3,11.3,10.8,11.3,10.3z"/>
					<path class="st1" d="M29,26.4c0,0.4,0.3,0.7,0.7,0.7s0.7-0.3,0.7-0.7s-0.3-0.7-0.7-0.7l0,0C29.3,25.7,29,26,29,26.4z"/>
					<path class="st1" d="M25.9,36.1c0,0.3,0.2,0.5,0.5,0.5c0,0,0,0,0,0c0.3,0,0.6-0.2,0.6-0.5c0-0.3-0.2-0.5-0.5-0.5c0,0,0,0,0,0
						C26.2,35.5,25.9,35.8,25.9,36.1C25.9,36,25.9,36,25.9,36.1z"/>
					<path class="st1" d="M29.2,32.8c0,0.3,0.2,0.5,0.5,0.5c0,0,0,0,0,0c0.3,0,0.5-0.2,0.6-0.5c0-0.3-0.2-0.5-0.5-0.5c0,0,0,0,0,0
						C29.5,32.3,29.2,32.5,29.2,32.8C29.2,32.8,29.2,32.8,29.2,32.8z"/>
					<ellipse class="st1" cx="23.2" cy="29.6" rx="1.1" ry="1.1"/>
					<path class="st1" d="M24.1,32.8c0-0.5-0.4-0.9-0.9-0.9s-0.9,0.4-0.9,0.9c0,0.5,0.4,0.9,0.9,0.9C23.7,33.7,24.1,33.3,24.1,32.8
						C24.1,32.9,24.1,32.8,24.1,32.8z"/>
					<path class="st1" d="M23.8,36.1c0-0.3-0.2-0.5-0.5-0.5c0,0,0,0,0,0c-0.3,0-0.5,0.2-0.5,0.5c0,0.3,0.2,0.5,0.5,0.5
						C23.5,36.6,23.8,36.4,23.8,36.1z"/>
					<path class="st1" d="M21.1,29.6c0-0.6-0.5-1.1-1.1-1.1s-1.1,0.5-1.1,1.1s0.5,1.1,1.1,1.1C20.6,30.7,21.1,30.2,21.1,29.6
						C21.1,29.6,21.1,29.6,21.1,29.6z"/>
					<path class="st1" d="M20.9,32.8c0-0.5-0.4-0.9-0.9-0.9s-0.9,0.4-0.9,0.9c0,0.5,0.4,0.9,0.9,0.9C20.5,33.7,20.9,33.3,20.9,32.8z"/>
					<path class="st1" d="M20.5,36.1c0-0.3-0.2-0.5-0.5-0.5c0,0,0,0,0,0c-0.3,0-0.5,0.2-0.5,0.5c0,0.3,0.2,0.5,0.5,0.5
						C20.3,36.6,20.5,36.4,20.5,36.1C20.5,36.1,20.5,36.1,20.5,36.1z"/>
					<path class="st1" d="M14,36.1c0-0.3-0.2-0.5-0.5-0.5c0,0,0,0,0,0c-0.3,0-0.5,0.2-0.5,0.5c0,0,0,0,0,0.1c0,0.3,0.2,0.5,0.5,0.5
						c0,0,0,0,0,0C13.8,36.6,14,36.4,14,36.1C14,36.1,14,36.1,14,36.1z"/>
					<path class="st1" d="M17.3,36.1c0-0.3-0.2-0.5-0.5-0.5c0,0,0,0,0,0c-0.3,0-0.5,0.2-0.5,0.5c0,0,0,0,0,0.1c0,0.3,0.2,0.5,0.5,0.5
						C17,36.6,17.3,36.3,17.3,36.1z"/>
					<path class="st1" d="M7.6,32.8c0-0.3-0.2-0.5-0.5-0.5c0,0,0,0,0,0c-0.3,0-0.6,0.2-0.6,0.5c0,0.3,0.2,0.5,0.5,0.5c0,0,0,0,0.1,0
						C7.4,33.4,7.6,33.1,7.6,32.8z"/>
					<path class="st1" d="M10.8,36.1c0-0.3-0.2-0.5-0.5-0.5c0,0,0,0,0,0c-0.3,0-0.6,0.2-0.6,0.5c0,0.3,0.2,0.5,0.5,0.5c0,0,0,0,0,0
						C10.6,36.6,10.8,36.4,10.8,36.1C10.8,36.1,10.8,36.1,10.8,36.1z"/>
					<path class="st1" d="M14.4,32.8c0-0.5-0.4-0.9-0.9-0.9s-0.9,0.4-0.9,0.9c0,0.5,0.4,0.9,0.9,0.9C14,33.7,14.3,33.3,14.4,32.8z"/>
					<path class="st1" d="M17.6,32.8c0-0.5-0.4-0.9-0.9-0.9s-0.9,0.4-0.9,0.9c0,0.5,0.4,0.9,0.9,0.9C17.2,33.7,17.6,33.3,17.6,32.8
						C17.6,32.9,17.6,32.8,17.6,32.8z"/>
					<path class="st1" d="M10.9,32.8c0-0.4-0.3-0.7-0.7-0.7s-0.7,0.3-0.7,0.7s0.3,0.7,0.7,0.7l0,0C10.6,33.5,10.9,33.2,10.9,32.8z"/>
					<path class="st1" d="M14.6,29.6c0-0.6-0.5-1.1-1.1-1.1s-1.1,0.5-1.1,1.1s0.5,1.1,1.1,1.1C14.1,30.7,14.6,30.2,14.6,29.6
						C14.6,29.6,14.6,29.6,14.6,29.6z"/>
					<path class="st1" d="M17.9,29.6c0-0.6-0.5-1.1-1.1-1.1s-1.1,0.5-1.1,1.1s0.5,1.1,1.1,1.1C17.4,30.7,17.9,30.2,17.9,29.6
						C17.9,29.6,17.9,29.6,17.9,29.6z"/>
					<path class="st1" d="M7.7,29.6c0-0.4-0.3-0.7-0.7-0.7s-0.7,0.3-0.7,0.7s0.3,0.7,0.7,0.7l0,0C7.4,30.3,7.7,30,7.7,29.6
						C7.7,29.6,7.7,29.6,7.7,29.6z"/>
					<path class="st1" d="M18.3,26.4c0-0.9-0.7-1.6-1.6-1.6s-1.6,0.7-1.6,1.6s0.7,1.6,1.6,1.6C17.6,27.9,18.3,27.2,18.3,26.4
						C18.3,26.4,18.3,26.4,18.3,26.4z"/>
					<path class="st1" d="M15,26.4c0-0.9-0.7-1.6-1.6-1.6s-1.6,0.7-1.6,1.6s0.7,1.6,1.6,1.6C14.3,27.9,15,27.3,15,26.4
						C15,26.4,15,26.4,15,26.4z"/>
					<path class="st1" d="M11.8,23.2c0-0.9-0.7-1.6-1.6-1.6s-1.6,0.7-1.6,1.6s0.7,1.6,1.6,1.6C11.1,24.7,11.8,24,11.8,23.2z"/>
					<path class="st1" d="M11.8,19.9c0-0.9-0.7-1.6-1.6-1.6S8.7,19,8.7,19.9s0.7,1.6,1.6,1.6C11.1,21.4,11.8,20.7,11.8,19.9
						C11.8,19.9,11.8,19.9,11.8,19.9z"/>
					<path class="st1" d="M4.5,26.4c0-0.4-0.3-0.7-0.7-0.7S3.1,26,3.1,26.4c0,0.4,0.3,0.7,0.7,0.7c0,0,0,0,0,0
						C4.1,27.1,4.5,26.8,4.5,26.4C4.5,26.4,4.5,26.4,4.5,26.4z"/>
					<path class="st1" d="M7.7,26.4c0-0.4-0.3-0.7-0.7-0.7S6.4,26,6.4,26.4s0.3,0.7,0.7,0.7l0,0C7.4,27.1,7.7,26.8,7.7,26.4
						C7.7,26.4,7.7,26.4,7.7,26.4z"/>
					<path class="st1" d="M10.9,29.6c0-0.4-0.3-0.7-0.7-0.7s-0.7,0.3-0.7,0.7s0.3,0.7,0.7,0.7l0,0C10.6,30.3,10.9,30,10.9,29.6
						C10.9,29.6,10.9,29.6,10.9,29.6z"/>
					<path class="st1" d="M1.1,26.4c0-0.3-0.2-0.5-0.5-0.5c0,0,0,0,0,0c-0.3,0-0.5,0.2-0.6,0.5c0,0.3,0.2,0.6,0.5,0.6
						C0.9,26.9,1.1,26.7,1.1,26.4C1.1,26.4,1.1,26.4,1.1,26.4z"/>
					<path class="st1" d="M4.3,29.6c0-0.3-0.2-0.6-0.5-0.6c-0.3,0-0.6,0.3-0.6,0.6s0.3,0.6,0.6,0.6C4.1,30.1,4.3,29.9,4.3,29.6z"/>
					<path class="st1" d="M8.2,23.2c0-0.6-0.5-1.1-1.1-1.1S6,22.5,6,23.2s0.5,1.1,1.1,1.1C7.7,24.3,8.2,23.8,8.2,23.2z"/>
					<path class="st1" d="M4.7,23.2c0-0.5-0.4-0.9-0.9-0.9s-0.9,0.4-0.9,0.9c0,0.5,0.4,0.9,0.9,0.9C4.3,24,4.7,23.6,4.7,23.2z"/>
					<path class="st1" d="M1.1,23.2c0-0.3-0.2-0.5-0.5-0.5c0,0,0,0,0,0c-0.3,0-0.5,0.2-0.6,0.4c0,0,0,0.1,0,0.1c0,0.3,0.2,0.6,0.5,0.6
						C0.9,23.7,1.1,23.5,1.1,23.2z"/>
					<path class="st1" d="M8.2,19.9c0-0.6-0.5-1.1-1.1-1.1S6,19.3,6,19.9S6.5,21,7.1,21l0,0C7.7,21,8.2,20.5,8.2,19.9
						C8.2,19.9,8.2,19.9,8.2,19.9z"/>
					<path class="st1" d="M4.7,19.9c0-0.5-0.4-0.9-0.9-0.9s-0.9,0.4-0.9,0.9c0,0.5,0.4,0.9,0.9,0.9C4.3,20.8,4.6,20.4,4.7,19.9
						C4.7,19.9,4.7,19.9,4.7,19.9z"/>
					<path class="st1" d="M1.1,19.9c0-0.3-0.2-0.5-0.5-0.5c0,0,0,0,0,0c-0.3,0-0.5,0.2-0.5,0.5c0,0,0,0,0,0.1c0,0.3,0.2,0.6,0.5,0.6
						C0.9,20.4,1.1,20.2,1.1,19.9C1.1,19.9,1.1,19.9,1.1,19.9z"/>
					<path class="st1" d="M1.1,13.4c0-0.3-0.2-0.5-0.5-0.5c0,0,0,0,0,0c-0.3,0-0.5,0.2-0.5,0.5c0,0,0,0,0,0C0,13.7,0.3,14,0.6,14
						c0,0,0,0,0,0C0.9,14,1.1,13.8,1.1,13.4C1.1,13.4,1.1,13.4,1.1,13.4z"/>
					<path class="st1" d="M1.1,16.7c0-0.3-0.2-0.5-0.5-0.5c0,0,0,0,0,0c-0.3,0-0.5,0.2-0.6,0.5c0,0.3,0.2,0.5,0.5,0.5c0,0,0,0,0.1,0
						C0.8,17.2,1.1,17,1.1,16.7C1.1,16.7,1.1,16.7,1.1,16.7z"/>
					<path class="st1" d="M4.3,7c0-0.3-0.2-0.6-0.5-0.6C3.5,6.4,3.2,6.7,3.2,7c0,0,0,0,0,0c0,0.3,0.2,0.5,0.5,0.5c0,0,0,0,0.1,0
						C4.1,7.6,4.3,7.3,4.3,7C4.3,7.1,4.3,7,4.3,7z"/>
					<path class="st1" d="M1.1,10.3c0-0.3-0.2-0.6-0.6-0.6c0,0,0,0,0,0C0.3,9.7,0,10,0,10.3c0,0.3,0.2,0.5,0.5,0.5c0,0,0,0,0,0
						C0.9,10.8,1.1,10.6,1.1,10.3C1.1,10.3,1.1,10.3,1.1,10.3z"/>
					<path class="st1" d="M4.7,13.4c0-0.5-0.4-0.9-0.9-0.9S2.9,13,2.9,13.4c0,0.5,0.4,0.9,0.9,0.9C4.3,14.3,4.6,13.9,4.7,13.4
						C4.7,13.5,4.7,13.4,4.7,13.4z"/>
					<path class="st1" d="M4.7,16.7c0-0.5-0.4-0.9-0.9-0.9s-0.9,0.4-0.9,0.9c0,0.5,0.4,0.9,0.9,0.9C4.3,17.5,4.7,17.1,4.7,16.7z"/>
					<path class="st1" d="M4.5,10.3c0-0.4-0.3-0.7-0.7-0.7s-0.7,0.3-0.7,0.7c0,0.4,0.3,0.7,0.7,0.7c0,0,0,0,0,0
						C4.2,10.9,4.5,10.6,4.5,10.3z"/>
					<path class="st1" d="M8.2,13.4c0-0.6-0.5-1.1-1.1-1.1S6,12.8,6,13.4s0.5,1.1,1.1,1.1C7.7,14.6,8.2,14.1,8.2,13.4
						C8.2,13.4,8.2,13.4,8.2,13.4z"/>
					<path class="st1" d="M8.2,16.7c0-0.6-0.5-1.1-1.1-1.1S6,16,6,16.7s0.5,1.1,1.1,1.1C7.7,17.8,8.2,17.3,8.2,16.7
						C8.2,16.7,8.2,16.7,8.2,16.7z"/>
					<path class="st1" d="M7.7,7c0-0.4-0.3-0.7-0.7-0.7S6.4,6.6,6.4,7c0,0.4,0.3,0.7,0.7,0.7l0,0C7.4,7.7,7.7,7.4,7.7,7
						C7.7,7,7.7,7,7.7,7z"/>
					<path class="st1" d="M11.8,16.7c0-0.9-0.7-1.6-1.6-1.6s-1.6,0.7-1.6,1.6s0.7,1.6,1.6,1.6C11.1,18.2,11.8,17.5,11.8,16.7
						C11.8,16.7,11.8,16.7,11.8,16.7z"/>
					<path class="st1" d="M11.8,13.4c0-0.9-0.7-1.6-1.6-1.6s-1.6,0.7-1.6,1.6S9.4,15,10.3,15C11.1,15,11.8,14.3,11.8,13.4
						C11.8,13.4,11.8,13.4,11.8,13.4z"/>
					<path class="st1" d="M15,10.3c0-0.9-0.7-1.6-1.6-1.6s-1.6,0.7-1.6,1.6s0.7,1.6,1.6,1.6C14.3,11.8,15,11.1,15,10.3
						C15,10.3,15,10.3,15,10.3z"/>
					<path class="st1" d="M18.3,10.3c0-0.9-0.7-1.6-1.6-1.6s-1.6,0.7-1.6,1.6s0.7,1.6,1.6,1.6C17.6,11.8,18.3,11.1,18.3,10.3
						C18.3,10.3,18.3,10.3,18.3,10.3z"/>
					<path class="st1" d="M10.9,3.8c0-0.4-0.3-0.7-0.7-0.7c-0.4,0-0.7,0.3-0.7,0.7c0,0.4,0.3,0.7,0.7,0.7l0,0
						C10.6,4.5,10.9,4.1,10.9,3.8z"/>
					<path class="st1" d="M10.9,7c0-0.4-0.3-0.7-0.7-0.7S9.6,6.6,9.6,7c0,0.4,0.3,0.7,0.7,0.7l0,0C10.6,7.7,10.9,7.4,10.9,7
						C10.9,7,10.9,7,10.9,7z"/>
					<path class="st1" d="M7.7,10.3c0-0.4-0.3-0.7-0.7-0.7s-0.7,0.3-0.7,0.7c0,0.4,0.3,0.7,0.7,0.7l0,0C7.4,10.9,7.7,10.6,7.7,10.3z"/>
					<path class="st1" d="M10.8,0.6c0-0.3-0.2-0.5-0.5-0.6c0,0,0,0,0,0C10,0,9.7,0.2,9.7,0.6c0,0,0,0,0,0c0,0.3,0.2,0.5,0.5,0.5
						c0,0,0,0,0,0C10.6,1.1,10.8,0.9,10.8,0.6C10.8,0.6,10.8,0.6,10.8,0.6z"/>
					<path class="st1" d="M7.6,3.8c0-0.3-0.2-0.6-0.5-0.6c-0.3,0-0.6,0.2-0.6,0.6c0,0,0,0,0,0c0,0.3,0.2,0.5,0.5,0.5c0,0,0,0,0,0
						C7.3,4.3,7.6,4.1,7.6,3.8z"/>
					<path class="st1" d="M14.6,7c0-0.6-0.5-1.1-1.1-1.1S12.4,6.4,12.4,7s0.5,1.1,1.1,1.1C14.1,8.2,14.6,7.7,14.6,7
						C14.6,7,14.6,7,14.6,7z"/>
					<path class="st1" d="M14.4,3.8c0-0.5-0.4-0.9-0.9-0.9s-0.9,0.4-0.9,0.9s0.4,0.9,0.9,0.9C14,4.6,14.3,4.2,14.4,3.8z"/>
					<path class="st1" d="M14,0.6C14,0.3,13.8,0,13.5,0c0,0,0,0,0,0c-0.3,0-0.5,0.3-0.5,0.6c0,0.3,0.2,0.5,0.5,0.5c0,0,0,0,0,0
						C13.8,1.1,14,0.9,14,0.6C14,0.6,14,0.6,14,0.6z"/>
					<path class="st1" d="M17.9,7c0-0.6-0.5-1.1-1.1-1.1S15.6,6.4,15.6,7s0.5,1.1,1.1,1.1C17.4,8.1,17.9,7.6,17.9,7
						C17.9,7,17.9,7,17.9,7z"/>
					<path class="st1" d="M17.6,3.8c0-0.5-0.4-0.9-0.9-0.9s-0.9,0.4-0.9,0.9s0.4,0.9,0.9,0.9C17.2,4.6,17.6,4.3,17.6,3.8
						C17.6,3.8,17.6,3.8,17.6,3.8z"/>
					<path class="st1" d="M17.3,0.5C17.3,0.2,17,0,16.8,0c0,0,0,0,0,0c-0.3,0-0.6,0.2-0.6,0.6c0,0,0,0,0,0c0,0.3,0.2,0.5,0.5,0.5
						c0,0,0,0,0,0C17,1.1,17.3,0.8,17.3,0.5C17.3,0.5,17.3,0.5,17.3,0.5z"/>
					<path class="st1" d="M21.6,23.2c0-0.9-0.7-1.6-1.6-1.6c-0.9,0-1.6,0.7-1.6,1.6c0,0.9,0.7,1.6,1.6,1.6C20.9,24.7,21.6,24,21.6,23.2
						z"/>
					<path class="st1" d="M24.8,23.2c0-0.9-0.7-1.6-1.6-1.6c-0.9,0-1.6,0.7-1.6,1.6c0,0.9,0.7,1.6,1.6,1.6C24.1,24.7,24.8,24,24.8,23.2
						z"/>
					<path class="st1" d="M21.6,19.9c0-0.9-0.7-1.6-1.6-1.6s-1.6,0.7-1.6,1.6s0.7,1.6,1.6,1.6h0C20.9,21.5,21.6,20.8,21.6,19.9z"/>
					<path class="st1" d="M24.8,19.9c0-0.9-0.7-1.6-1.6-1.6c-0.9,0-1.6,0.7-1.6,1.6c0,0.9,0.7,1.6,1.6,1.6
						C24.1,21.5,24.8,20.8,24.8,19.9z"/>
					<path class="st1" d="M21.6,16.7c0-0.9-0.7-1.6-1.6-1.6s-1.6,0.7-1.6,1.6s0.7,1.6,1.6,1.6h0C20.9,18.3,21.6,17.6,21.6,16.7z"/>
					<path class="st1" d="M24.8,16.7c0-0.9-0.7-1.6-1.6-1.6c-0.9,0-1.6,0.7-1.6,1.6c0,0.9,0.7,1.6,1.6,1.6
						C24.1,18.3,24.8,17.6,24.8,16.7z"/>
					<path class="st1" d="M21.6,13.4c0-0.9-0.7-1.6-1.6-1.6s-1.6,0.7-1.6,1.6S19.1,15,20,15h0C20.9,15,21.6,14.3,21.6,13.4z"/>
					<path class="st1" d="M24.8,13.4c0-0.9-0.7-1.6-1.6-1.6c-0.9,0-1.6,0.7-1.6,1.6c0,0.9,0.7,1.6,1.6,1.6C24.1,15,24.8,14.3,24.8,13.4
						z"/>
					<path class="st1" d="M15.1,23.2c0-0.9-0.7-1.6-1.6-1.6c-0.9,0-1.6,0.7-1.6,1.6c0,0.9,0.7,1.6,1.6,1.6C14.4,24.7,15.1,24,15.1,23.2
						z"/>
					<path class="st1" d="M18.3,23.2c0-0.9-0.7-1.6-1.6-1.6c-0.9,0-1.6,0.7-1.6,1.6c0,0.9,0.7,1.6,1.6,1.6C17.6,24.7,18.3,24,18.3,23.2
						z"/>
					<path class="st1" d="M15.1,19.9c0-0.9-0.7-1.6-1.6-1.6s-1.6,0.7-1.6,1.6s0.7,1.6,1.6,1.6h0C14.4,21.5,15.1,20.8,15.1,19.9z"/>
					<path class="st1" d="M18.3,19.9c0-0.9-0.7-1.6-1.6-1.6s-1.6,0.7-1.6,1.6s0.7,1.6,1.6,1.6h0C17.6,21.5,18.3,20.8,18.3,19.9z"/>
					<path class="st1" d="M15.1,16.7c0-0.9-0.7-1.6-1.6-1.6s-1.6,0.7-1.6,1.6s0.7,1.6,1.6,1.6h0C14.4,18.3,15.1,17.6,15.1,16.7z"/>
					<path class="st1" d="M18.3,16.7c0-0.9-0.7-1.6-1.6-1.6s-1.6,0.7-1.6,1.6s0.7,1.6,1.6,1.6h0C17.6,18.3,18.3,17.6,18.3,16.7z"/>
					<path class="st1" d="M15.1,13.4c0-0.9-0.7-1.6-1.6-1.6s-1.6,0.7-1.6,1.6s0.7,1.6,1.6,1.6h0C14.4,15,15.1,14.3,15.1,13.4z"/>
					<path class="st1" d="M18.3,13.4c0-0.9-0.7-1.6-1.6-1.6s-1.6,0.7-1.6,1.6s0.7,1.6,1.6,1.6h0C17.6,15,18.3,14.3,18.3,13.4z"/>
				</g>
			</g>
			</svg>
  </div>
</template>

<style lang="scss" scoped>
@import '../../styles/mixins.scss';

#logo {
	@include mobile {
		width: 120px;
		height: 30px;
	}
}
.st0{fill:#231F20;}
.st1{fill:#6F00FF;}
</style>