<template>
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 90 69" style="enable-background:new 0 0 90 69;" xml:space="preserve">
    <path id="Union_97" class="st0" d="M32,69c-2.8,0-5-2.2-5-5V44c0-2.8,2.2-5,5-5h2.9c-0.6-2.7-3.2-4.5-5.9-3.9
    c-2.7,0.6-4.5,3.2-3.9,5.9c0.2,1.2,0.9,2.3,1.9,3v2.3c-1.2-0.6-2.2-1.4-2.9-2.5c-2.1-3.3-1.1-7.6,2.1-9.7c2.6-1.7,6-1.4,8.4,0.6
    c1.3,1.1,2.1,2.6,2.3,4.3H44V5c0-1.7-1.3-3-3-3H15v13H2v35c0,1.7,1.3,3,3,3h22v2H5c-2.8,0-5-2.2-5-5V13h0l0,0L13,0l0,0h28
    c2.8,0,5,2.2,5,5v34h22c2.8,0,5,2.2,5,5v4c3.9,0,7-3.1,7-7s-3.1-7-7-7c-1.5,0-3,0.5-4.2,1.4c-1.2,0.9-2.1,2.2-2.5,3.6h-2.1
    c1.1-4.8,5.9-7.9,10.8-6.8c4.8,1.1,7.9,5.9,6.8,10.8c-0.9,4.1-4.6,7-8.8,7v3h4v2h-4v4h12c1.7,0,3-1.3,3-3V26c0-1.7-1.3-3-3-3H58v16
    h-2V21h29c2.8,0,5,2.2,5,5v30c0,2.8-2.2,5-5,5H73v3c0,2.8-2.2,5-5,5H32z M29,44v20c0,1.7,1.3,3,3,3h36c1.7,0,3-1.3,3-3V44
    c0-1.7-1.3-3-3-3H32C30.3,41,29,42.4,29,44L29,44z M2.8,13H13V2.8L2.8,13z M53,64v-2h14v2H53z M46,59.1c-2.7-2.7-7.2-2.7-9.9,0
    c-1.3,1.3-2,3.1-2.1,4.9h-2c0-1.9,0.6-3.8,1.8-5.4c0.9-1.2,2.2-2.2,3.6-2.8c-2.6-2-3.1-5.8-1.1-8.4c2-2.6,5.8-3.1,8.4-1.1
    s3.1,5.8,1.1,8.4c-0.3,0.4-0.7,0.8-1.1,1.1c1.4,0.6,2.6,1.6,3.6,2.8c1.2,1.6,1.8,3.5,1.8,5.4h-2C48,62.2,47.3,60.4,46,59.1z M37,51
    c0,2.2,1.8,4,4,4s4-1.8,4-4s-1.8-4-4-4C38.8,47,37,48.8,37,51L37,51z M53,59v-2h14v2H53z M53,52v-2h7v2H53z M53,47v-2h10v2H53z
    M8,47v-2h12v2H8z M8,41v-2h12v2H8z M8,35v-2h12v2H8z M8,29v-2h28v2H8z M66,29v-2h14v2H66z M8,23v-2h28v2H8z M23,15v-2h13.6v2H23z
  M23,9V7h13.6v2H23z"/>
  </svg>
</template>
