<template>
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 1601.3 1227.4" style="enable-background:new 0 0 1601.3 1227.4;" xml:space="preserve">
    <path id="illustration" class="st0" d="M555.2,1227.4c-32.3,0-58.4-26.2-58.4-58.4V759.9c0-32.3,26.2-58.4,58.4-58.4h701.3
    c29.4,0,54.1,21.8,58,50.9c-0.1-1.1-0.3-2.2-0.5-3.3h59.4c-0.1-18.4-2.1-36.7-5.8-54.7c-21,5.2-42.6,7.9-64.3,8v22.5
    c-3.3-4.4-7.3-8.4-11.7-11.7v-10.9c-21.6-0.5-43.1-3.7-63.9-9.3c-0.6,2.7-1.2,5.6-1.7,8.5h-11.7c0.7-4.1,1.5-8.1,2.4-11.9
    c-10.3-3.4-20.3-7.7-29.9-12.9c-3.8-2.1-7.5-4.3-10.9-6.6c-5,7.6-9.3,15.6-12.8,23.9c-1,2.5-2,5-2.9,7.4h-12.4c1.3-4,2.9-8.1,4.5-12
    c24.2-57.4,79.4-95.6,141.7-98.1c1.1-0.1,2.3-0.1,3.5-0.1c0.3,0,0.7,0,1,0c0.6,0,1.3,0,1.9,0c88.8,0,160.7,72,160.6,160.8
    c0,83-63.3,152.4-146,160l0,0v76.7h49.1v11.7H1315v98.4h227.9c25.8,0,46.7-20.9,46.8-46.8V444.3c0-25.8-20.9-46.7-46.8-46.8h-537.7
    v303.9h-11.7V385.9h549.4c32.3,0,58.4,26.2,58.4,58.4v607.8c0,32.3-26.2,58.4-58.4,58.4H1315v58.4c0,32.3-26.2,58.4-58.4,58.4H555.2
    z M508.5,759.9V1169c0,25.8,20.9,46.7,46.8,46.8h701.3c25.8,0,46.7-20.9,46.8-46.8V759.9c0-25.8-20.9-46.7-46.8-46.8H555.2
    C529.4,713.2,508.5,734.1,508.5,759.9z M1315,897.1c4.3-2,8.4-4.6,12-7.7c10.1-8.9,18.3-19.8,24.1-31.9c5-10,9.1-20.4,12.2-31.1
    c-15.9-3.7-32.1-6-48.4-6.7L1315,897.1z M1359.4,865.7c-6.1,11.7-14.3,22.3-24,31.2c26.6-6.4,50.9-20.1,70.3-39.5
    c3.3-3.4,6.6-6.9,9.6-10.5c-2.9-1.8-6.1-3.6-9.6-5.4c-10.1-5.1-20.6-9.2-31.4-12.3C1370.6,841.9,1365.6,854.1,1359.4,865.7
    L1359.4,865.7z M1377.4,818.2c12.7,3.7,25,8.7,36.6,15c2.7,1.5,5.4,3.1,8.1,4.8c16.1-22.7,25.4-49.4,27-77.2H1385
    C1384.5,780.2,1381.9,799.4,1377.4,818.2L1377.4,818.2z M1366.3,815.2c4.2-17.9,6.5-36.1,7-54.4H1315v47.1
    C1332.3,808.7,1349.4,811.2,1366.3,815.2L1366.3,815.2z M1315,759.9L1315,759.9z M1315,759.4c0-0.1,0-0.1,0-0.2
    C1315,759.3,1315,759.3,1315,759.4L1315,759.4z M1315,759c0,0,0-0.1,0-0.1C1315,758.9,1315,758.9,1315,759L1315,759z M1315,758.6
    C1315,758.6,1315,758.5,1315,758.6C1315,758.5,1315,758.6,1315,758.6L1315,758.6z M1315,758.2L1315,758.2z M1414,676.7
    c-11.3,6-23.1,10.9-35.3,14.6c4.1,19,6.3,38.4,6.4,57.8h64.2c-0.5-28.1-9-55.5-24.5-79C1421.4,672.4,1417.7,674.6,1414,676.7
    L1414,676.7z M1303.3,690.7c20.7-0.1,41.4-2.6,61.6-7.4c-3.3-12.6-7.9-24.9-13.7-36.6c-5.8-12.2-14-23-24.1-31.9
    c-6.7-5.9-14.9-9.8-23.7-11.3V690.7z M1267.9,614.7c-10.1,8.9-18.3,19.8-24.1,31.9c-5.6,11.2-10.1,23-13.3,35.2
    c20,5.3,40.5,8.2,61.2,8.7v-87.1C1282.8,605,1274.6,608.9,1267.9,614.7L1267.9,614.7z M1335.4,607.1c9.8,8.9,17.9,19.5,24,31.2
    c7.1,13.3,12.6,27.3,16.5,41.8c10.3-3,20.2-7,29.8-11.8c4.4-2.2,8.6-4.7,12.7-7.3c-3.9-5.1-8.2-9.9-12.7-14.4
    C1386.4,627.2,1362.1,613.6,1335.4,607.1L1335.4,607.1z M1242.4,614.7c-17.7,7.5-33.8,18.3-47.4,31.9c-4.5,4.5-8.8,9.3-12.7,14.4
    c4.1,2.7,8.3,5.1,12.7,7.3c7.9,4,16.1,7.4,24.4,10.1c3.8-13.9,9.2-27.4,16-40.1c5.6-10.7,12.9-20.5,21.5-29
    C1252,610.9,1247.1,612.7,1242.4,614.7L1242.4,614.7z M596.1,1139.8h-11.7c0-61.5,35.8-117.4,91.6-143.3
    c-53.1-36.6-66.5-109.3-29.9-162.4s109.3-66.5,162.4-29.9s66.5,109.3,29.9,162.4c-8.1,11.7-18.2,21.9-29.9,29.9
    c55.9,25.8,91.6,81.7,91.6,143.3h-11.7l0,0l0,0c0-58.7-35.2-111.7-89.2-134.6c-1-0.4-2-0.8-3-1.2c-2.7,1.4-5.5,2.7-8.4,3.9
    c-29.1,12.2-61.9,12.2-91,0c-2.9-1.2-5.7-2.5-8.4-3.9c-1,0.4-2,0.8-3,1.2C631.2,1028,596.1,1081,596.1,1139.8L596.1,1139.8
    L596.1,1139.8z M701.3,803.2c-53.7,22.6-79,84.5-56.4,138.3c22.6,53.7,84.5,79,138.3,56.4c53.7-22.6,79-84.5,56.4-138.3
    c-16.5-39.2-54.8-64.6-97.3-64.6C728.2,794.9,714.3,797.7,701.3,803.2L701.3,803.2z M970.1,1139.8v-11.7h257.1v11.7H970.1z
    M970.1,1069.6V1058h257.1v11.7H970.1z M58.4,993.7C26.2,993.6,0,967.5,0,935.2V263.1h0.1l-0.1-0.1L263,0.1l0.2-0.1l0.2,0.1h496.5
    c32.3,0,58.4,26.2,58.4,58.4v642.9h-11.7V58.6c0-25.8-20.9-46.7-46.8-46.8H274.7v263h-263v660.4c0,25.8,20.9,46.7,46.8,46.8h438.3
    v11.7L58.4,993.7L58.4,993.7z M14.9,263.1H263V15.4L14.9,263.1z M970.2,870.9v-11.7H1087v11.7H970.2z M496.8,845.9
    c-66.9-32.3-94.9-112.7-62.6-179.5c32.3-66.9,112.7-94.9,179.5-62.6c38.9,18.8,66.4,55.1,74,97.7h-11.9c-13-66.5-77.4-110-143.9-97
    c-66.5,13-110,77.4-97,143.9c7,36,29.7,66.9,61.9,84.4L496.8,845.9L496.8,845.9L496.8,845.9z M152,824.2v-11.7h216.2v11.7H152z
    M970.2,800.8v-11.7h175.3v11.7H970.2z M496.8,790.2c-1.2-1.1-2.4-2.2-3.5-3.3c-34.2-34.3-34.2-89.8,0.1-124
    c34.3-34.2,89.8-34.2,124,0.1c10.7,10.7,18.4,23.9,22.4,38.5h-12.2c-12.8-39.9-55.6-61.9-95.6-49.1c-31.5,10.1-52.8,39.4-52.7,72.5
    c-0.1,17.7,6.2,34.9,17.5,48.6L496.8,790.2L496.8,790.2z M152,730.7V719h216.2v11.7H152z M152,637.2v-11.7h216.2v11.7H152z
    M152,537.8v-11.7h502.6v11.7H152z M1163,515.4v-11.7h273.5v11.7H1163L1163,515.4z M152,444.3v-11.7h502.6v11.7H152z M415,269v-11.7
    h245.5V269H415z M415,175.5v-11.7h245.5v11.7H415z"/>
  </svg>
</template>
