<template>
  <svg version="1.1" id="Layer_40" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 205.5 277" style="enable-background:new 0 0 205.5 277;" xml:space="preserve">
    <g id="illustration" transform="translate(-655 -453.843)" class="st0">
    <path class="st1" d="M655,483.8l146.9-28.9c27.6-5.2,30.9,9.2,30.9,30.1l-14.1,222.6H655V483.8z"/>
    <g>
    <path class="st2" d="M860.5,503.3V503h0c-0.3-10.5-8.8-19-19.3-19.2v0h-8.4c-0.1-17.4-2.8-30-20.7-30c-3,0-6.3,0.3-10.2,1.1
    L655,483.8v0h0v247h186.3v0c10.5-0.3,19-8.7,19.3-19.2h0V503.8c0-0.1,0-0.2,0-0.3C860.5,503.5,860.5,503.4,860.5,503.3z
    M803.7,464c3.2-0.6,6-0.9,8.5-0.9c7,0,8.3,2.4,9,3.9c2,3.9,2.4,10.9,2.4,16.9H702.9L803.7,464z M851.3,503.7L851.3,503.7l0,207.5
    l0,0.1c-0.1,5.6-4.7,10.1-10.3,10.2l-0.1,0H664.2v-13.7c-0.2-2.2,0.2-4.7,0.4-7c-0.1-0.2-0.1-0.5-0.2-0.8c-0.1-0.6-0.1-1.2,0-1.8
    h-0.2l0-205.4h156.5c0.6-0.2,1.2-0.3,2-0.2c0.8,0.1,1.6,0.1,2.4,0.1c0.5-0.2,0.9-0.3,1.4-0.5c1.3-0.4,2.5-0.2,3.5,0.3
    c0.8,0,1.6,0,2.5,0c0.4,0,0.8,0.1,1.2,0.2h7.2l0.1,0c5.6,0.1,10.1,4.6,10.3,10.2l0,0.1v0l0,0.1l0,0.1L851.3,503.7z"/>
    <rect x="734.1" y="687.4" class="st2" width="46.2" height="9.2"/>
    <path class="st2" d="M758.5,551.4c-30.6,0-55.4,24.8-55.4,55.4c0,30.6,24.8,55.4,55.4,55.4c30.6,0,55.4-24.8,55.4-55.4
    C813.9,576.2,789.1,551.4,758.5,551.4z M736.5,566.2c-1.9,3-3.5,6.2-4.8,9.5l0,0c-2-0.6-3.8-1.2-5.6-1.9
    C729.3,570.8,732.8,568.3,736.5,566.2z M720.4,580.7c2.8,1.3,5.7,2.4,8.6,3.3c-1.5,5.9-2.5,12-2.7,18.1l-13.7,0
    C713.3,594.5,716,587.1,720.4,580.7z M720.4,632.9c-4.4-6.4-7.1-13.7-7.9-21.4h13.7c0.3,6.1,1.2,12.2,2.7,18.1
    C726.1,630.5,723.2,631.6,720.4,632.9L720.4,632.9z M726.2,639.8c1.7-0.7,3.6-1.3,5.5-1.8c1.3,3.3,2.9,6.5,4.8,9.5
    C732.8,645.4,729.3,642.8,726.2,639.8z M737.8,627.3c-1.3-5.2-2-10.5-2.3-15.9h18.4v13.9C748.5,625.6,743.1,626.2,737.8,627.3
    L737.8,627.3z M753.9,652.1c-6.3-3.4-11.1-9.2-13.3-16.1c4.4-0.7,8.8-1.2,13.3-1.4V652.1z M753.9,602.2h-18.4h0
    c0.3-5.3,1-10.7,2.3-15.8c5.3,1.1,10.7,1.7,16.1,1.9V602.2z M753.9,579c-4.4-0.2-8.9-0.6-13.3-1.3l0,0c2.2-6.9,6.9-12.7,13.3-16.1
    V579z M804.4,602.2h-13.7c-0.3-6.1-1.2-12.2-2.7-18.1c2.9-0.9,5.8-2,8.6-3.3C801,587.1,803.7,594.5,804.4,602.2z M790.8,573.9
    c-1.7,0.7-3.6,1.3-5.5,1.8l0,0c-1.3-3.3-2.9-6.5-4.8-9.5C784.2,568.3,787.7,570.9,790.8,573.9z M763.1,561.6
    c6.3,3.5,11.1,9.2,13.3,16.1c-4.4,0.7-8.8,1.2-13.3,1.3V561.6z M779.2,586.3c1.3,5.2,2,10.5,2.3,15.8h-18.3v-13.9l0,0
    C768.5,588,773.9,587.4,779.2,586.3z M763.1,652.1v-17.4c4.4,0.2,8.9,0.6,13.3,1.4C774.2,642.8,769.4,648.6,763.1,652.1z
    M763.1,625.4v-13.9h18.3c-0.2,5.3-1,10.7-2.3,15.9C773.9,626.2,768.5,625.6,763.1,625.4z M780.5,647.4L780.5,647.4
    c1.9-3,3.5-6.2,4.8-9.5c1.9,0.5,3.8,1.2,5.5,1.8C787.7,642.8,784.2,645.4,780.5,647.4z M796.6,632.9c-2.8-1.3-5.7-2.4-8.6-3.3l0,0
    c1.5-5.9,2.5-12,2.7-18.1h13.7C803.7,619.1,801,626.5,796.6,632.9z"/>
    <rect x="712.3" y="523.3" class="st2" width="92.5" height="9.2"/>
    </g>
    </g>
  </svg>
</template>
