<template>
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 1263.9 1703.3" style="enable-background:new 0 0 1263.9 1703.3;" xml:space="preserve">
    <g>
      <path class="st0" d="M1263.9,304.1v-1.6h0c-1.7-64.6-53.8-116.7-118.5-118.3v0h-51.7C1093,77.4,1076.3,0,966.4,0
        c-18.2,0-39,2.1-62.8,6.6L0,184.2v0h0v1519.1h1145.4v0c64.7-1.6,116.8-53.7,118.5-118.3h0V307.4c0-0.5,0-1.1,0-1.6
        C1263.9,305.2,1263.9,304.6,1263.9,304.1z M908.2,30.5c21.7-4.1,41.3-6.2,58.2-6.2c23,0,41.7,3.8,55.8,11.4
        c12.2,6.6,21.5,16.3,28.5,29.8c15.6,29.9,18.5,76.1,18.7,118.7H126L908.2,30.5z M1239.6,307l0,0.2v1276l0,1.2
        c-1.3,51.8-43,93.4-94.8,94.6l-1.2,0H24.3v-118.5h0.5c0-0.6-0.2-1.2-0.2-1.8c0-0.2,0-0.4,0-0.6c0-0.9-0.1-1.9,0-2.8
        c0-0.1,0-0.3,0-0.4c0,0,0,0.1,0.1,0.1c-0.4-3-0.7-6-0.5-9.1c0.1-1,0.2-2,0.3-2.9c0-0.6-0.1-1.2-0.1-1.8c0-1.8,0.4-3.4,0.6-5.1h-0.6
        l0-1327.8h1043.4c0.3,0,0.7,0,1,0c0.6,0,1.1,0.1,1.6,0.1c1.5-0.1,3-0.2,4.5-0.2c1.3,0,2.5,0.1,3.7,0.2c0.2,0,0.3,0,0.5,0h0
        c0.3,0,0.7,0,1,0c0.3,0,0.7,0,1,0h0c0.3,0,0.7,0,1,0c0.3,0,0.5,0,0.8,0c1.2-0.1,2.5-0.2,3.7-0.2c2.1,0,4.1,0.1,6.1,0.3l0-0.1h51
        l1.2,0c51.8,1.3,93.4,42.8,94.8,94.6l0,0.9v0.2l0,0.2c0,0.4,0,0.9,0,1.3S1239.6,306.6,1239.6,307z"/>
      <rect x="352.4" y="427.3" class="st0" width="568.8" height="24.3"/>
      <path class="st0" d="M874.3,707.5c-30.4-30.5-66.5-54.9-106.2-71.6c-41.1-17.4-85.4-26.3-130-26.3h-3.9H632c-2.4,0-4.9,0.1-7.3,0.3
        c-40.2,1.5-79.7,10.3-116.7,26c-39.7,16.8-75.8,41.1-106.2,71.6c-30.5,30.4-54.9,66.5-71.6,106.2c-17.4,41.1-26.3,85.4-26.3,130
        c-0.1,44.7,8.8,88.9,26.2,130c16.8,39.7,41.1,75.8,71.6,106.2c30.4,30.5,66.5,54.8,106.2,71.6c37,15.7,76.6,24.5,116.7,26
        c2.4,0.2,4.9,0.3,7.3,0.3h2.1l3.9,0.1c44.7,0.1,88.9-8.9,130-26.3c39.7-16.8,75.8-41.1,106.2-71.6c30.5-30.4,54.8-66.5,71.6-106.2
        c17.4-41.1,26.3-85.4,26.3-130c0.1-44.7-8.9-88.9-26.3-130C929.1,774,904.8,738,874.3,707.5z M418.9,724.6
        c28.2-28.3,61.7-50.9,98.5-66.4c9.9-4.2,20.1-7.9,30.4-11c-17.9,17.7-33,38-44.8,60.3c-14.2,26.5-25.4,54.5-33.3,83.5
        c-17.5-5.7-34.4-12.7-50.8-21l0,0.1c-9.1-4.6-17.9-9.7-26.4-15.3C400.7,744,409.5,734,418.9,724.6z M352.4,823.1
        c7.3-17.3,16.2-33.9,26.6-49.7c7.1,4.7,14.7,9.3,22.6,13.6c19.9,10.7,40.7,19.7,62.2,26.7c-9.2,40.6-13.9,82.2-14.2,123.8H328.1
        C328.8,898.3,337.1,859.4,352.4,823.1z M352.4,1064.3c-13.7-32.5-21.8-67.1-23.8-102.4h121.3c1.1,41.5,6.6,82.7,16.7,122.9
        c-22.4,7.2-44.2,16.5-64.9,27.7c-5.8,3.2-11.4,6.5-16.9,9.9C372,1104.3,361.1,1084.8,352.4,1064.3z M517.4,1229.3
        c-36.8-15.6-70.3-38.1-98.5-66.4v0c-7-7-13.7-14.3-20-21.9c6.3-3.9,13-7.6,19.9-11.2c17.4-8.8,35.5-16.2,54.1-22.1
        c7.6,25,17.6,49.3,30,72.3c11.7,22.3,26.8,42.6,44.8,60.2C537.5,1237.2,527.3,1233.5,517.4,1229.3z M619.8,1252.8
        c-18.3-3.1-35.4-11.2-49.4-23.4c-21-18.5-38.1-41.1-50.2-66.5c-10-19.8-18.2-40.5-24.5-61.8h0c40.6-10.4,82.2-16.2,124-17.2V1252.8
        z M619.8,1059.5c-44,1.1-87.8,7.4-130.3,18.6c-9.1-38.1-14.3-77-15.3-116.1h145.6V1059.5z M619.8,937.7H474
        c0.3-39.3,4.6-78.4,12.9-116.8c43.4,11.7,88,18.2,133,19.4V937.7z M619.8,815.9c-43-1.1-85.7-7.2-127.3-18.2
        c6.7-25.3,16-49.7,27.7-73.1c12.1-25.3,29.2-47.9,50.2-66.4c14-12.2,31.1-20.3,49.4-23.4V815.9z M758.6,658.2
        c36.8,15.6,70.2,38.1,98.5,66.4c9.4,9.4,18.2,19.4,26.4,30c-8.5,5.6-17.3,10.7-26.3,15.3c-19.9,10-40.6,18.2-62,24.5
        c-8-30.2-19.5-59.4-34.3-87v0c-12.7-24.4-29.6-46.4-49.9-65C727.3,646.4,743.2,651.6,758.6,658.2z M644.1,937.7v-97.2
        c45.1-0.3,89.9-5.8,133.7-16.6c7.8,37.4,11.9,75.6,12.2,113.8H644.1z M789.7,962c-1,38.1-5.9,76-14.6,113.2
        c-42.9-10.3-86.9-15.6-131-15.9V962H789.7z M693.4,658.2c21.1,18.5,38.2,41.2,50.2,66.5c12.2,24.3,21.7,49.8,28.5,76
        c-42,10-84.9,15.2-128.1,15.4l0-181.4C662.4,637.8,679.5,645.9,693.4,658.2z M693.5,1229.3c-14,12.2-31,20.3-49.3,23.4v-169.2
        c42.1,0.3,83.9,5.2,124.9,14.7c-6.4,22.3-14.9,43.9-25.3,64.7C731.6,1188.2,714.5,1210.8,693.5,1229.3z M857.1,1162.9
        c-28.2,28.3-61.7,50.8-98.5,66.4c-15.4,6.5-31.4,11.8-47.7,15.7c20.3-18.6,37.2-40.6,49.9-64.9l0,0c13-24.1,23.4-49.5,31.1-75.7
        c22.5,6.5,44.3,15,65.2,25.5c7,3.5,13.6,7.3,19.9,11.1C870.8,1148.6,864.1,1155.9,857.1,1162.9z M923.5,1064.4
        c-8.7,20.5-19.5,40-32.4,58.2c-5.4-3.4-11-6.7-16.9-9.9c-24.2-13-49.7-23.5-76.1-31.2v0c9.5-39.1,14.8-79.2,15.8-119.4h133.4
        C945.3,997.3,937.3,1031.9,923.5,1064.4z M814.3,937.7c-0.3-40.5-4.8-80.8-13.4-120.3c25.5-7.6,50.1-17.8,73.5-30.4l0,0.1
        c7.9-4.3,15.5-8.9,22.7-13.6c10.4,15.7,19.3,32.4,26.6,49.7c15.4,36.3,23.6,75.2,24.3,114.6H814.3z"/>
      <rect x="486.1" y="1436" class="st0" width="284.4" height="24.3"/>
    </g>
  </svg>
</template>
