<template>
	<div id="app">
		<Progress/>
		<Index :freeze="freezeMain" :termsAndForm="termsAndForm"/>
		<Popups/>
		
		<!-- Šitą pašalinti, reikalingas tik testavimui, taip pat ir nextPage metodas!!!  -->
<!-- 		<div class="change_page" @click="nextPage">KITAS PUSLAPIS</div> -->
	</div>
</template>

<script>
import Index from './Index';
import Progress from './components/Progress';
import { globalData } from './main';
import Popups from './Popups';

export default {
  data() {
    return {
      termsAndForm: true,
      freezeMain: false
    };
  },
  components: {
    Index,
    Progress,
    Popups
  },
  methods: {
    nextPage() {
      const to = window.location.pathname;
      if (to == '/terms-and-conditions') {
        this.$router.push('/form');
      } else if (to == '/terms-and-form') {
        this.$router.push('/upload-photo');
      } else if (to == '/form') {
        this.$router.push('/upload-photo');
      } else if (to == '/upload-photo') {
        this.$router.push('/document-validation');
      } else if (to == '/document-validation') {
        this.$router.push('/upload-passport');
      } else if (
        to == '/upload-passport' ||
        to == '/upload-card' ||
        to == '/upload-other'
      ) {
        this.$router.push('/success');
      }
    }
  },
  created() {
    globalData.$on('openPop', value => {
      this.freezeMain = true;
    });
    globalData.$on('closePop', value => {
      this.freezeMain = false;
    });
  }
};
</script>

<style lang="scss">
@import './styles/main.scss';

.change_page {
  position: fixed;
  z-index: 20;
  background: #000;
  width: 60px;
  padding-left: 2px;
  cursor: pointer;
  height: 30px;
  padding-top: 2px;
  bottom: 40px;
  right: 40px;
  color: #fff;
  font-size: 10px;
  line-height: 12px;
}
</style>
