<template>	
	<div class="content">
		<div class="document_validation">
			<h1 v-text="getField('validation_heading')"/>
			<div class="text_holder" v-text="getField('validation_text')"/>
			<div class="select_type">
				<div class="type passport" @click="clicked('passport')">
  				<div class="icon desktop_only">
						<passport-desktop/>
  				</div>
					<div class="icon mobile_only">
						<passport-mobile/>
					</div>
					<div class="name" v-text="getField('validation_passport')"/>
				</div>
				<div class="type card" @click="clicked('card')">
					<div class="icon desktop_only">
						<card-desktop/>
					</div>
					<div class="icon mobile_only">
						<card-mobile/>
					</div>
					<div class="name" v-text="getField('validation_id')"/>
				</div>
<!-- 				<div class="type other" @click="clicked('other')">
					<div class="icon desktop_only">
						<other-desktop/>
					</div>
					<div class="icon mobile_only">
						<other-mobile/>
					</div>
					<div class="name">Other document</div>
				</div> -->
			</div>
		</div>
	</div>
</template>

<script>
import CardDesktop from './components/icons/CardDesktop';
import CardMobile from './components/icons/CardMobile';
import OtherDesktop from './components/icons/OtherDesktop';
import OtherMobile from './components/icons/OtherMobile';
import PassportDesktop from './components/icons/PassportDesktop';
import PassportMobile from './components/icons/PassportMobile';

export default {
  components: {
    CardDesktop,
    CardMobile,
    OtherDesktop,
    OtherMobile,
    PassportDesktop,
    PassportMobile
  },
  methods: {
    clicked(type) {
      if (type == 'passport') {
        this.$router.push('/upload-passport');
      } else if (type == 'card') {
        this.$router.push('/upload-card');
      } else if (type == 'other') {
        this.$router.push('/upload-other');
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import './styles/mixins.scss';

.content {
  max-width: 1560px;
}
.document_validation {
  text-align: center;

  @include mobile {
    text-align: left;

    h1 {
      text-align: left;
    }
  }
}
.text_holder {
  margin: 0 auto;
  max-width: 900px;
}
h1 {
  max-width: 900px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.select_type {
  font-size: 0;
  letter-spacing: 0;
  margin: 0 -20px -20px;
  width: calc(100% + 40px);

  @include mobile {
    margin: 20px 0;
    display: block;
    width: 100%;
  }
  .type {
    font-size: 24px;
    letter-spacing: 1px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    margin: 20px;
    border: 2px solid #e6e7e8;
    transition: border-color 250ms;
    border-radius: 10px;
    width: calc(33.33% - 40px);
    height: 340px;
    position: relative;
    padding: 50px 78px 78px 78px;

    @include mobile {
      height: 100px;
      line-height: 100px;
      white-space: nowrap;
      padding: 0 0 0 70px;
      width: 100%;
      margin: 0 0 20px 0;
    }

    .name {
      position: absolute;
      padding-bottom: 20px;
      left: 0;
      bottom: 0;
      width: 100%;
      transition: color 250ms;
      color: #000;

      @include mobile {
        padding-bottom: 0;
        position: static;
        margin-top: -2px;
      }
    }
    .icon {
      position: relative;
      height: 100%;
      display: flex;

      svg {
        display: block;
        margin: auto;

        path,
        rect {
          fill: #b1b1b1;
          transition: fill 250ms;
        }
      }
      @include mobile {
        position: absolute;
        height: 100px;
        left: 0;
        width: 70px;

        svg {
          width: 100% !important;
          height: 100% !important;
          max-width: 40px !important;
          max-height: 70px !important;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate3d(-50%, -50%, 0);
        }
      }
    }
    &:first-child {
      svg {
        width: 104px;
        height: 140px;
      }
    }
    &:nth-child(2) {
      svg {
        width: 140px;
        height: 90px;
      }
    }
    &:nth-child(3) {
      svg {
        width: 274px;
        height: 210px;
      }
    }
    &:hover {
      @include no_touch {
        border-color: $purple;

        .name {
          color: $purple;
        }
        .icon svg {
          path,
          rect {
            fill: $purple;
          }
        }
      }
    }
  }
}
#Layer_40 .st1 {
  display: none;
  fill: none;
}
#Layer_40 .st2 {
  fill: #b1b1b1;
}
</style>