<template>
	<div class="content">
		<div class="holder">
			<h1 v-text="getField('personal_heading')"/>
			<div class="form">
				<Input type="text" :value.sync="nameInputValue" :error.sync="nameInputError" :label="getField('form_name')"/>
				<Input type="text" :value.sync="surnameInputValue" :error.sync="surnameInputError" :label="getField('form_surname')"/>
				<Autocomplete min="auto" max="auto" :value.sync="countryInputValue" :error.sync="countryInputError" :label="getField('form_nationality')" :options="countrySelectOptions"/>
				<Input type="email" :value.sync="emailInputValue" :error.sync="emailInputError" :label="getField('form_email')"/>
				<div class="row">
					<div class="col">
						<label v-text="getField('form_birthdate')"/>
					</div>
					<div class="col">
						<Autocomplete min="1920" max="2040" :autoscroll="true" :options="yearOptions" :value.sync="year" :error.sync="yearInputError" :label="getField('form_year')"/>
					</div>
					<div class="col">
						<Autocomplete min="1" max="12" :options="monthOptions" :value.sync="month" :error.sync="monthInputError" :label="getField('form_month')"/>
					</div>
					<div class="col">
						<Autocomplete min="1" max="31" :options="dayOptions" :value.sync="day" :error.sync="dayInputError" :label="getField('form_day')"/>
					</div>
				</div>
				<div class="input_with_extra">
					<Input type="text" extra="true" :value.sync="walletInputValue" :error.sync="walletInputError" :label="getField('form_wallet_address')"/>
					<div class="tooltip" v-click-outside="clickedOutside" :class="{'active': tooltip}" @click="tooltip = !tooltip">
						<div class="holder">
							<div class="content">
								<div class="text" v-text="getField('currency_tooltip_text')"/>
								<a class="link" :href="getField('currency_tooltip_href')" v-text="getField('currency_tooltip_link')"/>
							</div>
						</div>
					</div>
				</div>
				<div class="small_text purple" v-text="getField('form_notify_currency')"/>
				<div class="input_with_extra">
					<Input type="number" extra="true" :value.sync="ammountInputValue" :error.sync="ammountInputError" :label="getField('form_invesment_amount')"/>
					<div class="currency" :label="getField('form_currency')"/>
				</div>
				<Checkbox :checked.sync="notUsa" :label="getField('us_resident_label')" :error="checkboxError"/>
				<div class="buttons_holder" v-if="!termsAndForm">
					<Button @clicked="submit" type="blue" icon="" size="not_limited" :text="getField('btn_continue')"/>
				</div>
			</div>
		</div>
    <div class="error_field" v-if="termsAndForm">
      <div>{{ formErrorText }}</div>
      <div>{{ termsErrorText }}</div>
    </div>
	</div>
</template>

<script>
import Input from './components/Input';
import Autocomplete from './components/Autocomplete';
import Checkbox from './components/Checkbox';
import Button from './components/Button';
import { valid } from './components/mixins';
import ClickOutside from 'vue-click-outside';
import VueScrollTo from 'vue-scrollto';
import { globalData } from './main';
import Storage from './scripts/storageService';
import Api from './scripts/api';
import WAValidator from 'wallet-address-validator';

export default {
  data() {
    return {
      isLoading: false,
      nameInputValue: '',
      nameInputError: false,
      surnameInputValue: '',
      surnameInputError: false,
      countryInputValue: '',
      countryInputError: false,
      emailInputValue: '',
      emailInputError: false,
      countrySelectOptions: null,
      year: '',
      month: '',
      day: '',
      yearInputError: false,
      monthInputError: false,
      dayInputError: false,
      walletInputValue: '',
      walletInputError: false,
      ammountInputValue: '',
      ammountInputError: false,
      notUsa: false,
      checkboxError: false,
      formValid: false,
      tooltip: false,
      scrollOptions: {
        container: 'main',
        easing: 'ease-in',
        offset: -10,
        y: true,
        x: false
      }
    };
  },
  computed: {
    yearOptions() {
      return this.range(1940, 2000);
    },
    monthOptions() {
      return this.range(1, 12);
    },
    dayOptions() {
      if (this.year == '' || this.month == '') {
        return this.range(1, 31);
      } else {
        const monthStart = new Date(
          parseInt(this.year),
          parseInt(this.month),
          1
        );
        const monthEnd = new Date(
          parseInt(this.year),
          parseInt(this.month) + 1,
          1
        );
        const monthLength = (monthEnd - monthStart) / (1000 * 60 * 60 * 24);
        return this.range(1, monthLength);
      }
    }
  },
  props: {
    termsAndForm: Boolean,
    formIsValid: Boolean,
    isTermsValid: Boolean,
    formErrorText: String,
    termsErrorText: String
  },
  components: {
    Input,
    Autocomplete,
    Checkbox,
    Button
  },
  created() {
    globalData.$on('formSubmit', value => {
      this.submit();
    });
  },
  directives: {
    ClickOutside
  },
  mixins: [valid],
  methods: {
    range(start, end) {
      return Array(end - start + 1)
        .fill()
        .map((_, idx) => String(start + idx));
    },
    submit() {
      if (this.termsAndForm) {
        this.$emit('update:formErrorText', '');
      }
      this.formValid = true;
      this.valid(this.nameInputValue, 'text')
        ? (this.nameInputError = false)
        : (this.nameInputError = true);
      this.valid(this.surnameInputValue, 'text')
        ? (this.surnameInputError = false)
        : (this.surnameInputError = true);
      this.valid(this.countryInputValue, 'list')
        ? (this.countryInputError = false)
        : (this.countryInputError = true);
      this.valid(this.emailInputValue, 'email')
        ? (this.emailInputError = false)
        : (this.emailInputError = true);
      this.valid(this.year, 'text')
        ? (this.yearInputError = false)
        : (this.yearInputError = true);
      this.valid(this.month, 'text')
        ? (this.monthInputError = false)
        : (this.monthInputError = true);
      this.valid(this.day, 'text')
        ? (this.dayInputError = false)
        : (this.dayInputError = true);

      if (this.valid(this.walletInputValue, 'text') && WAValidator.validate(this.walletInputValue, 'ethereum')) {
        this.walletInputError = false;
      } else {
        this.walletInputError = true;
        this.formValid = false;
      }

      this.valid(this.ammountInputValue, 'text')
        ? (this.ammountInputError = false)
        : (this.ammountInputError = true);

      if (this.notUsa) {
        this.checkboxError = false;
        if (!this.formValid) {
          if (this.termsAndForm) {
            this.$emit('update:formErrorText', this.getField('validation_error_form_fields'));
          }
        }
      } else {
        this.checkboxError = true;
        if (this.termsAndForm) {
          if (!this.formValid) {
            this.$emit('update:formErrorText', this.getField('validation_error_form_all'));
          } else {
            this.$emit('update:formErrorText', this.getField('validation_error_form_checkbox'));
          }
        }
        this.formValid = false;
      }

      if (this.formValid) {
        if (this.termsAndForm) {
          this.submitForm();
        } else {
          this.$router.push('/upload-photo');
        }
      } else if (window.innerWidth < 1101) {
        this.$nextTick(() => {
          VueScrollTo.scrollTo('.error', 300, this.scrollOptions);
        });
      }
    },
    clickedOutside() {
      this.tooltip = false;
    },
    async loadData() {
      if (this.isLoading) return;
      this.isLoading = true;

      if (!Storage.storageSettings()) {
        this.isLoading = false;
        return;
      }

      try {
        const response = await Api.call('get-form-data');
        if (response.error) {
          globalData.$emit('openPop', response.error);
          return;
        } else {
          this.countrySelectOptions = this.mapCountries(
            response.data.countryList
          );
          const formData = response.data.formData;

          if (formData) {
            this.nameInputValue = formData.name;
            this.surnameInputValue = formData.surname;
            this.countryInputValue = formData.nationality;
            this.emailInputValue = formData.email;
            this.walletInputValue = formData.walletAddress;

            if (formData.amount) {
              this.ammountInputValue = formData.amount.replace(',', '.');
            }

            if (formData.birthday) {
              const birthDate = formData.birthday.split('-');

              this.year = birthDate[0];
              if (birthDate[1].indexOf('0') === 0)
                this.month = birthDate[1].substring(1);
              else this.month = birthDate[1];
              if (birthDate[2].indexOf('0') === 0)
                this.day = birthDate[2].substring(1);
              else this.day = birthDate[2];
            }
          }
        }
      } catch (err) {
        globalData.$emit('openPop', err.status);
        return;
      } finally {
        this.isLoading = false;
      }
    },
    async submitForm() {
      if (this.isLoading) return;
      this.isLoading = true;

      const payload = {
        name: this.nameInputValue,
        surname: this.surnameInputValue,
        nationality: this.getCountryId(this.countryInputValue),
        email: this.emailInputValue,
        walletAddress: this.walletInputValue,
        amount: this.ammountInputValue,
        isCountryAccepted: this.notUsa,
        IsTermsConditionsAccepted: this.isTermsValid
      };

      const month = parseInt(this.month);
      payload.birthday = `${this.year}-${(month > 9 && month) ||
        '0' + month}-${(this.day > 9 && this.day) || '0' + this.day}`;

      try {
        const response = await Api.call('save-form-data', payload);
        if (response.error) {
          globalData.$emit('openPop', response.error);
          return;
        } else {
          this.$emit('update:formIsValid', true);
        }
      } catch (err) {
        if (err.body) {
          this.handleError(err.body);
        } else {
          globalData.$emit('openPop', err.status);
        }
      } finally {
        this.isLoading = false;
      }
    },
    handleError(error) {
      if (error.Name) this.nameInputError = true;
      if (error.Surname) this.surnameInputError = true;
      if (error.Email) this.emailInputError = true;
      if (error.Birthday) {
        this.yearInputError = true;
        this.monthInputError = true;
        this.dayInputError = true;
      }
      if (error.Nationality) this.countryInputError = true;
      if (error.WalletAddress) this.walletInputError = true;
      if (error.Amount) this.ammountInputError = true;
    },
    mapCountries(countryList) {
      if (!countryList) return null;

      this.countryList = countryList;
      return countryList.map(function(country) {
        return country.value;
      });
    },
    getCountryId(countryName) {
      if (!countryName) return '';

      const country = this.countryList.find(function(country) {
        return country.value === countryName;
      });

      return (country && country.key) || '';
    }
  },
  watch: {
    notUsa(value) {
      if (value) {
        this.checkboxError = false;
      }
    }
  },
  async mounted() {
    await this.loadData();
  }
};
</script>

<style lang="scss" scoped>
@import './styles/mixins.scss';

.content {
  max-width: 570px;
}
.form {
  padding-top: 34px;

  @include mobile {
    padding-top: 0;
  }
}
.buttons_holder {
  @include mobile {
    .button {
      width: 100%;
    }
  }
}
label {
  color: rgba(#000, 0.4);
  line-height: 34px;
  margin-bottom: 20px;
  height: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;

  @include mobile {
    margin-bottom: 0;
  }
}
.col {
  margin-left: 10px;

  &:first-child {
    vertical-align: bottom;
    width: calc(100% - 294px);
    margin-left: 0;

    @include mobile {
      display: block;
      width: 100%;
    }
  }
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4) {
    width: 88px;

    @include mobile {
      width: calc(33.33% - 7px);
    }
  }
  &:nth-child(2) {
    @include mobile {
      margin-left: 0;
    }
  }
}
.row {
  @include mobile {
    margin-top: 40px;

    label {
      color: #000;
    }
  }
}
.input_with_extra {
  position: relative;

  .input input {
    padding-right: 50px;
  }
  .input {
    input {
      background: red !important;
    }
  }
}
.tooltip {
  position: absolute;
  right: 10px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 2px solid $purple;
  cursor: pointer;
  z-index: 1;
  bottom: 10px;

  &:before {
    display: block;
    content: '?';
    color: $purple;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    line-height: 22px;
    position: absolute;
    padding-left: 1px;
    font-family: $bold;
  }
  .holder {
    position: absolute;
    bottom: 23px;
    right: -22px;
    width: 368px;
    padding-bottom: 14px;
    transition: transform 300ms, opacity 300ms;
    transform: translate3d(0, -30px, 0);
    opacity: 0;
    pointer-events: none;

    @include mobile {
      width: calc(100vw - 20px);
    }
    &:before {
      display: block;
      bottom: 10px;
      right: 29px;
      position: absolute;
      content: '';
      background: #fff;
      width: 9px;
      height: 9px;
      transform: translate3d(0, 0, 0) rotateZ(45deg);
      box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
      z-index: 1;
    }
    &:after {
      display: block;
      position: absolute;
      z-index: 2;
      background: #fff;
      width: 20px;
      height: 20px;
      bottom: 14px;
      content: '';
      right: 23px;
    }
    .content {
      background: #fff;
      padding: 25px 30px;
      box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
      position: relative;
      @include mobile {
        box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.3);
      }
      .text {
        padding-bottom: 1em;
      }
    }
  }
  &:hover {
    @include no_touch {
      .holder {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        pointer-events: all;
      }
    }
  }
  &.active {
    @include mobile {
      .holder {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}
.currency {
  height: 34px;
  line-height: 34px;
  position: absolute;
  pointer-events: none;
  z-index: 1;
  right: 10px;
  bottom: 0;
  color: rgba(#000, 0.4);
}
.error_field {
  color: $red;
}
</style>