<template>
	<main :class="{'enter':loaded,'freeze':freeze}">
		<div id="scroller">
      <header>
        <div id="logo">
          <img src="./assets/images/logo.svg" alt="">
        </div>
      </header>
			<div class="container">
				<Transition name="page" mode="out-in">
					<router-view/>
				</Transition>
			</div>
		</div>
	</main>
</template>

<script>
import Storage from './scripts/storageService';
import Api from './scripts/api';
import { globalData } from './main';

export default {
  data() {
    return {
      loaded: false
    };
  },
  props: ['freeze', 'termsAndForm'],
  methods: {
    async getSettings() {
      let settings = Storage.storageSettings();
      if (!settings) {
        try {
          const response = await Api.call('get-settings');
          if (response.error) {
            globalData.$emit('openPop', response.error);
            return;
          } else {
            settings = response.data;
            Storage.storageSettings(response.data);
          }
        } catch (err) {
          globalData.$emit('openPop', 'demo');
          setTimeout(() => {
            this.loaded = true
          }, 500)
          return
        }
      }
      this.animateView(settings.hasForm);
    },
    animateView(hasForm) {
      //if (this.$router.history.current.fullPath == '/terms-and-form') {
      this.$router.push('/');
      setTimeout(() => {
        this.loaded = true;

        if (hasForm) {
          if (this.termsAndForm) {
            this.$router.push('/terms-and-form');
          } else {
            this.$router.push('/terms-and-conditions');
          }
        } else {
          this.$router.push('/upload-photo');
        }
      });
      //}
    }
  },
  mounted() {
    this.getSettings()
  }
};
</script>

<style lang="scss" scoped>
  @import './styles/mixins.scss';

  .page-enter {
    transform: translate3d(-100vw, 0, 0);
  }
  .page-enter-active,
  .page-leave-active {
    transition: transform 500ms;
  }
  .page-leave-active {
    transition: transform 500ms;
    transform: translate3d(100vw, 0, 0);
  }
  main {
    opacity: 0;
  }
  main.enter {
    transition: opacity 2s;
    opacity: 1;
  }
  header {
    padding: 44px 60px 24px;

    @include mobile {
      padding: 20px;
    }
  }
  #logo {
    width: 150px;
    height: 36px;

    @include mobile {
      width: 120px;
      height: 30px;
    }
    img {
      max-width: 100%;
      max-height: 100%;

    }
  }
</style>