<template>
	<div class="content">
    <form>
      <div class="input_holder">
        <text-input v-model="username" :label="getField('form_username')" :disabled="isLoading" max-length="22"/>
        <text-input type="password" v-model="password" :label="getField('form_password')" :disabled="isLoading" max-length="22"/>
      </div>
      <div class="buttons_holder">
        <primary-button @clicked="login" type="blue" size="limited" text="Log In" :disabled="isLoading"/>
      </div>
      <span class="error-message" v-show="hasError">Wrong username or password</span>
    </form>
	</div>
</template>

<script>
import TextInput from './components/TextInput';
import PrimaryButton from './components/Button'
import Api from './scripts/api'
import { globalData } from './main'

export default {
  components: {
    TextInput,
    PrimaryButton
  },
  data() {
    return {
      isLoading: false,
      hasError: false,
      username: null,
      password: null
    }
  },
  methods: {
    async login() {
      this.isLoading = true
      this.hasError = false

      const payload = {}
      if (this.username) {
        payload.username = this.username.trim()
      }
      if (this.password) {
        payload.password = this.password
      }

      try {
        const response = await Api.call('login', payload)
        if (response.redirectUrl) {
          window.location = response.redirectUrl
        } else {
          this.hasError = true
          this.isLoading = false
        }
      } catch (err) {
        console.log(err)
        this.hasError = true
        this.isLoading = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import './styles/mixins.scss';

.content {
  max-width: 1560px;
}

@include mobile {
  text-align: center;

  .button {
    width: 100% !important;
  }
  &.after {
    .button {
      margin: 0 0 20px 0;
      width: calc(50% - 5px) !important;

      &:first-child {
        margin: 0 10px 20px 0;
      }
    }
  }
}

.input_holder {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.error-message {
  color: $red;
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: -45px
}
</style>