<template>
	<div class="pop">
		<Close @clicked="closePop"/>
		<div class="pop_content">
			<h1 v-if="type == 'passport'" v-text="getField('mrz_heading_passport')"/>
			<h1 v-if="type == 'card'" v-text="getField('mrz_heading_card')"/>
			<div class="row">
				<div class="col desktop_only">
					<svg v-if="type == 'passport'" id="Layer_464684684" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 450.358 340">
					<g id="Group_158" data-name="Group 158" transform="translate(-3860 67)">
					<g id="Path_349" data-name="Path 349" class="cls-1" transform="translate(3860 -67)">
					<path class="cls-7" d="M10,0H440a10,10,0,0,1,10,10V330a10,10,0,0,1-10,10H10A10,10,0,0,1,0,330V10A10,10,0,0,1,10,0Z"/>
					<path class="cls-8" d="M 10 2 C 5.588775634765625 2 2 5.588775634765625 2 10 L 2 330 C 2 334.4112243652344 5.588775634765625 338 10 338 L 440 338 C 444.4112243652344 338 448 334.4112243652344 448 330 L 448 10 C 448 5.588775634765625 444.4112243652344 2 440 2 L 10 2 M 10 0 L 440 0 C 445.5228271484375 0 450 4.47711181640625 450 10 L 450 330 C 450 335.5228271484375 445.5228271484375 340 440 340 L 10 340 C 4.47711181640625 340 0 335.5228271484375 0 330 L 0 10 C 0 4.47711181640625 4.47711181640625 0 10 0 Z"/>
					</g>
					<path id="Path_191" data-name="Path 191" class="cls-2" d="M31,158.628s1.915-25.531,35.754-31.754c34.477-6.351,31.923-20.323,31.923-20.323V90.039s-6.385-8.891-7.662-19.053c0,0-2.554,0-2.554-3.811s-1.277-8.891-2.554-12.7-1.277-8.891,2.554-8.891c0,0-2.554-8.891-2.554-16.512S84.631,6.207,106.339,4.937c0,0,15.323-11.432,37.031,2.54,0,0,17.877,10.161,8.938,38.105,0,0,3.831,0,2.554,3.811s-3.831,13.972-3.831,16.512,0,6.351-2.554,5.081a69.083,69.083,0,0,1-6.385,19.053l1.277,17.782s-1.277,11.432,31.923,20.323c33.966,9.145,33.2,22.863,33.2,30.484" transform="translate(3872.026 -25.628)"/>
					<path id="Path_200" data-name="Path 200" class="cls-3" d="M210,0" transform="translate(3909.465 133.001)"/>
					<path id="Path_347" data-name="Path 347" class="cls-4" d="M1.248,5.8V17H2.7V12.632H4.56A3.722,3.722,0,0,0,7.232,11.7,3.266,3.266,0,0,0,8.224,9.24a3.277,3.277,0,0,0-.992-2.48A3.671,3.671,0,0,0,4.56,5.8ZM4.56,7.16A2,2,0,0,1,6.752,9.24,1.97,1.97,0,0,1,4.56,11.272H2.7V7.16Zm8.324.028L9.694,11.3v.374l3.19,4.114H14.8L11.476,11.5,14.8,7.188ZM24.616,5.8v6.768c0,2.16-1.008,3.28-2.928,3.28-1.968,0-2.944-1.088-2.944-3.28V5.8H17.288v6.768c0,3.008,1.6,4.64,4.4,4.64s4.384-1.632,4.384-4.64V5.8Zm3.52,0V7.16H32.1V17H33.56V7.16h3.968V5.8Zm16.048-.208A5.485,5.485,0,0,0,40.072,7.24a5.708,5.708,0,0,0-1.616,4.144,5.758,5.758,0,0,0,1.616,4.176,5.934,5.934,0,0,0,8.208,0A5.758,5.758,0,0,0,49.9,11.384,5.708,5.708,0,0,0,48.28,7.24,5.474,5.474,0,0,0,44.184,5.592Zm0,1.36a3.892,3.892,0,0,1,3.008,1.264,4.441,4.441,0,0,1,1.184,3.168,4.519,4.519,0,0,1-1.184,3.2,3.892,3.892,0,0,1-3.008,1.264,3.961,3.961,0,0,1-3.04-1.264,4.508,4.508,0,0,1-1.168-3.2,4.43,4.43,0,0,1,1.168-3.168A3.961,3.961,0,0,1,44.184,6.952Zm8.4-1.152V17h4.032a5.578,5.578,0,0,0,4.128-1.536A5.45,5.45,0,0,0,62.3,11.4a5.45,5.45,0,0,0-1.552-4.064A5.578,5.578,0,0,0,56.616,5.8Zm4.032,1.36a3.889,3.889,0,0,1,4.192,4.24,3.9,3.9,0,0,1-4.192,4.24H54.04V7.16Zm13.7-1.568A5.485,5.485,0,0,0,66.2,7.24a5.708,5.708,0,0,0-1.616,4.144A5.758,5.758,0,0,0,66.2,15.56a5.934,5.934,0,0,0,8.208,0,5.758,5.758,0,0,0,1.616-4.176A5.708,5.708,0,0,0,74.408,7.24,5.474,5.474,0,0,0,70.312,5.592Zm0,1.36A3.892,3.892,0,0,1,73.32,8.216,4.441,4.441,0,0,1,74.5,11.384a4.519,4.519,0,0,1-1.184,3.2,3.892,3.892,0,0,1-3.008,1.264,3.961,3.961,0,0,1-3.04-1.264,4.508,4.508,0,0,1-1.168-3.2,4.43,4.43,0,0,1,1.168-3.168A3.961,3.961,0,0,1,70.312,6.952Zm8.4-1.152V17h6.16V15.64h-4.7V11.912h4.144v-1.36H80.168V7.16h4.7V5.8ZM89.9,7.188,86.71,11.3v.374L89.9,15.79h1.914L88.492,11.5l3.322-4.312Zm6.776,0L93.486,11.3v.374l3.19,4.114H98.59L95.268,11.5,98.59,7.188Zm3.46-1.388V7.16H104.1V17h1.456V7.16h3.968V5.8Zm18.976,0v4.72h-5.92V5.8h-1.456V17h1.456V11.9h5.92V17h1.456V5.8Zm9.872-.208a5.485,5.485,0,0,0-4.112,1.648,5.708,5.708,0,0,0-1.616,4.144,5.758,5.758,0,0,0,1.616,4.176,5.934,5.934,0,0,0,8.208,0,5.758,5.758,0,0,0,1.616-4.176A5.708,5.708,0,0,0,133.08,7.24,5.474,5.474,0,0,0,128.984,5.592Zm0,1.36a3.892,3.892,0,0,1,3.008,1.264,4.441,4.441,0,0,1,1.184,3.168,4.519,4.519,0,0,1-1.184,3.2,3.892,3.892,0,0,1-3.008,1.264,3.961,3.961,0,0,1-3.04-1.264,4.508,4.508,0,0,1-1.168-3.2,4.43,4.43,0,0,1,1.168-3.168A3.961,3.961,0,0,1,128.984,6.952ZM147.3,5.8l-3.856,8.224-.32.72-.3-.72L138.984,5.8h-1.6V17h1.456V8.664l.3.832,3.408,7.5h1.168l3.424-7.5.3-.832V17H148.9V5.8Zm7.108,1.388-3.19,4.114v.374l3.19,4.114h1.914L153,11.5l3.322-4.312Zm6.776,0L158,11.3v.374l3.19,4.114H163.1L159.78,11.5,163.1,7.188Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0L171.55,11.3v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0L185.1,11.3v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914L193.66,11.5l3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0L205.43,11.3v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914L227.54,11.5l3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0L239.31,11.3v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914L261.42,11.5l3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914L268.2,11.5l3.322-4.312Zm6.776,0L273.19,11.3v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914L295.3,11.5l3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114H305.4l-3.322-4.29L305.4,7.188Zm6.776,0L307.07,11.3v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914L322.4,11.5l3.322-4.312Zm6.776,0L327.4,11.3v.374l3.19,4.114H332.5L329.18,11.5,332.5,7.188Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0L340.95,11.3v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0L354.5,11.3v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914L363.06,11.5l3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312ZM1.232,33.8V45H7.68V43.64H2.688V33.8Zm13.344,2.48,1.776,4.4H12.4l1.76-4.4.208-.608Zm-.944-2.48L9.136,45h1.6L11.9,42.04h4.944L18.032,45h1.6l-4.5-11.2Zm11.3-.208a3.176,3.176,0,0,0-2.384.88,3.118,3.118,0,0,0-.848,2.24,2.657,2.657,0,0,0,.736,2,6.888,6.888,0,0,0,2.3,1.28c1.728.592,2.352,1.12,2.352,2.064A1.777,1.777,0,0,1,25.1,43.912,2.041,2.041,0,0,1,22.848,41.7H21.376a3.377,3.377,0,0,0,3.712,3.5A3.162,3.162,0,0,0,28.56,41.96a2.608,2.608,0,0,0-.72-1.936,7.008,7.008,0,0,0-2.448-1.36,7.475,7.475,0,0,1-1.76-.9,1.483,1.483,0,0,1-.464-1.168A1.573,1.573,0,0,1,24.9,34.9a1.734,1.734,0,0,1,1.84,1.856h1.472A2.988,2.988,0,0,0,24.928,33.592Zm6.288.208V45h1.456V40.072H36.56V38.7H32.672V35.16h4.576V33.8Zm14.576,2.944a3.157,3.157,0,0,0-.848-2.256,3.283,3.283,0,0,0-5.536,2.48h1.456c0-1.344.736-2.016,1.776-2.016a1.6,1.6,0,0,1,1.68,1.824c0,1.232-.688,1.792-2.272,1.792H41.7v1.28h.368c1.68,0,2.64.72,2.64,2.064a1.848,1.848,0,0,1-1.968,1.936,1.911,1.911,0,0,1-2.128-2.064h-1.44A3.209,3.209,0,0,0,42.7,45.208a3.548,3.548,0,0,0,2.512-.9,3.1,3.1,0,0,0,.96-2.352,2.691,2.691,0,0,0-1.952-2.768A2.442,2.442,0,0,0,45.792,36.744Zm3.3-2.944v6.064h1.3a3.184,3.184,0,0,1,1.792-.512,1.957,1.957,0,0,1,2.064,2.176c0,1.392-.752,2.32-2.032,2.32a1.766,1.766,0,0,1-1.984-1.9H48.768c0,2.112,1.312,3.264,3.424,3.264a3.3,3.3,0,0,0,2.56-1.04,3.789,3.789,0,0,0,.96-2.688,3.489,3.489,0,0,0-.912-2.544,3.217,3.217,0,0,0-2.416-.944,3.579,3.579,0,0,0-1.824.416V35.16h4.56V33.8Zm12.9,0-4.416,7.712v1.2h4.688V45h1.456V42.712H65.28V41.384H63.712V33.8Zm.288,7.6h-3.1l2.752-4.832.352-.688Zm8.912-7.808c-2.64,0-3.824,2.064-3.824,6.1,0,2.08.368,3.552,1.12,4.4a3.692,3.692,0,0,0,5.184.112,3.67,3.67,0,0,0,.96-2.608A3.509,3.509,0,0,0,73.7,39.08a3.313,3.313,0,0,0-2.528-.992,2.849,2.849,0,0,0-2.336,1.12c.048-2.96.816-4.256,2.3-4.256a1.648,1.648,0,0,1,1.776,1.728h1.472a3.157,3.157,0,0,0-.96-2.24A3.118,3.118,0,0,0,71.184,33.592Zm-.1,5.856a2.214,2.214,0,0,1,0,4.416,1.93,1.93,0,0,1-1.536-.688,2.351,2.351,0,0,1-.592-1.584,2.131,2.131,0,0,1,2.128-2.144ZM80.976,33.8,76.56,41.512v1.2h4.688V45H82.7V42.712h1.568V41.384H82.7V33.8Zm.288,7.6h-3.1l2.752-4.832.352-.688Zm5.6-7.6v6.064h1.3a3.184,3.184,0,0,1,1.792-.512,1.957,1.957,0,0,1,2.064,2.176c0,1.392-.752,2.32-2.032,2.32A1.766,1.766,0,0,1,88,41.944H86.544c0,2.112,1.312,3.264,3.424,3.264a3.3,3.3,0,0,0,2.56-1.04,3.789,3.789,0,0,0,.96-2.688,3.489,3.489,0,0,0-.912-2.544,3.217,3.217,0,0,0-2.416-.944,3.579,3.579,0,0,0-1.824.416V35.16H92.9V33.8Zm12.64-.208c-2.64,0-3.824,2.064-3.824,6.1,0,2.08.368,3.552,1.12,4.4a3.692,3.692,0,0,0,5.184.112,3.67,3.67,0,0,0,.96-2.608,3.509,3.509,0,0,0-.928-2.512,3.313,3.313,0,0,0-2.528-.992,2.849,2.849,0,0,0-2.336,1.12c.048-2.96.816-4.256,2.3-4.256a1.648,1.648,0,0,1,1.776,1.728H102.7a3.157,3.157,0,0,0-.96-2.24A3.118,3.118,0,0,0,99.5,33.592Zm-.1,5.856a2.214,2.214,0,0,1,0,4.416,1.93,1.93,0,0,1-1.536-.688,2.351,2.351,0,0,1-.592-1.584,2.131,2.131,0,0,1,2.128-2.144Zm6.256-5.648V45h3.616c2.256,0,3.7-1.264,3.7-3.2a2.717,2.717,0,0,0-1.888-2.672,2.581,2.581,0,0,0,1.2-2.288c0-1.856-1.344-3.04-3.5-3.04Zm3.616,6.16c1.392,0,2.208.672,2.208,1.808,0,1.168-.848,1.872-2.208,1.872h-2.16V39.96Zm-.5-4.8c1.264,0,2.032.624,2.032,1.76a1.731,1.731,0,0,1-1.968,1.7H107.12V35.16Zm11.008-1.36v7.92c0,1.344-.592,2.08-1.68,2.08-1.184,0-1.808-.736-1.872-2.192h-1.456c.08,2.24,1.152,3.552,3.328,3.552,2.032,0,3.136-1.184,3.136-3.376V33.8Zm11.984,0v4.72h-5.92V33.8H124.4V45h1.456V39.9h5.92V45h1.456V33.8Zm4.752,0V45h3.616c2.256,0,3.7-1.264,3.7-3.2a2.717,2.717,0,0,0-1.888-2.672,2.581,2.581,0,0,0,1.2-2.288c0-1.856-1.344-3.04-3.5-3.04Zm3.616,6.16c1.392,0,2.208.672,2.208,1.808,0,1.168-.848,1.872-2.208,1.872h-2.16V39.96Zm-.5-4.8c1.264,0,2.032.624,2.032,1.76a1.731,1.731,0,0,1-1.968,1.7h-1.728V35.16ZM153.84,33.8v4.72h-5.92V33.8h-1.456V45h1.456V39.9h5.92V45H155.3V33.8Zm9.68-.208a5.226,5.226,0,0,0-3.984,1.648,6.327,6.327,0,0,0,.016,8.32,5.261,5.261,0,0,0,4,1.648,5.025,5.025,0,0,0,3.728-1.376,5.224,5.224,0,0,0,1.36-3.824v-.752h-4.9v1.36h3.36c-.064,2.128-1.424,3.232-3.552,3.232a3.724,3.724,0,0,1-2.928-1.264A4.608,4.608,0,0,1,159.5,39.4a4.553,4.553,0,0,1,1.12-3.184,3.671,3.671,0,0,1,2.88-1.264,3.217,3.217,0,0,1,3.376,2.176H168.5A4.779,4.779,0,0,0,163.52,33.592Zm12.848,0a5.226,5.226,0,0,0-3.984,1.648,6.327,6.327,0,0,0,.016,8.32,5.261,5.261,0,0,0,4,1.648,5.025,5.025,0,0,0,3.728-1.376,5.224,5.224,0,0,0,1.36-3.824v-.752h-4.9v1.36h3.36c-.064,2.128-1.424,3.232-3.552,3.232a3.724,3.724,0,0,1-2.928-1.264,4.608,4.608,0,0,1-1.12-3.184,4.553,4.553,0,0,1,1.12-3.184,3.671,3.671,0,0,1,2.88-1.264,3.217,3.217,0,0,1,3.376,2.176h1.616A4.779,4.779,0,0,0,176.368,33.592Zm15.552.208-3.392,8.464-.224.72-.224-.72L184.688,33.8H183.12L187.648,45h1.328l4.512-11.2Zm7.5,0-4.416,7.712v1.2H199.7V45h1.456V42.712h1.568V41.384h-1.568V33.8Zm.288,7.6h-3.1l2.752-4.832.352-.688Zm7.424-7.6c-.256,1.072-.976,1.376-2.688,1.376v1.248H206.8V45h1.456V33.8Zm3.744,0v1.392h5.008L211.472,45h1.584l4.5-10.016V33.8Zm15.568,2.944a3.051,3.051,0,0,0-.9-2.24,3.085,3.085,0,0,0-2.32-.912,3.121,3.121,0,0,0-2.336.912,3.039,3.039,0,0,0-.88,2.24,2.738,2.738,0,0,0,1.36,2.5,2.767,2.767,0,0,0-1.728,2.688,3.034,3.034,0,0,0,1.024,2.352,3.973,3.973,0,0,0,5.1,0,3.034,3.034,0,0,0,1.024-2.352,2.825,2.825,0,0,0-1.728-2.688A2.747,2.747,0,0,0,226.448,36.744ZM223.232,39.9a2.11,2.11,0,0,1,1.472.56,1.832,1.832,0,0,1,.624,1.44,1.872,1.872,0,0,1-.608,1.44,2.171,2.171,0,0,1-1.488.528,2.241,2.241,0,0,1-1.5-.528,1.872,1.872,0,0,1-.608-1.44A1.989,1.989,0,0,1,223.232,39.9Zm-1.776-3.12a1.777,1.777,0,1,1,3.552,0,1.776,1.776,0,1,1-3.552,0Zm8.192-2.976V45h4.032a5.578,5.578,0,0,0,4.128-1.536A5.45,5.45,0,0,0,239.36,39.4a5.45,5.45,0,0,0-1.552-4.064A5.578,5.578,0,0,0,233.68,33.8Zm4.032,1.36a3.889,3.889,0,0,1,4.192,4.24,3.9,3.9,0,0,1-4.192,4.24H231.1V35.16Zm15.808-1.36v4.72h-5.92V33.8h-1.456V45h1.456V39.9h5.92V45h1.456V33.8Zm11.936,0v6.768c0,2.16-1.008,3.28-2.928,3.28-1.968,0-2.944-1.088-2.944-3.28V33.8H254.1v6.768c0,3.008,1.6,4.64,4.4,4.64s4.384-1.632,4.384-4.64V33.8Zm9.536-.208a5.226,5.226,0,0,0-3.984,1.648,5.805,5.805,0,0,0-1.552,4.16,5.805,5.805,0,0,0,1.552,4.16,5.261,5.261,0,0,0,4,1.648,4.73,4.73,0,0,0,4.976-3.584h-1.568a3.331,3.331,0,0,1-3.408,2.224,3.714,3.714,0,0,1-2.912-1.264,4.608,4.608,0,0,1-1.12-3.184,4.553,4.553,0,0,1,1.12-3.184,3.7,3.7,0,0,1,2.9-1.264,3.21,3.21,0,0,1,3.36,2.176h1.616A4.779,4.779,0,0,0,270.96,33.592Zm14.96.208v8.736l-.48-.736-5.536-8H278.48V45h1.456V36.28l.432.688L285.936,45h1.44V33.8Zm4.736,0V45h1.456V40.072H296V38.7h-3.888V35.16h4.576V33.8Zm14.832,2.944a3.051,3.051,0,0,0-.9-2.24,3.085,3.085,0,0,0-2.32-.912,3.121,3.121,0,0,0-2.336.912,3.039,3.039,0,0,0-.88,2.24,2.738,2.738,0,0,0,1.36,2.5,2.767,2.767,0,0,0-1.728,2.688,3.034,3.034,0,0,0,1.024,2.352,3.973,3.973,0,0,0,5.1,0,3.034,3.034,0,0,0,1.024-2.352,2.825,2.825,0,0,0-1.728-2.688A2.748,2.748,0,0,0,305.488,36.744ZM302.272,39.9a2.109,2.109,0,0,1,1.472.56,1.832,1.832,0,0,1,.624,1.44,1.872,1.872,0,0,1-.608,1.44,2.171,2.171,0,0,1-1.488.528,2.241,2.241,0,0,1-1.5-.528,1.872,1.872,0,0,1-.608-1.44A1.989,1.989,0,0,1,302.272,39.9Zm-1.776-3.12a1.777,1.777,0,1,1,3.552,0,1.776,1.776,0,1,1-3.552,0Zm7.552-2.976v1.392h5.008L308.64,45h1.584l4.5-10.016V33.8Zm15.312,2.944a3.157,3.157,0,0,0-.848-2.256,3.283,3.283,0,0,0-5.536,2.48h1.456c0-1.344.736-2.016,1.776-2.016a1.6,1.6,0,0,1,1.68,1.824c0,1.232-.688,1.792-2.272,1.792h-.352v1.28h.368c1.68,0,2.64.72,2.64,2.064a1.848,1.848,0,0,1-1.968,1.936,1.911,1.911,0,0,1-2.128-2.064h-1.44a3.209,3.209,0,0,0,3.536,3.424,3.548,3.548,0,0,0,2.512-.9,3.1,3.1,0,0,0,.96-2.352,2.691,2.691,0,0,0-1.952-2.768A2.442,2.442,0,0,0,323.36,36.744Zm5.46-1.556L325.63,39.3v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914L347.74,39.5l3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312ZM364.1,33.8l-4.416,7.712v1.2h4.688V45h1.456V42.712H367.4V41.384h-1.568V33.8Zm.288,7.6h-3.1l2.752-4.832.352-.688Zm4.9-7.6v1.392H374.3L369.88,45h1.584l4.5-10.016V33.8Z" transform="translate(3895 198)"/>
					<path id="Path_354" data-name="Path 354" class="cls-5" d="M0,0H95" transform="translate(4127.5 -23.5)"/>
					<path id="Path_353" data-name="Path 353" class="cls-5" d="M0,0H62" transform="translate(4127.5 8.5)"/>
					<path id="Path_352" data-name="Path 352" class="cls-5" d="M0,0H141" transform="translate(4127.5 100.5)"/>
					<path id="Path_351" data-name="Path 351" class="cls-5" d="M0,0H141" transform="translate(4127.5 133.5)"/>
					<path id="Path_355" data-name="Path 355" class="cls-6" d="M0,0H448" transform="translate(3861.358 174.5)"/>
					</g>
					</svg>
					<svg v-if="type == 'card'" id="Layer_481648749744" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 450.298 340">
					<g id="Group_162" data-name="Group 162" transform="translate(-11784 -68)">
					<g id="illustration" transform="translate(10583.464 -360.641)">
					<path id="Path_178" data-name="Path 178" class="cls-1" d="M64,27.43l45.174-2.682s21.457-2.682,29.5,0,59.007,18.775,59.007,18.775,24.139,5.364,26.822,29.5c1.143,10.283,10.132,72.118,14.587,102.606" transform="translate(1410.74 512.135)"/>
					<path id="Path_179" data-name="Path 179" class="cls-1" d="M124.774,44.878s-13.411-2.682-21.457-5.364c0,0-17.434.268-26.017-2.414" transform="translate(1427.326 534.919)"/>
					<g id="Path_358" data-name="Path 358" class="cls-2" transform="translate(1200.536 428.641)">
					<path class="cls-7" d="M10,0H440a10,10,0,0,1,10,10V330a10,10,0,0,1-10,10H10A10,10,0,0,1,0,330V10A10,10,0,0,1,10,0Z"/>
					<path class="cls-8" d="M 10 2 C 5.588775634765625 2 2 5.588775634765625 2 10 L 2 330 C 2 334.4112243652344 5.588775634765625 338 10 338 L 440 338 C 444.4112243652344 338 448 334.4112243652344 448 330 L 448 10 C 448 5.588775634765625 444.4112243652344 2 440 2 L 10 2 M 10 0 L 440 0 C 445.5228271484375 0 450 4.47711181640625 450 10 L 450 330 C 450 335.5228271484375 445.5228271484375 340 440 340 L 10 340 C 4.47711181640625 340 0 335.5228271484375 0 330 L 0 10 C 0 4.47711181640625 4.47711181640625 0 10 0 Z"/>
					</g>
					<path id="Path_178-2" data-name="Path 178" class="cls-1" d="M70,27.419l34.77-2.675s21.4-2.675,29.42,0,58.841,18.722,58.841,18.722,24.071,5.349,26.746,29.42c1.335,12.011,8,57.987,14.382,101.344" transform="translate(1415.407 512.174)"/>
					<path id="Path_179-2" data-name="Path 179" class="cls-1" d="M124.64,44.856s-13.373-2.675-21.4-5.349c0,0-17.385.267-25.943-2.407" transform="translate(1427.631 534.855)"/>
					<path id="Path_180" data-name="Path 180" class="cls-1" d="M112.853,77.5S50,75.095,50,59.047,60.7,43,60.7,43" transform="translate(1381.915 544.735)"/>
					<path id="Path_181" data-name="Path 181" class="cls-1" d="M128.544,90.246S33.864,84.095,54.191,52" transform="translate(1384.143 559.806)"/>
					<g id="Group_143" data-name="Group 143">
					<g id="Group_141" data-name="Group 141" transform="translate(1299.537 531.214)">
					<path id="Path_182" data-name="Path 182" class="cls-3" d="M187.721,190.712a7.881,7.881,0,0,1-8.024,8.024H8.524A8.047,8.047,0,0,1,.5,190.712V86.524A8.227,8.227,0,0,1,8.524,78.5H179.7a8.047,8.047,0,0,1,8.024,8.024Z" transform="translate(-0.5 -78.5)"/>
					<path id="Path_183" data-name="Path 183" class="cls-1" d="M187.721,190.712a7.881,7.881,0,0,1-8.024,8.024H8.524A8.047,8.047,0,0,1,.5,190.712V86.524A8.227,8.227,0,0,1,8.524,78.5H179.7a8.047,8.047,0,0,1,8.024,8.024Z" transform="translate(-0.5 -78.5)"/>
					</g>
					<g id="Group_142" data-name="Group 142" transform="translate(1318.072 547.93)">
					<line id="Line_23" data-name="Line 23" class="cls-4" x2="46.337" transform="translate(0 0)"/>
					<line id="Line_24" data-name="Line 24" class="cls-4" x2="23.169" transform="translate(0 12.357)"/>
					<line id="Line_25" data-name="Line 25" class="cls-4" x2="64.872" transform="translate(0 46.337)"/>
					<line id="Line_26" data-name="Line 26" class="cls-4" x2="64.872" transform="translate(0 33.981)"/>
					</g>
					<line id="Line_31" data-name="Line 31" class="cls-4" x2="184.547" transform="translate(1300.875 611.01)"/>
					</g>
					<path id="Path_184" data-name="Path 184" class="cls-5" d="M153.913,90.074S129.842,76.7,121.818,66s-37.444-34.77-37.444-34.77-10.7-8.024-21.4,0,0,24.071,0,24.071S79.024,79.375,92.4,95.423s21.4,21.4,26.746,42.793,26.746,50.817,40.119,69.539c7.689,10.765,14.494,27.72,18.992,40.477" transform="translate(1395.684 519.058)"/>
					</g>
					<path id="Path_356" data-name="Path 356" class="cls-6" d="M.471,1.842v6.45H1.31V5.776H2.378a2.143,2.143,0,0,0,1.539-.534,1.881,1.881,0,0,0,.571-1.419,1.887,1.887,0,0,0-.571-1.428,2.114,2.114,0,0,0-1.539-.553Zm1.907.783a1.15,1.15,0,0,1,1.262,1.2,1.134,1.134,0,0,1-1.262,1.17H1.31V2.625Zm4.733.187L5.33,5.11v.209l1.781,2.3H8.18L6.325,5.22,8.18,2.812Zm6.7-.971v3.9c0,1.244-.58,1.889-1.686,1.889-1.133,0-1.7-.627-1.7-1.889v-3.9H9.59v3.9a2.355,2.355,0,0,0,2.534,2.672,2.349,2.349,0,0,0,2.525-2.672v-3.9Zm2.027,0v.783h2.285V8.291h.838V2.625h2.285V1.842Zm9.241-.12a3.159,3.159,0,0,0-2.368.949,3.287,3.287,0,0,0-.931,2.386,3.316,3.316,0,0,0,.931,2.4,3.417,3.417,0,0,0,4.727,0,3.316,3.316,0,0,0,.931-2.4,3.287,3.287,0,0,0-.931-2.386A3.152,3.152,0,0,0,25.078,1.722Zm0,.783a2.241,2.241,0,0,1,1.732.728,2.557,2.557,0,0,1,.682,1.824A2.6,2.6,0,0,1,26.81,6.9a2.241,2.241,0,0,1-1.732.728A2.281,2.281,0,0,1,23.327,6.9a2.6,2.6,0,0,1-.673-1.843,2.551,2.551,0,0,1,.673-1.824A2.281,2.281,0,0,1,25.078,2.505Zm4.837-.663v6.45h2.322a3.212,3.212,0,0,0,2.377-.885,3.139,3.139,0,0,0,.894-2.34,3.139,3.139,0,0,0-.894-2.34,3.212,3.212,0,0,0-2.377-.885Zm2.322.783a2.24,2.24,0,0,1,2.414,2.442,2.248,2.248,0,0,1-2.414,2.442H30.754V2.625Zm7.887-.9a3.159,3.159,0,0,0-2.368.949,3.287,3.287,0,0,0-.931,2.386,3.316,3.316,0,0,0,.931,2.4,3.417,3.417,0,0,0,4.727,0,3.316,3.316,0,0,0,.931-2.4,3.287,3.287,0,0,0-.931-2.386A3.152,3.152,0,0,0,40.124,1.722Zm0,.783a2.241,2.241,0,0,1,1.732.728,2.557,2.557,0,0,1,.682,1.824A2.6,2.6,0,0,1,41.856,6.9a2.241,2.241,0,0,1-1.732.728A2.281,2.281,0,0,1,38.373,6.9,2.6,2.6,0,0,1,37.7,5.057a2.551,2.551,0,0,1,.673-1.824A2.281,2.281,0,0,1,40.124,2.505Zm4.837-.663v6.45h3.547V7.508H45.8V5.361h2.386V4.578H45.8V2.625h2.709V1.842Zm6.382.971-1.781,2.3v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408Zm3.784,0-1.781,2.3v.209l1.781,2.3H56.2l-1.855-2.4L56.2,2.812Zm1.935-.971v.783h2.285V8.291h.838V2.625H62.47V1.842Zm10.928,0V4.56H64.58V1.842h-.838v6.45h.838V5.352H67.99V8.291h.838V1.842Zm5.685-.12a3.159,3.159,0,0,0-2.368.949,3.287,3.287,0,0,0-.931,2.386,3.316,3.316,0,0,0,.931,2.4,3.417,3.417,0,0,0,4.727,0,3.316,3.316,0,0,0,.931-2.4,3.287,3.287,0,0,0-.931-2.386A3.152,3.152,0,0,0,73.674,1.722Zm0,.783a2.241,2.241,0,0,1,1.732.728,2.557,2.557,0,0,1,.682,1.824A2.6,2.6,0,0,1,75.407,6.9a2.241,2.241,0,0,1-1.732.728A2.281,2.281,0,0,1,71.924,6.9a2.6,2.6,0,0,1-.673-1.843,2.551,2.551,0,0,1,.673-1.824A2.281,2.281,0,0,1,73.674,2.505Zm10.55-.663L82,6.578l-.184.415-.175-.415L79.433,1.842h-.921v6.45h.838v-4.8l.175.479,1.963,4.321h.673L84.132,3.97l.175-.479v4.8h.838V1.842Zm4.033.971-1.781,2.3v.209l1.781,2.3h1.069L87.47,5.22l1.855-2.408Zm3.784,0-1.781,2.3v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408Zm3.784,0-1.781,2.3v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408Zm3.784,0-1.781,2.3v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408Zm3.784,0-1.781,2.3v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408Zm3.784,0-1.781,2.3v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408Zm3.784,0-1.781,2.3v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408Zm3.784,0-1.781,2.3v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408Zm3.784,0-1.781,2.3v.209l1.781,2.3H119.6l-1.855-2.4L119.6,2.812Zm3.784,0-1.781,2.3v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408Zm3.784,0-1.781,2.3v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408Zm3.784,0L128.1,5.11v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408ZM.462,15.662v6.45H4.175v-.783H1.3V15.662Zm7.684,1.428,1.023,2.534H6.893l1.014-2.534.12-.35ZM7.6,15.662l-2.589,6.45h.921l.673-1.7H9.455l.682,1.7h.921l-2.589-6.45Zm7.334-.12a3.01,3.01,0,0,0-2.294.949,3.343,3.343,0,0,0-.894,2.4,3.35,3.35,0,0,0,.9,2.4,3.03,3.03,0,0,0,2.3.949,2.894,2.894,0,0,0,2.147-.792,3.008,3.008,0,0,0,.783-2.2V18.8H15.066v.783H17a1.814,1.814,0,0,1-2.045,1.861,2.145,2.145,0,0,1-1.686-.728,2.654,2.654,0,0,1-.645-1.834,2.622,2.622,0,0,1,.645-1.834,2.114,2.114,0,0,1,1.658-.728,1.853,1.853,0,0,1,1.944,1.253H17.8A2.752,2.752,0,0,0,14.937,15.543Zm8.956.12-1.953,4.874-.129.415-.129-.415-1.953-4.874h-.9l2.607,6.45H22.2l2.6-6.45Zm4.321,0L25.671,20.1v.691h2.7v1.318h.838V20.794h.9V20.03h-.9V15.662Zm.166,4.377H26.592l1.585-2.783.2-.4Zm3.188-4.377v6.45h2.322a3.212,3.212,0,0,0,2.377-.885,3.139,3.139,0,0,0,.894-2.34,3.139,3.139,0,0,0-.894-2.34,3.212,3.212,0,0,0-2.377-.885Zm2.322.783A2.24,2.24,0,0,1,36.3,18.887a2.248,2.248,0,0,1-2.414,2.442H32.406V16.446Zm9.1-.783V18.38H39.584V15.662h-.838v6.45h.838V19.173h3.409v2.939h.838v-6.45Zm5.316,1.428,1.023,2.534H47.056l1.014-2.534.12-.35Zm-.544-1.428-2.589,6.45H46.1l.673-1.7h2.847l.682,1.7h.921l-2.589-6.45Zm8.716,0v3.9c0,1.244-.58,1.889-1.686,1.889-1.133,0-1.7-.627-1.7-1.889v-3.9h-.838v3.9a2.533,2.533,0,1,0,5.058,0v-3.9Zm5.491-.12a3.01,3.01,0,0,0-2.294.949,3.343,3.343,0,0,0-.894,2.4,3.343,3.343,0,0,0,.894,2.4,3.03,3.03,0,0,0,2.3.949,2.724,2.724,0,0,0,2.865-2.064h-.9a1.918,1.918,0,0,1-1.963,1.281,2.139,2.139,0,0,1-1.677-.728,2.654,2.654,0,0,1-.645-1.834,2.622,2.622,0,0,1,.645-1.834,2.133,2.133,0,0,1,1.668-.728,1.848,1.848,0,0,1,1.935,1.253h.931A2.752,2.752,0,0,0,61.973,15.543Zm6.035,0a1.829,1.829,0,0,0-1.373.507,1.8,1.8,0,0,0-.488,1.29,1.53,1.53,0,0,0,.424,1.152,3.967,3.967,0,0,0,1.327.737c1,.341,1.354.645,1.354,1.189a1.023,1.023,0,0,1-1.143,1.069,1.176,1.176,0,0,1-1.3-1.271h-.848A1.944,1.944,0,0,0,68.1,22.232a1.821,1.821,0,0,0,2-1.87,1.5,1.5,0,0,0-.415-1.115,4.036,4.036,0,0,0-1.41-.783,4.305,4.305,0,0,1-1.014-.516.854.854,0,0,1-.267-.673.906.906,0,0,1,1-.977,1,1,0,0,1,1.06,1.069H69.9A1.721,1.721,0,0,0,68.008,15.543Zm7.905.12v5.031l-.276-.424-3.188-4.607h-.82v6.45h.838V17.091l.249.4,3.206,4.625h.829v-6.45Zm2.727,0v6.45h.838V19.274h2.239v-.792H79.479V16.446h2.635v-.783Zm8.541,1.7a1.757,1.757,0,0,0-.516-1.29,1.776,1.776,0,0,0-1.336-.525,1.8,1.8,0,0,0-1.345.525,1.75,1.75,0,0,0-.507,1.29,1.577,1.577,0,0,0,.783,1.437,1.593,1.593,0,0,0-1,1.548,1.747,1.747,0,0,0,.59,1.354,2.288,2.288,0,0,0,2.939,0,1.747,1.747,0,0,0,.59-1.354,1.627,1.627,0,0,0-1-1.548A1.582,1.582,0,0,0,87.182,17.358ZM85.33,19.173a1.215,1.215,0,0,1,.848.322,1.055,1.055,0,0,1,.359.829,1.078,1.078,0,0,1-.35.829,1.25,1.25,0,0,1-.857.3,1.291,1.291,0,0,1-.866-.3,1.078,1.078,0,0,1-.35-.829A1.145,1.145,0,0,1,85.33,19.173Zm-1.023-1.8a1.023,1.023,0,1,1,2.045,0,1.023,1.023,0,1,1-2.045,0Zm4.349-1.714v.8H91.54L89,22.112h.912L92.5,16.344v-.682Zm8.818,1.7a1.818,1.818,0,0,0-.488-1.3A1.89,1.89,0,0,0,93.8,17.487h.838c0-.774.424-1.161,1.023-1.161a.921.921,0,0,1,.967,1.05c0,.709-.4,1.032-1.308,1.032h-.2v.737h.212c.967,0,1.52.415,1.52,1.189a1.064,1.064,0,0,1-1.133,1.115,1.1,1.1,0,0,1-1.225-1.189h-.829A1.848,1.848,0,0,0,95.7,22.232a2.043,2.043,0,0,0,1.447-.516,1.785,1.785,0,0,0,.553-1.354,1.55,1.55,0,0,0-1.124-1.594A1.406,1.406,0,0,0,97.473,17.358Zm3.084-.725-1.781,2.3v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408Zm3.784,0-1.781,2.3v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408Zm3.784,0-1.781,2.3v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408Zm3.784,0-1.781,2.3v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408Zm3.784,0-1.781,2.3v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408Zm3.784,0-1.781,2.3v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408Zm4.653-.971L121.586,20.1v.691h2.7v1.318h.838V20.794h.9V20.03h-.9V15.662Zm.166,4.377h-1.787l1.585-2.783.2-.4Zm2.819-4.377v.8H130l-2.543,5.648h.912l2.589-5.768v-.682Z" transform="translate(11909.892 259.04)"/>
					<path id="Path_357" data-name="Path 357" class="cls-6" d="M19.937,1.2,14.756,12.25l-.43.967-.408-.967L8.758,1.2H6.608V16.249H8.564V5.048l.408,1.118,4.579,10.083h1.569l4.6-10.083.408-1.118v11.2h1.956V1.2Zm6.557,0V16.249h1.956V10.143h2.193l3.289,6.106h2.236l-3.5-6.428a4.1,4.1,0,0,0,2.859-4.085C35.524,2.984,33.61,1.2,30.6,1.2ZM30.6,3.027a2.631,2.631,0,0,1,2.945,2.709c0,1.655-1.161,2.644-2.945,2.644h-2.15V3.027ZM38.555,1.2V3.027h8.277L38.469,14.68v1.569H49.584V14.422H41.006l8.32-11.652V1.2Z" transform="translate(11817.975 185.051)"/>
					<path id="Union_114" data-name="Union 114" class="cls-6" d="M17.79,64.231,20.6,61.423H12.286V58.354H20.6l-2.809-2.812,2.17-2.17,6.515,6.514L19.964,66.4Zm-5.507-2.808A12.3,12.3,0,0,1,0,49.137V0H3.072V49.137h0a9.221,9.221,0,0,0,9.217,9.214v3.072Z" transform="translate(11844.201 210.535)"/>
					</g>
					</svg>
				</div>
				<div class="col">
					<div class="text_holder">
						<div class="mb20" v-if="type == 'passport'" v-text="getField('mrz_text_passport')"/>
						<div class="mb20" v-if="type == 'card'" v-text="getField('mrz_text_card')"/>
						<div class="mobile_icon_holder mobile_only">
							<svg v-if="type == 'passport'" id="Layer_464684684" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 450.358 340">
							<g id="Group_158" data-name="Group 158" transform="translate(-3860 67)">
							<g id="Path_349" data-name="Path 349" class="cls-1" transform="translate(3860 -67)">
							<path class="cls-7" d="M10,0H440a10,10,0,0,1,10,10V330a10,10,0,0,1-10,10H10A10,10,0,0,1,0,330V10A10,10,0,0,1,10,0Z"/>
							<path class="cls-8" d="M 10 2 C 5.588775634765625 2 2 5.588775634765625 2 10 L 2 330 C 2 334.4112243652344 5.588775634765625 338 10 338 L 440 338 C 444.4112243652344 338 448 334.4112243652344 448 330 L 448 10 C 448 5.588775634765625 444.4112243652344 2 440 2 L 10 2 M 10 0 L 440 0 C 445.5228271484375 0 450 4.47711181640625 450 10 L 450 330 C 450 335.5228271484375 445.5228271484375 340 440 340 L 10 340 C 4.47711181640625 340 0 335.5228271484375 0 330 L 0 10 C 0 4.47711181640625 4.47711181640625 0 10 0 Z"/>
							</g>
							<path id="Path_191" data-name="Path 191" class="cls-2" d="M31,158.628s1.915-25.531,35.754-31.754c34.477-6.351,31.923-20.323,31.923-20.323V90.039s-6.385-8.891-7.662-19.053c0,0-2.554,0-2.554-3.811s-1.277-8.891-2.554-12.7-1.277-8.891,2.554-8.891c0,0-2.554-8.891-2.554-16.512S84.631,6.207,106.339,4.937c0,0,15.323-11.432,37.031,2.54,0,0,17.877,10.161,8.938,38.105,0,0,3.831,0,2.554,3.811s-3.831,13.972-3.831,16.512,0,6.351-2.554,5.081a69.083,69.083,0,0,1-6.385,19.053l1.277,17.782s-1.277,11.432,31.923,20.323c33.966,9.145,33.2,22.863,33.2,30.484" transform="translate(3872.026 -25.628)"/>
							<path id="Path_200" data-name="Path 200" class="cls-3" d="M210,0" transform="translate(3909.465 133.001)"/>
							<path id="Path_347" data-name="Path 347" class="cls-4" d="M1.248,5.8V17H2.7V12.632H4.56A3.722,3.722,0,0,0,7.232,11.7,3.266,3.266,0,0,0,8.224,9.24a3.277,3.277,0,0,0-.992-2.48A3.671,3.671,0,0,0,4.56,5.8ZM4.56,7.16A2,2,0,0,1,6.752,9.24,1.97,1.97,0,0,1,4.56,11.272H2.7V7.16Zm8.324.028L9.694,11.3v.374l3.19,4.114H14.8L11.476,11.5,14.8,7.188ZM24.616,5.8v6.768c0,2.16-1.008,3.28-2.928,3.28-1.968,0-2.944-1.088-2.944-3.28V5.8H17.288v6.768c0,3.008,1.6,4.64,4.4,4.64s4.384-1.632,4.384-4.64V5.8Zm3.52,0V7.16H32.1V17H33.56V7.16h3.968V5.8Zm16.048-.208A5.485,5.485,0,0,0,40.072,7.24a5.708,5.708,0,0,0-1.616,4.144,5.758,5.758,0,0,0,1.616,4.176,5.934,5.934,0,0,0,8.208,0A5.758,5.758,0,0,0,49.9,11.384,5.708,5.708,0,0,0,48.28,7.24,5.474,5.474,0,0,0,44.184,5.592Zm0,1.36a3.892,3.892,0,0,1,3.008,1.264,4.441,4.441,0,0,1,1.184,3.168,4.519,4.519,0,0,1-1.184,3.2,3.892,3.892,0,0,1-3.008,1.264,3.961,3.961,0,0,1-3.04-1.264,4.508,4.508,0,0,1-1.168-3.2,4.43,4.43,0,0,1,1.168-3.168A3.961,3.961,0,0,1,44.184,6.952Zm8.4-1.152V17h4.032a5.578,5.578,0,0,0,4.128-1.536A5.45,5.45,0,0,0,62.3,11.4a5.45,5.45,0,0,0-1.552-4.064A5.578,5.578,0,0,0,56.616,5.8Zm4.032,1.36a3.889,3.889,0,0,1,4.192,4.24,3.9,3.9,0,0,1-4.192,4.24H54.04V7.16Zm13.7-1.568A5.485,5.485,0,0,0,66.2,7.24a5.708,5.708,0,0,0-1.616,4.144A5.758,5.758,0,0,0,66.2,15.56a5.934,5.934,0,0,0,8.208,0,5.758,5.758,0,0,0,1.616-4.176A5.708,5.708,0,0,0,74.408,7.24,5.474,5.474,0,0,0,70.312,5.592Zm0,1.36A3.892,3.892,0,0,1,73.32,8.216,4.441,4.441,0,0,1,74.5,11.384a4.519,4.519,0,0,1-1.184,3.2,3.892,3.892,0,0,1-3.008,1.264,3.961,3.961,0,0,1-3.04-1.264,4.508,4.508,0,0,1-1.168-3.2,4.43,4.43,0,0,1,1.168-3.168A3.961,3.961,0,0,1,70.312,6.952Zm8.4-1.152V17h6.16V15.64h-4.7V11.912h4.144v-1.36H80.168V7.16h4.7V5.8ZM89.9,7.188,86.71,11.3v.374L89.9,15.79h1.914L88.492,11.5l3.322-4.312Zm6.776,0L93.486,11.3v.374l3.19,4.114H98.59L95.268,11.5,98.59,7.188Zm3.46-1.388V7.16H104.1V17h1.456V7.16h3.968V5.8Zm18.976,0v4.72h-5.92V5.8h-1.456V17h1.456V11.9h5.92V17h1.456V5.8Zm9.872-.208a5.485,5.485,0,0,0-4.112,1.648,5.708,5.708,0,0,0-1.616,4.144,5.758,5.758,0,0,0,1.616,4.176,5.934,5.934,0,0,0,8.208,0,5.758,5.758,0,0,0,1.616-4.176A5.708,5.708,0,0,0,133.08,7.24,5.474,5.474,0,0,0,128.984,5.592Zm0,1.36a3.892,3.892,0,0,1,3.008,1.264,4.441,4.441,0,0,1,1.184,3.168,4.519,4.519,0,0,1-1.184,3.2,3.892,3.892,0,0,1-3.008,1.264,3.961,3.961,0,0,1-3.04-1.264,4.508,4.508,0,0,1-1.168-3.2,4.43,4.43,0,0,1,1.168-3.168A3.961,3.961,0,0,1,128.984,6.952ZM147.3,5.8l-3.856,8.224-.32.72-.3-.72L138.984,5.8h-1.6V17h1.456V8.664l.3.832,3.408,7.5h1.168l3.424-7.5.3-.832V17H148.9V5.8Zm7.108,1.388-3.19,4.114v.374l3.19,4.114h1.914L153,11.5l3.322-4.312Zm6.776,0L158,11.3v.374l3.19,4.114H163.1L159.78,11.5,163.1,7.188Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0L171.55,11.3v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0L185.1,11.3v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914L193.66,11.5l3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0L205.43,11.3v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914L227.54,11.5l3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0L239.31,11.3v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914L261.42,11.5l3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914L268.2,11.5l3.322-4.312Zm6.776,0L273.19,11.3v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914L295.3,11.5l3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114H305.4l-3.322-4.29L305.4,7.188Zm6.776,0L307.07,11.3v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914L322.4,11.5l3.322-4.312Zm6.776,0L327.4,11.3v.374l3.19,4.114H332.5L329.18,11.5,332.5,7.188Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0L340.95,11.3v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0L354.5,11.3v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914L363.06,11.5l3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312ZM1.232,33.8V45H7.68V43.64H2.688V33.8Zm13.344,2.48,1.776,4.4H12.4l1.76-4.4.208-.608Zm-.944-2.48L9.136,45h1.6L11.9,42.04h4.944L18.032,45h1.6l-4.5-11.2Zm11.3-.208a3.176,3.176,0,0,0-2.384.88,3.118,3.118,0,0,0-.848,2.24,2.657,2.657,0,0,0,.736,2,6.888,6.888,0,0,0,2.3,1.28c1.728.592,2.352,1.12,2.352,2.064A1.777,1.777,0,0,1,25.1,43.912,2.041,2.041,0,0,1,22.848,41.7H21.376a3.377,3.377,0,0,0,3.712,3.5A3.162,3.162,0,0,0,28.56,41.96a2.608,2.608,0,0,0-.72-1.936,7.008,7.008,0,0,0-2.448-1.36,7.475,7.475,0,0,1-1.76-.9,1.483,1.483,0,0,1-.464-1.168A1.573,1.573,0,0,1,24.9,34.9a1.734,1.734,0,0,1,1.84,1.856h1.472A2.988,2.988,0,0,0,24.928,33.592Zm6.288.208V45h1.456V40.072H36.56V38.7H32.672V35.16h4.576V33.8Zm14.576,2.944a3.157,3.157,0,0,0-.848-2.256,3.283,3.283,0,0,0-5.536,2.48h1.456c0-1.344.736-2.016,1.776-2.016a1.6,1.6,0,0,1,1.68,1.824c0,1.232-.688,1.792-2.272,1.792H41.7v1.28h.368c1.68,0,2.64.72,2.64,2.064a1.848,1.848,0,0,1-1.968,1.936,1.911,1.911,0,0,1-2.128-2.064h-1.44A3.209,3.209,0,0,0,42.7,45.208a3.548,3.548,0,0,0,2.512-.9,3.1,3.1,0,0,0,.96-2.352,2.691,2.691,0,0,0-1.952-2.768A2.442,2.442,0,0,0,45.792,36.744Zm3.3-2.944v6.064h1.3a3.184,3.184,0,0,1,1.792-.512,1.957,1.957,0,0,1,2.064,2.176c0,1.392-.752,2.32-2.032,2.32a1.766,1.766,0,0,1-1.984-1.9H48.768c0,2.112,1.312,3.264,3.424,3.264a3.3,3.3,0,0,0,2.56-1.04,3.789,3.789,0,0,0,.96-2.688,3.489,3.489,0,0,0-.912-2.544,3.217,3.217,0,0,0-2.416-.944,3.579,3.579,0,0,0-1.824.416V35.16h4.56V33.8Zm12.9,0-4.416,7.712v1.2h4.688V45h1.456V42.712H65.28V41.384H63.712V33.8Zm.288,7.6h-3.1l2.752-4.832.352-.688Zm8.912-7.808c-2.64,0-3.824,2.064-3.824,6.1,0,2.08.368,3.552,1.12,4.4a3.692,3.692,0,0,0,5.184.112,3.67,3.67,0,0,0,.96-2.608A3.509,3.509,0,0,0,73.7,39.08a3.313,3.313,0,0,0-2.528-.992,2.849,2.849,0,0,0-2.336,1.12c.048-2.96.816-4.256,2.3-4.256a1.648,1.648,0,0,1,1.776,1.728h1.472a3.157,3.157,0,0,0-.96-2.24A3.118,3.118,0,0,0,71.184,33.592Zm-.1,5.856a2.214,2.214,0,0,1,0,4.416,1.93,1.93,0,0,1-1.536-.688,2.351,2.351,0,0,1-.592-1.584,2.131,2.131,0,0,1,2.128-2.144ZM80.976,33.8,76.56,41.512v1.2h4.688V45H82.7V42.712h1.568V41.384H82.7V33.8Zm.288,7.6h-3.1l2.752-4.832.352-.688Zm5.6-7.6v6.064h1.3a3.184,3.184,0,0,1,1.792-.512,1.957,1.957,0,0,1,2.064,2.176c0,1.392-.752,2.32-2.032,2.32A1.766,1.766,0,0,1,88,41.944H86.544c0,2.112,1.312,3.264,3.424,3.264a3.3,3.3,0,0,0,2.56-1.04,3.789,3.789,0,0,0,.96-2.688,3.489,3.489,0,0,0-.912-2.544,3.217,3.217,0,0,0-2.416-.944,3.579,3.579,0,0,0-1.824.416V35.16H92.9V33.8Zm12.64-.208c-2.64,0-3.824,2.064-3.824,6.1,0,2.08.368,3.552,1.12,4.4a3.692,3.692,0,0,0,5.184.112,3.67,3.67,0,0,0,.96-2.608,3.509,3.509,0,0,0-.928-2.512,3.313,3.313,0,0,0-2.528-.992,2.849,2.849,0,0,0-2.336,1.12c.048-2.96.816-4.256,2.3-4.256a1.648,1.648,0,0,1,1.776,1.728H102.7a3.157,3.157,0,0,0-.96-2.24A3.118,3.118,0,0,0,99.5,33.592Zm-.1,5.856a2.214,2.214,0,0,1,0,4.416,1.93,1.93,0,0,1-1.536-.688,2.351,2.351,0,0,1-.592-1.584,2.131,2.131,0,0,1,2.128-2.144Zm6.256-5.648V45h3.616c2.256,0,3.7-1.264,3.7-3.2a2.717,2.717,0,0,0-1.888-2.672,2.581,2.581,0,0,0,1.2-2.288c0-1.856-1.344-3.04-3.5-3.04Zm3.616,6.16c1.392,0,2.208.672,2.208,1.808,0,1.168-.848,1.872-2.208,1.872h-2.16V39.96Zm-.5-4.8c1.264,0,2.032.624,2.032,1.76a1.731,1.731,0,0,1-1.968,1.7H107.12V35.16Zm11.008-1.36v7.92c0,1.344-.592,2.08-1.68,2.08-1.184,0-1.808-.736-1.872-2.192h-1.456c.08,2.24,1.152,3.552,3.328,3.552,2.032,0,3.136-1.184,3.136-3.376V33.8Zm11.984,0v4.72h-5.92V33.8H124.4V45h1.456V39.9h5.92V45h1.456V33.8Zm4.752,0V45h3.616c2.256,0,3.7-1.264,3.7-3.2a2.717,2.717,0,0,0-1.888-2.672,2.581,2.581,0,0,0,1.2-2.288c0-1.856-1.344-3.04-3.5-3.04Zm3.616,6.16c1.392,0,2.208.672,2.208,1.808,0,1.168-.848,1.872-2.208,1.872h-2.16V39.96Zm-.5-4.8c1.264,0,2.032.624,2.032,1.76a1.731,1.731,0,0,1-1.968,1.7h-1.728V35.16ZM153.84,33.8v4.72h-5.92V33.8h-1.456V45h1.456V39.9h5.92V45H155.3V33.8Zm9.68-.208a5.226,5.226,0,0,0-3.984,1.648,6.327,6.327,0,0,0,.016,8.32,5.261,5.261,0,0,0,4,1.648,5.025,5.025,0,0,0,3.728-1.376,5.224,5.224,0,0,0,1.36-3.824v-.752h-4.9v1.36h3.36c-.064,2.128-1.424,3.232-3.552,3.232a3.724,3.724,0,0,1-2.928-1.264A4.608,4.608,0,0,1,159.5,39.4a4.553,4.553,0,0,1,1.12-3.184,3.671,3.671,0,0,1,2.88-1.264,3.217,3.217,0,0,1,3.376,2.176H168.5A4.779,4.779,0,0,0,163.52,33.592Zm12.848,0a5.226,5.226,0,0,0-3.984,1.648,6.327,6.327,0,0,0,.016,8.32,5.261,5.261,0,0,0,4,1.648,5.025,5.025,0,0,0,3.728-1.376,5.224,5.224,0,0,0,1.36-3.824v-.752h-4.9v1.36h3.36c-.064,2.128-1.424,3.232-3.552,3.232a3.724,3.724,0,0,1-2.928-1.264,4.608,4.608,0,0,1-1.12-3.184,4.553,4.553,0,0,1,1.12-3.184,3.671,3.671,0,0,1,2.88-1.264,3.217,3.217,0,0,1,3.376,2.176h1.616A4.779,4.779,0,0,0,176.368,33.592Zm15.552.208-3.392,8.464-.224.72-.224-.72L184.688,33.8H183.12L187.648,45h1.328l4.512-11.2Zm7.5,0-4.416,7.712v1.2H199.7V45h1.456V42.712h1.568V41.384h-1.568V33.8Zm.288,7.6h-3.1l2.752-4.832.352-.688Zm7.424-7.6c-.256,1.072-.976,1.376-2.688,1.376v1.248H206.8V45h1.456V33.8Zm3.744,0v1.392h5.008L211.472,45h1.584l4.5-10.016V33.8Zm15.568,2.944a3.051,3.051,0,0,0-.9-2.24,3.085,3.085,0,0,0-2.32-.912,3.121,3.121,0,0,0-2.336.912,3.039,3.039,0,0,0-.88,2.24,2.738,2.738,0,0,0,1.36,2.5,2.767,2.767,0,0,0-1.728,2.688,3.034,3.034,0,0,0,1.024,2.352,3.973,3.973,0,0,0,5.1,0,3.034,3.034,0,0,0,1.024-2.352,2.825,2.825,0,0,0-1.728-2.688A2.747,2.747,0,0,0,226.448,36.744ZM223.232,39.9a2.11,2.11,0,0,1,1.472.56,1.832,1.832,0,0,1,.624,1.44,1.872,1.872,0,0,1-.608,1.44,2.171,2.171,0,0,1-1.488.528,2.241,2.241,0,0,1-1.5-.528,1.872,1.872,0,0,1-.608-1.44A1.989,1.989,0,0,1,223.232,39.9Zm-1.776-3.12a1.777,1.777,0,1,1,3.552,0,1.776,1.776,0,1,1-3.552,0Zm8.192-2.976V45h4.032a5.578,5.578,0,0,0,4.128-1.536A5.45,5.45,0,0,0,239.36,39.4a5.45,5.45,0,0,0-1.552-4.064A5.578,5.578,0,0,0,233.68,33.8Zm4.032,1.36a3.889,3.889,0,0,1,4.192,4.24,3.9,3.9,0,0,1-4.192,4.24H231.1V35.16Zm15.808-1.36v4.72h-5.92V33.8h-1.456V45h1.456V39.9h5.92V45h1.456V33.8Zm11.936,0v6.768c0,2.16-1.008,3.28-2.928,3.28-1.968,0-2.944-1.088-2.944-3.28V33.8H254.1v6.768c0,3.008,1.6,4.64,4.4,4.64s4.384-1.632,4.384-4.64V33.8Zm9.536-.208a5.226,5.226,0,0,0-3.984,1.648,5.805,5.805,0,0,0-1.552,4.16,5.805,5.805,0,0,0,1.552,4.16,5.261,5.261,0,0,0,4,1.648,4.73,4.73,0,0,0,4.976-3.584h-1.568a3.331,3.331,0,0,1-3.408,2.224,3.714,3.714,0,0,1-2.912-1.264,4.608,4.608,0,0,1-1.12-3.184,4.553,4.553,0,0,1,1.12-3.184,3.7,3.7,0,0,1,2.9-1.264,3.21,3.21,0,0,1,3.36,2.176h1.616A4.779,4.779,0,0,0,270.96,33.592Zm14.96.208v8.736l-.48-.736-5.536-8H278.48V45h1.456V36.28l.432.688L285.936,45h1.44V33.8Zm4.736,0V45h1.456V40.072H296V38.7h-3.888V35.16h4.576V33.8Zm14.832,2.944a3.051,3.051,0,0,0-.9-2.24,3.085,3.085,0,0,0-2.32-.912,3.121,3.121,0,0,0-2.336.912,3.039,3.039,0,0,0-.88,2.24,2.738,2.738,0,0,0,1.36,2.5,2.767,2.767,0,0,0-1.728,2.688,3.034,3.034,0,0,0,1.024,2.352,3.973,3.973,0,0,0,5.1,0,3.034,3.034,0,0,0,1.024-2.352,2.825,2.825,0,0,0-1.728-2.688A2.748,2.748,0,0,0,305.488,36.744ZM302.272,39.9a2.109,2.109,0,0,1,1.472.56,1.832,1.832,0,0,1,.624,1.44,1.872,1.872,0,0,1-.608,1.44,2.171,2.171,0,0,1-1.488.528,2.241,2.241,0,0,1-1.5-.528,1.872,1.872,0,0,1-.608-1.44A1.989,1.989,0,0,1,302.272,39.9Zm-1.776-3.12a1.777,1.777,0,1,1,3.552,0,1.776,1.776,0,1,1-3.552,0Zm7.552-2.976v1.392h5.008L308.64,45h1.584l4.5-10.016V33.8Zm15.312,2.944a3.157,3.157,0,0,0-.848-2.256,3.283,3.283,0,0,0-5.536,2.48h1.456c0-1.344.736-2.016,1.776-2.016a1.6,1.6,0,0,1,1.68,1.824c0,1.232-.688,1.792-2.272,1.792h-.352v1.28h.368c1.68,0,2.64.72,2.64,2.064a1.848,1.848,0,0,1-1.968,1.936,1.911,1.911,0,0,1-2.128-2.064h-1.44a3.209,3.209,0,0,0,3.536,3.424,3.548,3.548,0,0,0,2.512-.9,3.1,3.1,0,0,0,.96-2.352,2.691,2.691,0,0,0-1.952-2.768A2.442,2.442,0,0,0,323.36,36.744Zm5.46-1.556L325.63,39.3v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914L347.74,39.5l3.322-4.312Zm6.776,0-3.19,4.114v.374l3.19,4.114h1.914l-3.322-4.29,3.322-4.312ZM364.1,33.8l-4.416,7.712v1.2h4.688V45h1.456V42.712H367.4V41.384h-1.568V33.8Zm.288,7.6h-3.1l2.752-4.832.352-.688Zm4.9-7.6v1.392H374.3L369.88,45h1.584l4.5-10.016V33.8Z" transform="translate(3895 198)"/>
							<path id="Path_354" data-name="Path 354" class="cls-5" d="M0,0H95" transform="translate(4127.5 -23.5)"/>
							<path id="Path_353" data-name="Path 353" class="cls-5" d="M0,0H62" transform="translate(4127.5 8.5)"/>
							<path id="Path_352" data-name="Path 352" class="cls-5" d="M0,0H141" transform="translate(4127.5 100.5)"/>
							<path id="Path_351" data-name="Path 351" class="cls-5" d="M0,0H141" transform="translate(4127.5 133.5)"/>
							<path id="Path_355" data-name="Path 355" class="cls-6" d="M0,0H448" transform="translate(3861.358 174.5)"/>
							</g>
							</svg>
							<svg v-if="type == 'card'" id="Layer_481648749744" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 450.298 340">
							<g id="Group_162" data-name="Group 162" transform="translate(-11784 -68)">
							<g id="illustration" transform="translate(10583.464 -360.641)">
							<path id="Path_178" data-name="Path 178" class="cls-1" d="M64,27.43l45.174-2.682s21.457-2.682,29.5,0,59.007,18.775,59.007,18.775,24.139,5.364,26.822,29.5c1.143,10.283,10.132,72.118,14.587,102.606" transform="translate(1410.74 512.135)"/>
							<path id="Path_179" data-name="Path 179" class="cls-1" d="M124.774,44.878s-13.411-2.682-21.457-5.364c0,0-17.434.268-26.017-2.414" transform="translate(1427.326 534.919)"/>
							<g id="Path_358" data-name="Path 358" class="cls-2" transform="translate(1200.536 428.641)">
							<path class="cls-7" d="M10,0H440a10,10,0,0,1,10,10V330a10,10,0,0,1-10,10H10A10,10,0,0,1,0,330V10A10,10,0,0,1,10,0Z"/>
							<path class="cls-8" d="M 10 2 C 5.588775634765625 2 2 5.588775634765625 2 10 L 2 330 C 2 334.4112243652344 5.588775634765625 338 10 338 L 440 338 C 444.4112243652344 338 448 334.4112243652344 448 330 L 448 10 C 448 5.588775634765625 444.4112243652344 2 440 2 L 10 2 M 10 0 L 440 0 C 445.5228271484375 0 450 4.47711181640625 450 10 L 450 330 C 450 335.5228271484375 445.5228271484375 340 440 340 L 10 340 C 4.47711181640625 340 0 335.5228271484375 0 330 L 0 10 C 0 4.47711181640625 4.47711181640625 0 10 0 Z"/>
							</g>
							<path id="Path_178-2" data-name="Path 178" class="cls-1" d="M70,27.419l34.77-2.675s21.4-2.675,29.42,0,58.841,18.722,58.841,18.722,24.071,5.349,26.746,29.42c1.335,12.011,8,57.987,14.382,101.344" transform="translate(1415.407 512.174)"/>
							<path id="Path_179-2" data-name="Path 179" class="cls-1" d="M124.64,44.856s-13.373-2.675-21.4-5.349c0,0-17.385.267-25.943-2.407" transform="translate(1427.631 534.855)"/>
							<path id="Path_180" data-name="Path 180" class="cls-1" d="M112.853,77.5S50,75.095,50,59.047,60.7,43,60.7,43" transform="translate(1381.915 544.735)"/>
							<path id="Path_181" data-name="Path 181" class="cls-1" d="M128.544,90.246S33.864,84.095,54.191,52" transform="translate(1384.143 559.806)"/>
							<g id="Group_143" data-name="Group 143">
							<g id="Group_141" data-name="Group 141" transform="translate(1299.537 531.214)">
							<path id="Path_182" data-name="Path 182" class="cls-3" d="M187.721,190.712a7.881,7.881,0,0,1-8.024,8.024H8.524A8.047,8.047,0,0,1,.5,190.712V86.524A8.227,8.227,0,0,1,8.524,78.5H179.7a8.047,8.047,0,0,1,8.024,8.024Z" transform="translate(-0.5 -78.5)"/>
							<path id="Path_183" data-name="Path 183" class="cls-1" d="M187.721,190.712a7.881,7.881,0,0,1-8.024,8.024H8.524A8.047,8.047,0,0,1,.5,190.712V86.524A8.227,8.227,0,0,1,8.524,78.5H179.7a8.047,8.047,0,0,1,8.024,8.024Z" transform="translate(-0.5 -78.5)"/>
							</g>
							<g id="Group_142" data-name="Group 142" transform="translate(1318.072 547.93)">
							<line id="Line_23" data-name="Line 23" class="cls-4" x2="46.337" transform="translate(0 0)"/>
							<line id="Line_24" data-name="Line 24" class="cls-4" x2="23.169" transform="translate(0 12.357)"/>
							<line id="Line_25" data-name="Line 25" class="cls-4" x2="64.872" transform="translate(0 46.337)"/>
							<line id="Line_26" data-name="Line 26" class="cls-4" x2="64.872" transform="translate(0 33.981)"/>
							</g>
							<line id="Line_31" data-name="Line 31" class="cls-4" x2="184.547" transform="translate(1300.875 611.01)"/>
							</g>
							<path id="Path_184" data-name="Path 184" class="cls-5" d="M153.913,90.074S129.842,76.7,121.818,66s-37.444-34.77-37.444-34.77-10.7-8.024-21.4,0,0,24.071,0,24.071S79.024,79.375,92.4,95.423s21.4,21.4,26.746,42.793,26.746,50.817,40.119,69.539c7.689,10.765,14.494,27.72,18.992,40.477" transform="translate(1395.684 519.058)"/>
							</g>
							<path id="Path_356" data-name="Path 356" class="cls-6" d="M.471,1.842v6.45H1.31V5.776H2.378a2.143,2.143,0,0,0,1.539-.534,1.881,1.881,0,0,0,.571-1.419,1.887,1.887,0,0,0-.571-1.428,2.114,2.114,0,0,0-1.539-.553Zm1.907.783a1.15,1.15,0,0,1,1.262,1.2,1.134,1.134,0,0,1-1.262,1.17H1.31V2.625Zm4.733.187L5.33,5.11v.209l1.781,2.3H8.18L6.325,5.22,8.18,2.812Zm6.7-.971v3.9c0,1.244-.58,1.889-1.686,1.889-1.133,0-1.7-.627-1.7-1.889v-3.9H9.59v3.9a2.355,2.355,0,0,0,2.534,2.672,2.349,2.349,0,0,0,2.525-2.672v-3.9Zm2.027,0v.783h2.285V8.291h.838V2.625h2.285V1.842Zm9.241-.12a3.159,3.159,0,0,0-2.368.949,3.287,3.287,0,0,0-.931,2.386,3.316,3.316,0,0,0,.931,2.4,3.417,3.417,0,0,0,4.727,0,3.316,3.316,0,0,0,.931-2.4,3.287,3.287,0,0,0-.931-2.386A3.152,3.152,0,0,0,25.078,1.722Zm0,.783a2.241,2.241,0,0,1,1.732.728,2.557,2.557,0,0,1,.682,1.824A2.6,2.6,0,0,1,26.81,6.9a2.241,2.241,0,0,1-1.732.728A2.281,2.281,0,0,1,23.327,6.9a2.6,2.6,0,0,1-.673-1.843,2.551,2.551,0,0,1,.673-1.824A2.281,2.281,0,0,1,25.078,2.505Zm4.837-.663v6.45h2.322a3.212,3.212,0,0,0,2.377-.885,3.139,3.139,0,0,0,.894-2.34,3.139,3.139,0,0,0-.894-2.34,3.212,3.212,0,0,0-2.377-.885Zm2.322.783a2.24,2.24,0,0,1,2.414,2.442,2.248,2.248,0,0,1-2.414,2.442H30.754V2.625Zm7.887-.9a3.159,3.159,0,0,0-2.368.949,3.287,3.287,0,0,0-.931,2.386,3.316,3.316,0,0,0,.931,2.4,3.417,3.417,0,0,0,4.727,0,3.316,3.316,0,0,0,.931-2.4,3.287,3.287,0,0,0-.931-2.386A3.152,3.152,0,0,0,40.124,1.722Zm0,.783a2.241,2.241,0,0,1,1.732.728,2.557,2.557,0,0,1,.682,1.824A2.6,2.6,0,0,1,41.856,6.9a2.241,2.241,0,0,1-1.732.728A2.281,2.281,0,0,1,38.373,6.9,2.6,2.6,0,0,1,37.7,5.057a2.551,2.551,0,0,1,.673-1.824A2.281,2.281,0,0,1,40.124,2.505Zm4.837-.663v6.45h3.547V7.508H45.8V5.361h2.386V4.578H45.8V2.625h2.709V1.842Zm6.382.971-1.781,2.3v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408Zm3.784,0-1.781,2.3v.209l1.781,2.3H56.2l-1.855-2.4L56.2,2.812Zm1.935-.971v.783h2.285V8.291h.838V2.625H62.47V1.842Zm10.928,0V4.56H64.58V1.842h-.838v6.45h.838V5.352H67.99V8.291h.838V1.842Zm5.685-.12a3.159,3.159,0,0,0-2.368.949,3.287,3.287,0,0,0-.931,2.386,3.316,3.316,0,0,0,.931,2.4,3.417,3.417,0,0,0,4.727,0,3.316,3.316,0,0,0,.931-2.4,3.287,3.287,0,0,0-.931-2.386A3.152,3.152,0,0,0,73.674,1.722Zm0,.783a2.241,2.241,0,0,1,1.732.728,2.557,2.557,0,0,1,.682,1.824A2.6,2.6,0,0,1,75.407,6.9a2.241,2.241,0,0,1-1.732.728A2.281,2.281,0,0,1,71.924,6.9a2.6,2.6,0,0,1-.673-1.843,2.551,2.551,0,0,1,.673-1.824A2.281,2.281,0,0,1,73.674,2.505Zm10.55-.663L82,6.578l-.184.415-.175-.415L79.433,1.842h-.921v6.45h.838v-4.8l.175.479,1.963,4.321h.673L84.132,3.97l.175-.479v4.8h.838V1.842Zm4.033.971-1.781,2.3v.209l1.781,2.3h1.069L87.47,5.22l1.855-2.408Zm3.784,0-1.781,2.3v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408Zm3.784,0-1.781,2.3v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408Zm3.784,0-1.781,2.3v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408Zm3.784,0-1.781,2.3v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408Zm3.784,0-1.781,2.3v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408Zm3.784,0-1.781,2.3v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408Zm3.784,0-1.781,2.3v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408Zm3.784,0-1.781,2.3v.209l1.781,2.3H119.6l-1.855-2.4L119.6,2.812Zm3.784,0-1.781,2.3v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408Zm3.784,0-1.781,2.3v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408Zm3.784,0L128.1,5.11v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408ZM.462,15.662v6.45H4.175v-.783H1.3V15.662Zm7.684,1.428,1.023,2.534H6.893l1.014-2.534.12-.35ZM7.6,15.662l-2.589,6.45h.921l.673-1.7H9.455l.682,1.7h.921l-2.589-6.45Zm7.334-.12a3.01,3.01,0,0,0-2.294.949,3.343,3.343,0,0,0-.894,2.4,3.35,3.35,0,0,0,.9,2.4,3.03,3.03,0,0,0,2.3.949,2.894,2.894,0,0,0,2.147-.792,3.008,3.008,0,0,0,.783-2.2V18.8H15.066v.783H17a1.814,1.814,0,0,1-2.045,1.861,2.145,2.145,0,0,1-1.686-.728,2.654,2.654,0,0,1-.645-1.834,2.622,2.622,0,0,1,.645-1.834,2.114,2.114,0,0,1,1.658-.728,1.853,1.853,0,0,1,1.944,1.253H17.8A2.752,2.752,0,0,0,14.937,15.543Zm8.956.12-1.953,4.874-.129.415-.129-.415-1.953-4.874h-.9l2.607,6.45H22.2l2.6-6.45Zm4.321,0L25.671,20.1v.691h2.7v1.318h.838V20.794h.9V20.03h-.9V15.662Zm.166,4.377H26.592l1.585-2.783.2-.4Zm3.188-4.377v6.45h2.322a3.212,3.212,0,0,0,2.377-.885,3.139,3.139,0,0,0,.894-2.34,3.139,3.139,0,0,0-.894-2.34,3.212,3.212,0,0,0-2.377-.885Zm2.322.783A2.24,2.24,0,0,1,36.3,18.887a2.248,2.248,0,0,1-2.414,2.442H32.406V16.446Zm9.1-.783V18.38H39.584V15.662h-.838v6.45h.838V19.173h3.409v2.939h.838v-6.45Zm5.316,1.428,1.023,2.534H47.056l1.014-2.534.12-.35Zm-.544-1.428-2.589,6.45H46.1l.673-1.7h2.847l.682,1.7h.921l-2.589-6.45Zm8.716,0v3.9c0,1.244-.58,1.889-1.686,1.889-1.133,0-1.7-.627-1.7-1.889v-3.9h-.838v3.9a2.533,2.533,0,1,0,5.058,0v-3.9Zm5.491-.12a3.01,3.01,0,0,0-2.294.949,3.343,3.343,0,0,0-.894,2.4,3.343,3.343,0,0,0,.894,2.4,3.03,3.03,0,0,0,2.3.949,2.724,2.724,0,0,0,2.865-2.064h-.9a1.918,1.918,0,0,1-1.963,1.281,2.139,2.139,0,0,1-1.677-.728,2.654,2.654,0,0,1-.645-1.834,2.622,2.622,0,0,1,.645-1.834,2.133,2.133,0,0,1,1.668-.728,1.848,1.848,0,0,1,1.935,1.253h.931A2.752,2.752,0,0,0,61.973,15.543Zm6.035,0a1.829,1.829,0,0,0-1.373.507,1.8,1.8,0,0,0-.488,1.29,1.53,1.53,0,0,0,.424,1.152,3.967,3.967,0,0,0,1.327.737c1,.341,1.354.645,1.354,1.189a1.023,1.023,0,0,1-1.143,1.069,1.176,1.176,0,0,1-1.3-1.271h-.848A1.944,1.944,0,0,0,68.1,22.232a1.821,1.821,0,0,0,2-1.87,1.5,1.5,0,0,0-.415-1.115,4.036,4.036,0,0,0-1.41-.783,4.305,4.305,0,0,1-1.014-.516.854.854,0,0,1-.267-.673.906.906,0,0,1,1-.977,1,1,0,0,1,1.06,1.069H69.9A1.721,1.721,0,0,0,68.008,15.543Zm7.905.12v5.031l-.276-.424-3.188-4.607h-.82v6.45h.838V17.091l.249.4,3.206,4.625h.829v-6.45Zm2.727,0v6.45h.838V19.274h2.239v-.792H79.479V16.446h2.635v-.783Zm8.541,1.7a1.757,1.757,0,0,0-.516-1.29,1.776,1.776,0,0,0-1.336-.525,1.8,1.8,0,0,0-1.345.525,1.75,1.75,0,0,0-.507,1.29,1.577,1.577,0,0,0,.783,1.437,1.593,1.593,0,0,0-1,1.548,1.747,1.747,0,0,0,.59,1.354,2.288,2.288,0,0,0,2.939,0,1.747,1.747,0,0,0,.59-1.354,1.627,1.627,0,0,0-1-1.548A1.582,1.582,0,0,0,87.182,17.358ZM85.33,19.173a1.215,1.215,0,0,1,.848.322,1.055,1.055,0,0,1,.359.829,1.078,1.078,0,0,1-.35.829,1.25,1.25,0,0,1-.857.3,1.291,1.291,0,0,1-.866-.3,1.078,1.078,0,0,1-.35-.829A1.145,1.145,0,0,1,85.33,19.173Zm-1.023-1.8a1.023,1.023,0,1,1,2.045,0,1.023,1.023,0,1,1-2.045,0Zm4.349-1.714v.8H91.54L89,22.112h.912L92.5,16.344v-.682Zm8.818,1.7a1.818,1.818,0,0,0-.488-1.3A1.89,1.89,0,0,0,93.8,17.487h.838c0-.774.424-1.161,1.023-1.161a.921.921,0,0,1,.967,1.05c0,.709-.4,1.032-1.308,1.032h-.2v.737h.212c.967,0,1.52.415,1.52,1.189a1.064,1.064,0,0,1-1.133,1.115,1.1,1.1,0,0,1-1.225-1.189h-.829A1.848,1.848,0,0,0,95.7,22.232a2.043,2.043,0,0,0,1.447-.516,1.785,1.785,0,0,0,.553-1.354,1.55,1.55,0,0,0-1.124-1.594A1.406,1.406,0,0,0,97.473,17.358Zm3.084-.725-1.781,2.3v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408Zm3.784,0-1.781,2.3v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408Zm3.784,0-1.781,2.3v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408Zm3.784,0-1.781,2.3v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408Zm3.784,0-1.781,2.3v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408Zm3.784,0-1.781,2.3v.209l1.781,2.3h1.069l-1.855-2.4,1.855-2.408Zm4.653-.971L121.586,20.1v.691h2.7v1.318h.838V20.794h.9V20.03h-.9V15.662Zm.166,4.377h-1.787l1.585-2.783.2-.4Zm2.819-4.377v.8H130l-2.543,5.648h.912l2.589-5.768v-.682Z" transform="translate(11909.892 259.04)"/>
							<path id="Path_357" data-name="Path 357" class="cls-6" d="M19.937,1.2,14.756,12.25l-.43.967-.408-.967L8.758,1.2H6.608V16.249H8.564V5.048l.408,1.118,4.579,10.083h1.569l4.6-10.083.408-1.118v11.2h1.956V1.2Zm6.557,0V16.249h1.956V10.143h2.193l3.289,6.106h2.236l-3.5-6.428a4.1,4.1,0,0,0,2.859-4.085C35.524,2.984,33.61,1.2,30.6,1.2ZM30.6,3.027a2.631,2.631,0,0,1,2.945,2.709c0,1.655-1.161,2.644-2.945,2.644h-2.15V3.027ZM38.555,1.2V3.027h8.277L38.469,14.68v1.569H49.584V14.422H41.006l8.32-11.652V1.2Z" transform="translate(11817.975 185.051)"/>
							<path id="Union_114" data-name="Union 114" class="cls-6" d="M17.79,64.231,20.6,61.423H12.286V58.354H20.6l-2.809-2.812,2.17-2.17,6.515,6.514L19.964,66.4Zm-5.507-2.808A12.3,12.3,0,0,1,0,49.137V0H3.072V49.137h0a9.221,9.221,0,0,0,9.217,9.214v3.072Z" transform="translate(11844.201 210.535)"/>
							</g>
							</svg>
						</div>
						<div class="buttons_holder">
							<Button @clicked="closePop" type="blue" icon="" size="limited" text="Continue"></Button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { globalData } from './main';
import Close from './components/Close';
import Button from './components/Button';

export default {
  components: {
    Close,
    Button
  },
  props: ['type'],
  methods: {
    closePop() {
      globalData.$emit('closePop', false);
    }
  }
};
</script>

<style lang="scss" scoped>
@import './styles/mixins.scss';

#Layer_481648749744 {
	.cls-1 {
	fill: rgba(0,0,0,0);
	}

	.cls-1, .cls-4, .cls-5 {
	stroke: #b1b1b1;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	stroke-width: 2px;
	}

	.cls-2, .cls-4 {
	fill: none;
	}

	.cls-3, .cls-5 {
	fill: #fff;
	}

	.cls-6 {
	fill: $purple;
	}

	.cls-7, .cls-8 {
	stroke: none;
	}

	.cls-8 {
	fill: #b1b1b1;
	}
}

#Layer_464684684 {
	.cls-1, .cls-5, .cls-6 {
	fill: none;
	}

	.cls-2, .cls-3 {
	fill: rgba(0,0,0,0);
	}

	.cls-2, .cls-5, .cls-6 {
	stroke: #b1b1b1;
	}

	.cls-2, .cls-3, .cls-5 {
	stroke-linecap: round;
	}

	.cls-2 {
	stroke-miterlimit: 10;
	}

	.cls-2, .cls-3, .cls-5, .cls-6 {
	stroke-width: 2px;
	}

	.cls-3 {
	stroke: #000;
	}

	.cls-4 {
	fill: $purple;
	}

	.cls-7, .cls-8 {
	stroke: none;
	}

	.cls-8 {
	fill: #b1b1b1;
	}
}
.pop {
  background: #fff;
  height: auto;
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;

  @include mobile {
    flex-wrap: wrap;
  }

  .pop_content {
    max-width: 1000px;
    padding: 100px 60px;
    margin: auto;
    width: 100%;

    @include mobile {
      padding: 100px 20px;
    }

    h1 {
      margin-top: 0;
      padding-top: 0;
      margin-bottom: 40px;
    }
  }
}
.close {
  position: absolute;
}
.row {
  display: flex;

  @include mobile {
    flex-wrap: wrap;
  }
}
.buttons_holder {
  text-align: left;

  @include mobile {
    .button {
      width: 100%;
    }
  }
}
.col {
  width: 50%;

  @include mobile {
    width: 100%;
    display: block;
    order: 2;
  }

  &:nth-child(2) {
    display: inline-flex;

    .text_holder {
      margin: auto 0;
      padding: 37px 0 37px 37px;
    }
    @include mobile {
      width: 100%;
      display: block;
      order: 1;

      .text_holder {
        padding: 0;
      }
    }
  }
  svg {
    width: 100%;
    height: auto;
  }
}
.mobile_icon_holder {
  width: 100%;
  height: auto;
  max-width: 400px;
  margin: 0 auto 20px;
}
</style>