<template>
  <div class="pop">
		<Close @clicked="closePop" v-if="canClose"/>
		<div class="pop_content">
			<h1 v-if="error !== 'demo'" v-text="title"/>
			<div class="row">
        <div class="col message">
					<div class="text_holder">
						<logo class="logo" v-if="error === 'demo'"/>
						<div class="mb20" v-else v-text="message"/>
						<div class="buttons_holder" v-if="homePage">
							<custom-button @clicked="closePop" type="blue" icon="" size="limited" :text="buttonName"/>
						</div>
					</div>
        </div>
			</div>
		</div>
  </div>
</template>

<script>
import Logo from './components/icons/Logo';
import Close from './components/Close';
import CustomButton from './components/Button';
import Storage from './scripts/storageService';
import Api from './scripts/api';
import { globalData } from './main';

export default {
  components: {
    Close,
    CustomButton,
    Logo
  },
  props: ['error'],
  data() {
    return {
      title: null,
      message: null,
      buttonName: null,
      homePage: null,
      canClose: false
    };
  },
  methods: {
    async closePop() {
      if (this.homePage) {
        if (this.homePage === 'demo') {
          globalData.$emit('closePop', false);
          this.$router.push({name: 'Login'})
        } else if (this.homePage === 'close') {
          globalData.$emit('closePop', false);
        } else {
          Storage.storageSettings(null);
          window.location.href = this.homePage;
        }
      }
    }
  },

  mounted() {
    const settings = Storage.storageSettings();
    if (settings) {
      this.homePage = settings.homePageUrl;
    }
    if (this.error === 'demo') {
      this.title = this.getField('handle_title_demo');
      this.message = this.getField('handle_message_demo');
      this.buttonName = this.getField('btn_start_demo');
      this.homePage = this.error;
    } else {
      this.title = this.getField('handle_title_error');
      this.buttonName = this.getField('btn_back');
      if (this.error === 401) {
        this.message = this.getField('handle_message_expired');
      } else if (this.error === 'TooManyKycProcedureAttempts') {
        this.message = this.getField('handle_message_toomany');
      } else if (this.error === 'NoCompany') {
        this.message = this.getField('handle_message_nocompany');
      } else {
        this.message = this.getField('handle_message_other');
        this.buttonName = this.getField('btn_try_again');
        this.homePage = 'close';
        this.canClose = true;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import './styles/mixins.scss';

.st0 {
  fill: $purple;
}
.st1 {
  fill: #b1b1b1;
}
.pop {
  background: #fff;
  height: auto;
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;

  @include mobile {
    flex-wrap: wrap;
  }

  .pop_content {
    max-width: 1000px;
    padding: 100px 60px;
    margin: auto;
    width: 100%;

    @include mobile {
      padding: 100px 20px;
    }

    h1 {
      margin-top: 0;
      padding-top: 0;
      margin-bottom: 40px;
      text-align: center;
    }
  }
}
.close {
  position: absolute;
}
.row {
  display: flex;

  @include mobile {
    flex-wrap: wrap;
  }
}
.buttons_holder {
  text-align: left;

  @include mobile {
    .button {
      width: 100%;
    }
  }

  & > div {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.col {
  width: 50%;

  @include mobile {
    width: 100%;
    display: block;
    order: 2;
  }

  &:nth-child(2) {
    display: inline-flex;

    .text_holder {
      margin: auto 0;
      padding: 37px 0 37px 37px;
    }
    @include mobile {
      width: 100%;
      display: block;
      order: 1;

      .text_holder {
        padding: 0;
      }
    }
  }
  svg {
    width: 100%;
    height: auto;
  }

  &.message {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
.mobile_icon_holder {
  width: 100%;
  height: auto;
  max-width: 400px;
  margin: 0 auto 20px;
}
.logo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
</style>
