<template>
	<div class="pop">
		<div class="pop_content">
			<div class="content">
				<img src="./assets/images/preload.gif" alt="">
				<h1 v-text="getField('card_checking_text')"/>
			</div>
		</div>
	</div>
</template>

<script>

</script>

<style lang="scss" scoped>
@import './styles/mixins.scss';
.pop_content {
	display: flex;
	width: 100vw;
	height: 100vh;
}
.content {
	margin: auto;
	max-width: 320px;
	text-align: center;
	padding: 20px;
	width: 100%;
}
img {
	width: 120px;
	height: 120px;
	display: block;
	margin: 0 auto 25px;
}
h1 {
	font-weight: 300;
	margin-bottom: 15px;
}
</style>