<template>
	<div class="pop">
		<Close @clicked="closePop"/>
		<div class="pop_content">
			<h1 v-if="(type == 'photo' || type == 'video')" v-text="getField('upload_heading')"/>
      <h1 v-if="type == 'passport_front'" v-text="getField('upload_passport_front_heading')"/>
      <h1 v-if="type == 'passport_cover'" v-text="getField('upload_passport_cover_heading')"/>
      <h1 v-if="type == 'card_front'" v-text="getField('upload_card_front_heading')"/>
      <h1 v-if="type == 'card_back'" v-text="getField('upload_card_back_heading')"/>
			<div class="row">
				<div class="col desktop_only">
					<svg v-if="(type == 'photo' || type == 'video')" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					viewBox="0 0 3842.2 2903" style="enable-background:new 0 0 3842.2 2903;" xml:space="preserve">
					<path class="st0" fill="#B1B1B1" d="M580.6,2903c-0.2,0-0.4,0-0.6,0c-4.7-0.4-8.2-4.5-7.9-9.2c0.3-4,8.2-100,79.8-208.9
					c65.9-100.2,200.5-229.9,467.8-279.1c505-93,476.2-295.4,475.9-297.4l-0.1-1.5v-247c-13-18.6-95.1-141.1-114.9-283.4
					c-13.4-3.3-39.5-16-39.5-65c0-47.2-14.3-118-38.2-189.4c-12.7-38.1-19.8-93.4,2.4-124.2c8.1-11.2,19.5-18.2,33.4-20.6
					c-8.8-33.5-36.2-145-36.2-242.1c0-5.8-0.1-11.9-0.1-18.2c-0.9-117.3-2.7-335.4,314.7-355.1c24.7-16.8,254.9-161.6,567.5,39.6
					c2.4,1.4,69.9,40.4,121.1,132.7c46.4,83.4,87.1,227.7,20.7,443.4c9.8,1.9,23.7,6.6,32.3,18.6c8.9,12.3,9.9,28.8,3.2,49.1
					c-20,59.6-57.5,211.5-57.5,247c0,32.5,0,73-20.2,85.5c-5.9,3.7-12.7,4.6-20.4,2.8c-18.3,96.8-50.1,190.4-94.4,278.4l19.2,267.3
					l-0.1,0.8c-0.1,1.6-9.8,167.9,476.5,298.1c509.1,137.1,508.6,340.3,508.4,461.8l0,7.4c0,4.7-3.8,8.5-8.5,8.5s-8.5-3.8-8.5-8.5l0-7.5
					c0.3-116.5,0.7-311.6-495.7-445.2c-490.5-131.4-490.2-300.3-489.1-315.6l-19.4-270.6l1.1-2.1c45.7-90.1,77.9-186.3,95.8-285.8
					l2-11.2l10.2,5.1c6.3,3.1,11,3.7,14.1,1.8c12.1-7.5,12.1-48.8,12.1-71c0-41.2,39.6-196.5,58.4-252.4c4.9-14.7,4.7-26-0.8-33.6
					c-8.9-12.5-29.6-12.8-29.8-12.8l-11.6-0.1l3.5-11.1c68.7-214.8,29.4-357.3-15.8-439c-48.9-88.5-114.9-126.9-115.5-127.3
					c-320-205.9-548.4-40.7-550.6-39l-2.1,1.5l-2.6,0.1c-303.6,17.8-302,218.3-301,338.1c0,6.4,0.1,12.5,0.1,18.4
					c0,112.7,37.9,246,38.3,247.3l3.1,10.9h-11.3c-13.5,0-23.5,4.7-30.5,14.4c-17.2,23.9-12.4,71.9-0.1,108.8
					c11.7,35.1,39.1,124.3,39.1,194.8c0,48.5,28.8,49.1,30.1,49.1h7.5l0.9,7.5c18.8,149.6,113.4,282.9,114.3,284.2l1.6,2.2v251.7
					c2.6,17,23,222-489.7,316.4c-499.4,91.9-533.4,468.6-533.7,472.4C588.8,2899.6,585,2903,580.6,2903z"/>
					<path fill="#B1B1B1" class="st0" d="M3756.8,2903H85.4c-47.1,0-85.4-38.3-85.4-85.4V85.4C0,38.3,38.3,0,85.4,0h3671.4c47.1,0,85.4,38.3,85.4,85.4
					v2732.2C3842.2,2864.7,3803.9,2903,3756.8,2903z M85.4,17.1c-37.7,0-68.3,30.6-68.3,68.3v2732.2c0,37.7,30.6,68.3,68.3,68.3h3671.4
					c37.7,0,68.3-30.6,68.3-68.3V85.4c0-37.7-30.6-68.3-68.3-68.3H85.4z"/>
					</svg>
          <svg v-if="type == 'passport_front'" version="1.1" id="Layer_2694681468" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 283.4 202" style="enable-background:new 0 0 283.4 202;" xml:space="preserve">
          <g id="Group_71" transform="translate(-39 -342)">
            <g id="illustration" transform="translate(86.778 343)" class="st0">
              <path id="Path_178" class="st1" d="M120.3,42.4l22.5-1.7c0,0,13.9-1.7,19,0c5.2,1.7,38.1,12.1,38.1,12.1s15.6,3.5,17.3,19
                s17.3,119.5,17.3,119.5"/>
              <path id="Path_179" class="st1" d="M163.6,68.4c0,0-8.7-1.7-13.8-3.5c0,0-11.3,0.2-16.8-1.6"/>
              <path id="Path_180" class="st1" d="M126.4,95.9c0,0-40.7-1.6-40.7-11.9s6.9-10.4,6.9-10.4"/>
              <path id="Path_181" class="st1" d="M138,113.9c0,0-61.3-4-48.1-24.8"/>
              <g id="Group_39" transform="translate(0 0)">
                <path id="Path_182" class="st2" d="M121.2,150.6c0.1,2.8-2.2,5.1-5,5.2c-0.1,0-0.1,0-0.2,0H5.2c-2.9,0-5.2-2.3-5.2-5.2V5.2
                  C0.1,2.4,2.4,0.1,5.2,0H116c2.9,0,5.2,2.3,5.2,5.2V150.6z"/>
                <path id="Path_183" class="st1" d="M121.2,150.6c0.1,2.8-2.2,5.1-5,5.2c-0.1,0-0.1,0-0.2,0H5.2c-2.9,0-5.2-2.3-5.2-5.2V5.2
                  C0.1,2.4,2.4,0.1,5.2,0H116c2.9,0,5.2,2.3,5.2,5.2V150.6z"/>
              </g>
              <line id="Line_13" class="st1" x1="0.9" y1="77.9" x2="120.3" y2="77.9"/>
              <path id="Path_184" class="st3" d="M161.9,87.4c0,0-15.6-8.7-20.8-15.6c-5.2-6.9-24.2-22.5-24.2-22.5s-6.9-5.2-13.9,0
                c-6.9,5.2,0,15.6,0,15.6s10.4,15.6,19,26s13.9,13.9,17.3,27.7s17.3,32.9,26,45S181,200,181,200"/>
              <line id="Line_14" class="st1" x1="59.7" y1="90" x2="92.6" y2="90"/>
              <line id="Line_15" class="st1" x1="59.7" y1="98.7" x2="75.3" y2="98.7"/>
              <line id="Line_16" class="st1" x1="59.7" y1="121.1" x2="110" y2="121.1"/>
              <line id="Line_17" class="st1" x1="0.9" y1="131" x2="120.3" y2="131"/>
              <line id="Line_18" class="st1" x1="59.7" y1="112.4" x2="110" y2="112.4"/>
              <path id="Path_185" class="st1" d="M11.3,123.3c0-9.6,7.8-17.3,17.3-17.3s17.3,7.8,17.3,17.3"/>
              <circle id="Ellipse_46" class="st3" cx="28.6" cy="97.3" r="10.4"/>
            </g>
            <g id="mrz" transform="translate(39 424.096)">
              <text transform="matrix(1 0 0 1 48.736 63.333)" class="st4 st5 st6">P</text>
              <text transform="matrix(1 0 0 1 52.6964 63.333)" class="st4 st5 st7">&lt;</text>
              <text transform="matrix(1 0 0 1 58.969 63.333)" class="st4 st5 st6">UTODOE</text>
              <text transform="matrix(1 0 0 1 85.8454 63.333)" class="st4 st5 st7">&lt;&lt;</text>
              <text transform="matrix(1 0 0 1 98.3907 63.333)" class="st4 st5 st6">THOM</text>
              <text transform="matrix(1 0 0 1 118.1052 63.333)" class="st4 st5 st7">&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;</text>
              <text transform="matrix(1 0 0 1 95.966 72.333)" class="st4 st5 st7">&lt;&lt;&lt;&lt;</text>
              <text transform="matrix(1 0 0 1 7.398 15)" class="st4 st5 st8">MRZ</text>
              <path id="Union_112" class="st4" d="M34.4,65.4l2-2h-6v-2.2h6l-2-2l1.6-1.6l4.7,4.7L36,67L34.4,65.4z M30.4,63.3
                c-4.9,0-8.9-4-8.9-8.9V18.9h2.2v35.6l0,0c0,3.7,3,6.7,6.7,6.7L30.4,63.3L30.4,63.3z"/>
            </g>
          </g>
          </svg>
          <svg v-if="type == 'passport_cover'" version="1.1" id="Layer_4196981681" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 450.298 340">
          <g id="Group_151" data-name="Group 151" transform="translate(-520 -372.999)">
          <g id="illustration" class="cls-1" transform="translate(-680.536 -55.641)">
          <path id="Path_178" data-name="Path 178" class="cls-2" d="M64,27.43l45.174-2.682s21.457-2.682,29.5,0,59.007,18.775,59.007,18.775,24.139,5.364,26.822,29.5c1.143,10.283,10.132,72.118,14.587,102.606" transform="translate(1410.74 512.135)"/>
          <path id="Path_179" data-name="Path 179" class="cls-2" d="M124.774,44.878s-13.411-2.682-21.457-5.364c0,0-17.434.268-26.017-2.414" transform="translate(1427.326 534.919)"/>
          <path id="Path_180" data-name="Path 180" class="cls-2" d="M113.031,77.6S50,75.186,50,59.093,60.729,43,60.729,43" transform="translate(1381.403 544.843)"/>
          <path id="Path_181" data-name="Path 181" class="cls-2" d="M128.763,90.355S33.815,84.186,54.2,52" transform="translate(1383.642 559.983)"/>
          <g id="Group_39" data-name="Group 39" transform="translate(1475.13 504.446) rotate(90)">
          <path id="Path_182" data-name="Path 182" class="cls-3" d="M187.751,112.53a7.9,7.9,0,0,1-8.046,8.046H8.046A8.069,8.069,0,0,1,0,112.53V8.046A8.25,8.25,0,0,1,8.046,0H179.7a8.069,8.069,0,0,1,8.046,8.046Z" transform="translate(0 0)"/>
          <path id="Path_183" data-name="Path 183" class="cls-2" d="M187.751,112.53a7.9,7.9,0,0,1-8.046,8.046H8.046A8.069,8.069,0,0,1,0,112.53V8.046A8.25,8.25,0,0,1,8.046,0H179.7a8.069,8.069,0,0,1,8.046,8.046Z" transform="translate(0 0)"/>
          </g>
          <path id="Union_60" data-name="Union 60" d="M23.235,130.562v-2H59.484v2ZM6.2,2V0h72.5V2Z" transform="translate(1372.907 532.327)"/>
          <path id="Path_184" data-name="Path 184" class="cls-4" d="M154.184,90.25S130.044,76.839,122,66.111s-37.55-34.868-37.55-34.868-10.729-8.046-21.457,0,0,24.139,0,24.139,16.093,24.139,29.5,40.232,21.457,21.457,26.821,42.914,26.822,50.961,40.232,69.736c7.59,10.627,14.322,27.268,18.826,39.969" transform="translate(1395.234 519.05)"/>
          <g id="Group_140" data-name="Group 140" transform="translate(680.536 55.641)">
          <g id="Ellipse_160" data-name="Ellipse 160" class="cls-5" transform="translate(692 500)">
          <circle class="cls-6" cx="42.5" cy="42.5" r="42.5"/>
          <circle class="cls-7" cx="42.5" cy="42.5" r="41.5"/>
          </g>
          <line id="Line_29" data-name="Line 29" class="cls-5" x2="84" transform="translate(692.5 542.5)"/>
          <line id="Line_30" data-name="Line 30" class="cls-5" y2="82" transform="translate(734.5 501.5)"/>
          <g id="Ellipse_161" data-name="Ellipse 161" class="cls-5" transform="translate(712 500)">
          <ellipse class="cls-6" cx="23" cy="42.5" rx="23" ry="42.5"/>
          <ellipse class="cls-7" cx="23" cy="42.5" rx="22" ry="41.5"/>
          </g>
          <path id="Path_341" data-name="Path 341" class="cls-5" d="M7995.6-1054.417a66.288,66.288,0,0,0,68,0" transform="translate(-7295 1573)"/>
          <path id="Path_342" data-name="Path 342" class="cls-5" d="M7995.6-1054.417a66.288,66.288,0,0,0,68,0" transform="translate(8764.201 -487.42) rotate(180)"/>
          </g>
          <g id="Rectangle_172" data-name="Rectangle 172" class="cls-5" transform="translate(1200.536 428.641)">
          <rect class="cls-6" width="450" height="340" rx="10"/>
          <rect class="cls-7" x="1" y="1" width="448" height="338" rx="9"/>
          </g>
          </g>
          </g>
          </svg>
          <svg v-if="type == 'card_front'" version="1.1" id="Layer_148984684684468" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 450.298 340">
          <g id="Group_153" data-name="Group 153" transform="translate(-520 -373)">
          <g id="Group_148" data-name="Group 148">
          <path id="Path_178" data-name="Path 178" class="cls-1" d="M64,27.43l45.174-2.682s21.457-2.682,29.5,0,59.007,18.775,59.007,18.775,24.139,5.364,26.822,29.5c1.143,10.283,10.132,72.118,14.587,102.606" transform="translate(730.204 456.494)"/>
          <path id="Path_180" data-name="Path 180" class="cls-1" d="M112.853,77.5S50,75.095,50,59.047,60.7,43,60.7,43" transform="translate(701.379 489.094)"/>
          <path id="Path_181" data-name="Path 181" class="cls-1" d="M128.544,90.246S33.864,84.095,54.191,52" transform="translate(703.607 504.165)"/>
          <g id="Group_147" data-name="Group 147" transform="translate(618.987 475.573)">
          <path id="Path_182" data-name="Path 182" class="cls-2" d="M187.721,190.712a7.881,7.881,0,0,1-8.024,8.024H8.524A8.047,8.047,0,0,1,.5,190.712V86.524A8.227,8.227,0,0,1,8.524,78.5H179.7a8.047,8.047,0,0,1,8.024,8.024Z" transform="translate(-0.5 -78.5)"/>
          <path id="Path_183" data-name="Path 183" class="cls-1" d="M187.721,190.712a7.881,7.881,0,0,1-8.024,8.024H8.524A8.047,8.047,0,0,1,.5,190.712V86.524A8.227,8.227,0,0,1,8.524,78.5H179.7a8.047,8.047,0,0,1,8.024,8.024Z" transform="translate(-0.5 -78.5)"/>
          </g>
          <path id="Path_179" data-name="Path 179" class="cls-1" d="M124.774,44.878s-13.411-2.682-21.457-5.364c0,0-17.434.268-26.017-2.414" transform="translate(746.79 479.278)"/>
          <path id="Path_184" data-name="Path 184" class="cls-3" d="M153.913,90.074S129.842,76.7,121.818,66s-37.444-34.77-37.444-34.77-10.7-8.024-21.4,0,0,24.071,0,24.071S79.024,79.375,92.4,95.423s21.4,21.4,26.746,42.793,26.746,50.817,40.119,69.539c7.689,10.765,14.494,27.72,18.992,40.477" transform="translate(715.148 463.417)"/>
          <g id="Group_60" data-name="Group 60" transform="translate(643.7 508.009)">
          <line id="Line_23" data-name="Line 23" class="cls-1" x2="46.337" transform="translate(72.595 1.27)"/>
          <line id="Line_24" data-name="Line 24" class="cls-1" x2="23.169" transform="translate(72.595 13.627)"/>
          <line id="Line_25" data-name="Line 25" class="cls-1" x2="64.872" transform="translate(72.595 55.33)"/>
          <line id="Line_26" data-name="Line 26" class="cls-1" x2="64.872" transform="translate(72.595 42.974)"/>
          <path id="Path_199" data-name="Path 199" class="cls-1" d="M7,89.746a26.746,26.746,0,0,1,53.492,0" transform="translate(-7 -33.58)"/>
          <circle id="Ellipse_94" data-name="Ellipse 94" class="cls-3" cx="16.047" cy="16.047" r="16.047" transform="translate(10.697 0)"/>
          </g>
          <g id="Rectangle_470" data-name="Rectangle 470" class="cls-4" transform="translate(520 373)">
          <rect class="cls-5" width="450" height="340" rx="10"/>
          <rect class="cls-6" x="1" y="1" width="448" height="338" rx="9"/>
          </g>
          </g>
          </g>
          </svg>
          <svg v-if="type == 'card_back'" version="1.1" id="Layer_815151111111" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 450.298 340">
          <g id="Group_154" data-name="Group 154" transform="translate(-520 -373)">
          <g id="illustration" transform="translate(-680.536 -55.641)">
          <path id="Path_178" data-name="Path 178" class="cls-1" d="M64,27.43l45.174-2.682s21.457-2.682,29.5,0,59.007,18.775,59.007,18.775,24.139,5.364,26.822,29.5c1.143,10.283,10.132,72.118,14.587,102.606" transform="translate(1410.74 512.135)"/>
          <path id="Path_179" data-name="Path 179" class="cls-1" d="M124.774,44.878s-13.411-2.682-21.457-5.364c0,0-17.434.268-26.017-2.414" transform="translate(1427.326 534.919)"/>
          <g id="Rectangle_172" data-name="Rectangle 172" class="cls-2" transform="translate(1200.536 428.641)">
          <rect class="cls-5" width="450" height="340" rx="10"/>
          <rect class="cls-6" x="1" y="1" width="448" height="338" rx="9"/>
          </g>
          <path id="Path_178-2" data-name="Path 178" class="cls-1" d="M70,27.419l34.77-2.675s21.4-2.675,29.42,0,58.841,18.722,58.841,18.722,24.071,5.349,26.746,29.42c1.335,12.011,8,57.987,14.382,101.344" transform="translate(1415.407 512.174)"/>
          <path id="Path_179-2" data-name="Path 179" class="cls-1" d="M124.64,44.856s-13.373-2.675-21.4-5.349c0,0-17.385.267-25.943-2.407" transform="translate(1427.631 534.855)"/>
          <path id="Path_180" data-name="Path 180" class="cls-1" d="M112.853,77.5S50,75.095,50,59.047,60.7,43,60.7,43" transform="translate(1381.915 544.735)"/>
          <path id="Path_181" data-name="Path 181" class="cls-1" d="M128.544,90.246S33.864,84.095,54.191,52" transform="translate(1384.143 559.806)"/>
          <g id="Group_143" data-name="Group 143">
          <g id="Group_141" data-name="Group 141" transform="translate(1299.537 531.214)">
          <path id="Path_182" data-name="Path 182" class="cls-3" d="M187.721,190.712a7.881,7.881,0,0,1-8.024,8.024H8.524A8.047,8.047,0,0,1,.5,190.712V86.524A8.227,8.227,0,0,1,8.524,78.5H179.7a8.047,8.047,0,0,1,8.024,8.024Z" transform="translate(-0.5 -78.5)"/>
          <path id="Path_183" data-name="Path 183" class="cls-1" d="M187.721,190.712a7.881,7.881,0,0,1-8.024,8.024H8.524A8.047,8.047,0,0,1,.5,190.712V86.524A8.227,8.227,0,0,1,8.524,78.5H179.7a8.047,8.047,0,0,1,8.024,8.024Z" transform="translate(-0.5 -78.5)"/>
          </g>
          <g id="Group_142" data-name="Group 142" transform="translate(1318.072 547.93)">
          <line id="Line_23" data-name="Line 23" class="cls-1" x2="46.337" transform="translate(0 0)"/>
          <line id="Line_24" data-name="Line 24" class="cls-1" x2="23.169" transform="translate(0 12.357)"/>
          <line id="Line_25" data-name="Line 25" class="cls-1" x2="64.872" transform="translate(0 46.337)"/>
          <line id="Line_26" data-name="Line 26" class="cls-1" x2="64.872" transform="translate(0 33.981)"/>
          </g>
          <line id="Line_31" data-name="Line 31" class="cls-1" x2="184.547" transform="translate(1300.875 611.01)"/>
          </g>
          <path id="Path_184" data-name="Path 184" class="cls-4" d="M153.913,90.074S129.842,76.7,121.818,66s-37.444-34.77-37.444-34.77-10.7-8.024-21.4,0,0,24.071,0,24.071S79.024,79.375,92.4,95.423s21.4,21.4,26.746,42.793,26.746,50.817,40.119,69.539c7.689,10.765,14.494,27.72,18.992,40.477" transform="translate(1395.684 519.058)"/>
          </g>
          </g>
          </svg>
				</div>
				<div class="col">
					<div class="text_holder">
						<h2 v-text="getField('upload_subtitle')"/>
						<div v-if="(type == 'photo' || type == 'video')" class="mb20" v-text="getField('upload_text')"/>
            <div v-if="type == 'passport_front'" class="mb20" v-text="getField('upload_text_passport_front')"/>
            <div v-if="type == 'passport_cover'" class="mb20" v-text="getField('upload_text_passport_back')"/>
            <div v-if="type == 'card_front'" class="mb20" v-text="getField('upload_text_card_front')"/>
            <div v-if="type == 'card_back'" class="mb20" v-text="getField('upload_text_card_back')"/>
						<div class="mobile_icon_holder mobile_only">
							<svg v-if="(type == 'photo' || type == 'video')" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							viewBox="0 0 3842.2 2903" style="enable-background:new 0 0 3842.2 2903;" xml:space="preserve">
							<path class="st0" fill="#B1B1B1" d="M580.6,2903c-0.2,0-0.4,0-0.6,0c-4.7-0.4-8.2-4.5-7.9-9.2c0.3-4,8.2-100,79.8-208.9
							c65.9-100.2,200.5-229.9,467.8-279.1c505-93,476.2-295.4,475.9-297.4l-0.1-1.5v-247c-13-18.6-95.1-141.1-114.9-283.4
							c-13.4-3.3-39.5-16-39.5-65c0-47.2-14.3-118-38.2-189.4c-12.7-38.1-19.8-93.4,2.4-124.2c8.1-11.2,19.5-18.2,33.4-20.6
							c-8.8-33.5-36.2-145-36.2-242.1c0-5.8-0.1-11.9-0.1-18.2c-0.9-117.3-2.7-335.4,314.7-355.1c24.7-16.8,254.9-161.6,567.5,39.6
							c2.4,1.4,69.9,40.4,121.1,132.7c46.4,83.4,87.1,227.7,20.7,443.4c9.8,1.9,23.7,6.6,32.3,18.6c8.9,12.3,9.9,28.8,3.2,49.1
							c-20,59.6-57.5,211.5-57.5,247c0,32.5,0,73-20.2,85.5c-5.9,3.7-12.7,4.6-20.4,2.8c-18.3,96.8-50.1,190.4-94.4,278.4l19.2,267.3
							l-0.1,0.8c-0.1,1.6-9.8,167.9,476.5,298.1c509.1,137.1,508.6,340.3,508.4,461.8l0,7.4c0,4.7-3.8,8.5-8.5,8.5s-8.5-3.8-8.5-8.5l0-7.5
							c0.3-116.5,0.7-311.6-495.7-445.2c-490.5-131.4-490.2-300.3-489.1-315.6l-19.4-270.6l1.1-2.1c45.7-90.1,77.9-186.3,95.8-285.8
							l2-11.2l10.2,5.1c6.3,3.1,11,3.7,14.1,1.8c12.1-7.5,12.1-48.8,12.1-71c0-41.2,39.6-196.5,58.4-252.4c4.9-14.7,4.7-26-0.8-33.6
							c-8.9-12.5-29.6-12.8-29.8-12.8l-11.6-0.1l3.5-11.1c68.7-214.8,29.4-357.3-15.8-439c-48.9-88.5-114.9-126.9-115.5-127.3
							c-320-205.9-548.4-40.7-550.6-39l-2.1,1.5l-2.6,0.1c-303.6,17.8-302,218.3-301,338.1c0,6.4,0.1,12.5,0.1,18.4
							c0,112.7,37.9,246,38.3,247.3l3.1,10.9h-11.3c-13.5,0-23.5,4.7-30.5,14.4c-17.2,23.9-12.4,71.9-0.1,108.8
							c11.7,35.1,39.1,124.3,39.1,194.8c0,48.5,28.8,49.1,30.1,49.1h7.5l0.9,7.5c18.8,149.6,113.4,282.9,114.3,284.2l1.6,2.2v251.7
							c2.6,17,23,222-489.7,316.4c-499.4,91.9-533.4,468.6-533.7,472.4C588.8,2899.6,585,2903,580.6,2903z"/>
							<path fill="#B1B1B1" class="st0" d="M3756.8,2903H85.4c-47.1,0-85.4-38.3-85.4-85.4V85.4C0,38.3,38.3,0,85.4,0h3671.4c47.1,0,85.4,38.3,85.4,85.4
							v2732.2C3842.2,2864.7,3803.9,2903,3756.8,2903z M85.4,17.1c-37.7,0-68.3,30.6-68.3,68.3v2732.2c0,37.7,30.6,68.3,68.3,68.3h3671.4
							c37.7,0,68.3-30.6,68.3-68.3V85.4c0-37.7-30.6-68.3-68.3-68.3H85.4z"/>
							</svg>
              <svg v-if="type == 'passport_front'" version="1.1" id="Layer_2694681468" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 283.4 202" style="enable-background:new 0 0 283.4 202;" xml:space="preserve">
              <g id="Group_71" transform="translate(-39 -342)">
                <g id="illustration" transform="translate(86.778 343)" class="st0">
                  <path id="Path_178" class="st1" d="M120.3,42.4l22.5-1.7c0,0,13.9-1.7,19,0c5.2,1.7,38.1,12.1,38.1,12.1s15.6,3.5,17.3,19
                    s17.3,119.5,17.3,119.5"/>
                  <path id="Path_179" class="st1" d="M163.6,68.4c0,0-8.7-1.7-13.8-3.5c0,0-11.3,0.2-16.8-1.6"/>
                  <path id="Path_180" class="st1" d="M126.4,95.9c0,0-40.7-1.6-40.7-11.9s6.9-10.4,6.9-10.4"/>
                  <path id="Path_181" class="st1" d="M138,113.9c0,0-61.3-4-48.1-24.8"/>
                  <g id="Group_39" transform="translate(0 0)">
                    <path id="Path_182" class="st2" d="M121.2,150.6c0.1,2.8-2.2,5.1-5,5.2c-0.1,0-0.1,0-0.2,0H5.2c-2.9,0-5.2-2.3-5.2-5.2V5.2
                      C0.1,2.4,2.4,0.1,5.2,0H116c2.9,0,5.2,2.3,5.2,5.2V150.6z"/>
                    <path id="Path_183" class="st1" d="M121.2,150.6c0.1,2.8-2.2,5.1-5,5.2c-0.1,0-0.1,0-0.2,0H5.2c-2.9,0-5.2-2.3-5.2-5.2V5.2
                      C0.1,2.4,2.4,0.1,5.2,0H116c2.9,0,5.2,2.3,5.2,5.2V150.6z"/>
                  </g>
                  <line id="Line_13" class="st1" x1="0.9" y1="77.9" x2="120.3" y2="77.9"/>
                  <path id="Path_184" class="st3" d="M161.9,87.4c0,0-15.6-8.7-20.8-15.6c-5.2-6.9-24.2-22.5-24.2-22.5s-6.9-5.2-13.9,0
                    c-6.9,5.2,0,15.6,0,15.6s10.4,15.6,19,26s13.9,13.9,17.3,27.7s17.3,32.9,26,45S181,200,181,200"/>
                  <line id="Line_14" class="st1" x1="59.7" y1="90" x2="92.6" y2="90"/>
                  <line id="Line_15" class="st1" x1="59.7" y1="98.7" x2="75.3" y2="98.7"/>
                  <line id="Line_16" class="st1" x1="59.7" y1="121.1" x2="110" y2="121.1"/>
                  <line id="Line_17" class="st1" x1="0.9" y1="131" x2="120.3" y2="131"/>
                  <line id="Line_18" class="st1" x1="59.7" y1="112.4" x2="110" y2="112.4"/>
                  <path id="Path_185" class="st1" d="M11.3,123.3c0-9.6,7.8-17.3,17.3-17.3s17.3,7.8,17.3,17.3"/>
                  <circle id="Ellipse_46" class="st3" cx="28.6" cy="97.3" r="10.4"/>
                </g>
                <g id="mrz" transform="translate(39 424.096)">
                  <text transform="matrix(1 0 0 1 48.736 63.333)" class="st4 st5 st6">P</text>
                  <text transform="matrix(1 0 0 1 52.6964 63.333)" class="st4 st5 st7">&lt;</text>
                  <text transform="matrix(1 0 0 1 58.969 63.333)" class="st4 st5 st6">UTODOE</text>
                  <text transform="matrix(1 0 0 1 85.8454 63.333)" class="st4 st5 st7">&lt;&lt;</text>
                  <text transform="matrix(1 0 0 1 98.3907 63.333)" class="st4 st5 st6">THOM</text>
                  <text transform="matrix(1 0 0 1 118.1052 63.333)" class="st4 st5 st7">&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;</text>
                  <text transform="matrix(1 0 0 1 95.966 72.333)" class="st4 st5 st7">&lt;&lt;&lt;&lt;</text>
                  <text transform="matrix(1 0 0 1 7.398 15)" class="st4 st5 st8">MRZ</text>
                  <path id="Union_112" class="st4" d="M34.4,65.4l2-2h-6v-2.2h6l-2-2l1.6-1.6l4.7,4.7L36,67L34.4,65.4z M30.4,63.3
                    c-4.9,0-8.9-4-8.9-8.9V18.9h2.2v35.6l0,0c0,3.7,3,6.7,6.7,6.7L30.4,63.3L30.4,63.3z"/>
                </g>
              </g>
              </svg>
              <svg v-if="type == 'passport_cover'" version="1.1" id="Layer_4196981681" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 450.298 340">
              <g id="Group_151" data-name="Group 151" transform="translate(-520 -372.999)">
              <g id="illustration" class="cls-1" transform="translate(-680.536 -55.641)">
              <path id="Path_178" data-name="Path 178" class="cls-2" d="M64,27.43l45.174-2.682s21.457-2.682,29.5,0,59.007,18.775,59.007,18.775,24.139,5.364,26.822,29.5c1.143,10.283,10.132,72.118,14.587,102.606" transform="translate(1410.74 512.135)"/>
              <path id="Path_179" data-name="Path 179" class="cls-2" d="M124.774,44.878s-13.411-2.682-21.457-5.364c0,0-17.434.268-26.017-2.414" transform="translate(1427.326 534.919)"/>
              <path id="Path_180" data-name="Path 180" class="cls-2" d="M113.031,77.6S50,75.186,50,59.093,60.729,43,60.729,43" transform="translate(1381.403 544.843)"/>
              <path id="Path_181" data-name="Path 181" class="cls-2" d="M128.763,90.355S33.815,84.186,54.2,52" transform="translate(1383.642 559.983)"/>
              <g id="Group_39" data-name="Group 39" transform="translate(1475.13 504.446) rotate(90)">
              <path id="Path_182" data-name="Path 182" class="cls-3" d="M187.751,112.53a7.9,7.9,0,0,1-8.046,8.046H8.046A8.069,8.069,0,0,1,0,112.53V8.046A8.25,8.25,0,0,1,8.046,0H179.7a8.069,8.069,0,0,1,8.046,8.046Z" transform="translate(0 0)"/>
              <path id="Path_183" data-name="Path 183" class="cls-2" d="M187.751,112.53a7.9,7.9,0,0,1-8.046,8.046H8.046A8.069,8.069,0,0,1,0,112.53V8.046A8.25,8.25,0,0,1,8.046,0H179.7a8.069,8.069,0,0,1,8.046,8.046Z" transform="translate(0 0)"/>
              </g>
              <path id="Union_60" data-name="Union 60" d="M23.235,130.562v-2H59.484v2ZM6.2,2V0h72.5V2Z" transform="translate(1372.907 532.327)"/>
              <path id="Path_184" data-name="Path 184" class="cls-4" d="M154.184,90.25S130.044,76.839,122,66.111s-37.55-34.868-37.55-34.868-10.729-8.046-21.457,0,0,24.139,0,24.139,16.093,24.139,29.5,40.232,21.457,21.457,26.821,42.914,26.822,50.961,40.232,69.736c7.59,10.627,14.322,27.268,18.826,39.969" transform="translate(1395.234 519.05)"/>
              <g id="Group_140" data-name="Group 140" transform="translate(680.536 55.641)">
              <g id="Ellipse_160" data-name="Ellipse 160" class="cls-5" transform="translate(692 500)">
              <circle class="cls-6" cx="42.5" cy="42.5" r="42.5"/>
              <circle class="cls-7" cx="42.5" cy="42.5" r="41.5"/>
              </g>
              <line id="Line_29" data-name="Line 29" class="cls-5" x2="84" transform="translate(692.5 542.5)"/>
              <line id="Line_30" data-name="Line 30" class="cls-5" y2="82" transform="translate(734.5 501.5)"/>
              <g id="Ellipse_161" data-name="Ellipse 161" class="cls-5" transform="translate(712 500)">
              <ellipse class="cls-6" cx="23" cy="42.5" rx="23" ry="42.5"/>
              <ellipse class="cls-7" cx="23" cy="42.5" rx="22" ry="41.5"/>
              </g>
              <path id="Path_341" data-name="Path 341" class="cls-5" d="M7995.6-1054.417a66.288,66.288,0,0,0,68,0" transform="translate(-7295 1573)"/>
              <path id="Path_342" data-name="Path 342" class="cls-5" d="M7995.6-1054.417a66.288,66.288,0,0,0,68,0" transform="translate(8764.201 -487.42) rotate(180)"/>
              </g>
              <g id="Rectangle_172" data-name="Rectangle 172" class="cls-5" transform="translate(1200.536 428.641)">
              <rect class="cls-6" width="450" height="340" rx="10"/>
              <rect class="cls-7" x="1" y="1" width="448" height="338" rx="9"/>
              </g>
              </g>
              </g>
              </svg>
              <svg v-if="type == 'card_front'" version="1.1" id="Layer_148984684684468" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 450.298 340">
              <g id="Group_153" data-name="Group 153" transform="translate(-520 -373)">
              <g id="Group_148" data-name="Group 148">
              <path id="Path_178" data-name="Path 178" class="cls-1" d="M64,27.43l45.174-2.682s21.457-2.682,29.5,0,59.007,18.775,59.007,18.775,24.139,5.364,26.822,29.5c1.143,10.283,10.132,72.118,14.587,102.606" transform="translate(730.204 456.494)"/>
              <path id="Path_180" data-name="Path 180" class="cls-1" d="M112.853,77.5S50,75.095,50,59.047,60.7,43,60.7,43" transform="translate(701.379 489.094)"/>
              <path id="Path_181" data-name="Path 181" class="cls-1" d="M128.544,90.246S33.864,84.095,54.191,52" transform="translate(703.607 504.165)"/>
              <g id="Group_147" data-name="Group 147" transform="translate(618.987 475.573)">
              <path id="Path_182" data-name="Path 182" class="cls-2" d="M187.721,190.712a7.881,7.881,0,0,1-8.024,8.024H8.524A8.047,8.047,0,0,1,.5,190.712V86.524A8.227,8.227,0,0,1,8.524,78.5H179.7a8.047,8.047,0,0,1,8.024,8.024Z" transform="translate(-0.5 -78.5)"/>
              <path id="Path_183" data-name="Path 183" class="cls-1" d="M187.721,190.712a7.881,7.881,0,0,1-8.024,8.024H8.524A8.047,8.047,0,0,1,.5,190.712V86.524A8.227,8.227,0,0,1,8.524,78.5H179.7a8.047,8.047,0,0,1,8.024,8.024Z" transform="translate(-0.5 -78.5)"/>
              </g>
              <path id="Path_179" data-name="Path 179" class="cls-1" d="M124.774,44.878s-13.411-2.682-21.457-5.364c0,0-17.434.268-26.017-2.414" transform="translate(746.79 479.278)"/>
              <path id="Path_184" data-name="Path 184" class="cls-3" d="M153.913,90.074S129.842,76.7,121.818,66s-37.444-34.77-37.444-34.77-10.7-8.024-21.4,0,0,24.071,0,24.071S79.024,79.375,92.4,95.423s21.4,21.4,26.746,42.793,26.746,50.817,40.119,69.539c7.689,10.765,14.494,27.72,18.992,40.477" transform="translate(715.148 463.417)"/>
              <g id="Group_60" data-name="Group 60" transform="translate(643.7 508.009)">
              <line id="Line_23" data-name="Line 23" class="cls-1" x2="46.337" transform="translate(72.595 1.27)"/>
              <line id="Line_24" data-name="Line 24" class="cls-1" x2="23.169" transform="translate(72.595 13.627)"/>
              <line id="Line_25" data-name="Line 25" class="cls-1" x2="64.872" transform="translate(72.595 55.33)"/>
              <line id="Line_26" data-name="Line 26" class="cls-1" x2="64.872" transform="translate(72.595 42.974)"/>
              <path id="Path_199" data-name="Path 199" class="cls-1" d="M7,89.746a26.746,26.746,0,0,1,53.492,0" transform="translate(-7 -33.58)"/>
              <circle id="Ellipse_94" data-name="Ellipse 94" class="cls-3" cx="16.047" cy="16.047" r="16.047" transform="translate(10.697 0)"/>
              </g>
              <g id="Rectangle_470" data-name="Rectangle 470" class="cls-4" transform="translate(520 373)">
              <rect class="cls-5" width="450" height="340" rx="10"/>
              <rect class="cls-6" x="1" y="1" width="448" height="338" rx="9"/>
              </g>
              </g>
              </g>
              </svg>
              <svg v-if="type == 'card_back'" version="1.1" id="Layer_815151111111" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 450.298 340">
              <g id="Group_154" data-name="Group 154" transform="translate(-520 -373)">
              <g id="illustration" transform="translate(-680.536 -55.641)">
              <path id="Path_178" data-name="Path 178" class="cls-1" d="M64,27.43l45.174-2.682s21.457-2.682,29.5,0,59.007,18.775,59.007,18.775,24.139,5.364,26.822,29.5c1.143,10.283,10.132,72.118,14.587,102.606" transform="translate(1410.74 512.135)"/>
              <path id="Path_179" data-name="Path 179" class="cls-1" d="M124.774,44.878s-13.411-2.682-21.457-5.364c0,0-17.434.268-26.017-2.414" transform="translate(1427.326 534.919)"/>
              <g id="Rectangle_172" data-name="Rectangle 172" class="cls-2" transform="translate(1200.536 428.641)">
              <rect class="cls-5" width="450" height="340" rx="10"/>
              <rect class="cls-6" x="1" y="1" width="448" height="338" rx="9"/>
              </g>
              <path id="Path_178-2" data-name="Path 178" class="cls-1" d="M70,27.419l34.77-2.675s21.4-2.675,29.42,0,58.841,18.722,58.841,18.722,24.071,5.349,26.746,29.42c1.335,12.011,8,57.987,14.382,101.344" transform="translate(1415.407 512.174)"/>
              <path id="Path_179-2" data-name="Path 179" class="cls-1" d="M124.64,44.856s-13.373-2.675-21.4-5.349c0,0-17.385.267-25.943-2.407" transform="translate(1427.631 534.855)"/>
              <path id="Path_180" data-name="Path 180" class="cls-1" d="M112.853,77.5S50,75.095,50,59.047,60.7,43,60.7,43" transform="translate(1381.915 544.735)"/>
              <path id="Path_181" data-name="Path 181" class="cls-1" d="M128.544,90.246S33.864,84.095,54.191,52" transform="translate(1384.143 559.806)"/>
              <g id="Group_143" data-name="Group 143">
              <g id="Group_141" data-name="Group 141" transform="translate(1299.537 531.214)">
              <path id="Path_182" data-name="Path 182" class="cls-3" d="M187.721,190.712a7.881,7.881,0,0,1-8.024,8.024H8.524A8.047,8.047,0,0,1,.5,190.712V86.524A8.227,8.227,0,0,1,8.524,78.5H179.7a8.047,8.047,0,0,1,8.024,8.024Z" transform="translate(-0.5 -78.5)"/>
              <path id="Path_183" data-name="Path 183" class="cls-1" d="M187.721,190.712a7.881,7.881,0,0,1-8.024,8.024H8.524A8.047,8.047,0,0,1,.5,190.712V86.524A8.227,8.227,0,0,1,8.524,78.5H179.7a8.047,8.047,0,0,1,8.024,8.024Z" transform="translate(-0.5 -78.5)"/>
              </g>
              <g id="Group_142" data-name="Group 142" transform="translate(1318.072 547.93)">
              <line id="Line_23" data-name="Line 23" class="cls-1" x2="46.337" transform="translate(0 0)"/>
              <line id="Line_24" data-name="Line 24" class="cls-1" x2="23.169" transform="translate(0 12.357)"/>
              <line id="Line_25" data-name="Line 25" class="cls-1" x2="64.872" transform="translate(0 46.337)"/>
              <line id="Line_26" data-name="Line 26" class="cls-1" x2="64.872" transform="translate(0 33.981)"/>
              </g>
              <line id="Line_31" data-name="Line 31" class="cls-1" x2="184.547" transform="translate(1300.875 611.01)"/>
              </g>
              <path id="Path_184" data-name="Path 184" class="cls-4" d="M153.913,90.074S129.842,76.7,121.818,66s-37.444-34.77-37.444-34.77-10.7-8.024-21.4,0,0,24.071,0,24.071S79.024,79.375,92.4,95.423s21.4,21.4,26.746,42.793,26.746,50.817,40.119,69.539c7.689,10.765,14.494,27.72,18.992,40.477" transform="translate(1395.684 519.058)"/>
              </g>
              </g>
              </svg>
						</div>
						<div class="buttons_holder">
							<Uploader :text="getField('btn_upload_photo')"/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="pop_footer">
			<span v-text="getField('upload_help_text')"/>
			<span @click="openContactForm" class="link" v-text="getField('upload_help_link')"/>
		</div>
	</div>
</template>

<script>
import { globalData } from './main';
import Close from './components/Close';
import Uploader from './components/Uploader';

export default {
  components: {
    Close,
    Uploader
  },
  props: ['type'],
  methods: {
    closePop() {
      globalData.$emit('closePop', false);
    },
    openContactForm() {
      globalData.$emit('openPop', 'contact');
    }
  },
  mounted() {
    console.log(this.type);
  }
};
</script>

<style lang="scss" scoped>
@import './styles/mixins.scss';

.pop {
  background: #fff;
  height: auto;
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;

  @include mobile {
    flex-wrap: wrap;
  }
  .pop_content {
    max-width: 1000px;
    padding: 100px 60px;
    margin: auto;
    width: 100%;

    @include mobile {
      padding: 100px 20px 0;
    }
    h1 {
      margin-top: 0;
      padding-top: 0;
      margin-bottom: 40px;
    }
  }
}
.close {
  position: absolute;
}
.row {
  display: flex;

  @include mobile {
    flex-wrap: wrap;
  }
}
.buttons_holder {
  text-align: left;

  @include mobile {
    label {
      width: 100%;
    }
  }
}
.col {
  width: 50%;

  @include mobile {
    width: 100%;
    display: block;
    order: 2;
  }
  &:nth-child(2) {
    display: inline-flex;

    .text_holder {
      margin: auto 0;
      padding: 37px 0 37px 37px;
    }
    @include mobile {
      width: 100%;
      display: block;
      order: 1;

      .text_holder {
        padding: 0;
      }
    }
  }
  svg {
    width: 100%;
    height: auto;
  }
}
.pop_footer {
  max-width: 1000px;
  padding: 35px 60px;
  margin: auto;
  width: 100%;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  text-align: center;
  bottom: 0;
  position: absolute;

  @include mobile {
    position: static;
    font-size: 12px;
    line-height: 17px;
    text-align: left;
    padding: 0 20px 100px 20px;
    transform: none;
  }
}
.mobile_icon_holder {
  width: 100%;
  height: auto;
  max-width: 400px;
  margin: 40px auto;
}
#Layer_2694681468 {
    .st0 {
    opacity: 0.3;
  }
  .st1 {
    fill: none;
    stroke: #000000;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
  .st2 {
    fill: #ffffff;
  }
  .st3 {
    fill: #ffffff;
    stroke: #000000;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
  .st4 {
    fill: $purple;
  }
  .st5 {
    font-family: 'SegoeUI';
  }
  .st6 {
    font-size: 6px;
  }
  .st7 {
    font-size: 8px;
  }
  .st8 {
    font-size: 14px;
  }
}
#Layer_4196981681 {
  .cls-1 {
  opacity: 0.3;
  }

  .cls-2, .cls-5, .cls-7 {
  fill: none;
  }

  .cls-2, .cls-4, .cls-5 {
  stroke: #000;
  stroke-width: 2px;
  }

  .cls-2, .cls-4 {
  stroke-linecap: round;
  stroke-miterlimit: 10;
  }

  .cls-3, .cls-4 {
  fill: #fff;
  }

  .cls-6 {
  stroke: none;
  }
}
#Layer_148984684684468 {
  .cls-1, .cls-4, .cls-6 {
  fill: none;
  }

  .cls-1, .cls-3, .cls-4 {
  stroke: #b1b1b1;
  stroke-width: 2px;
  }

  .cls-1, .cls-3 {
  stroke-linecap: round;
  stroke-miterlimit: 10;
  }

  .cls-2, .cls-3 {
  fill: #fff;
  }

  .cls-5 {
  stroke: none;
  }
}
#Layer_815151111111 {
  .cls-1, .cls-2, .cls-6 {
    fill: none;
  }

  .cls-1, .cls-2, .cls-4 {
    stroke: #b1b1b1;
    stroke-width: 2px;
  }

  .cls-1, .cls-4 {
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }

  .cls-3, .cls-4 {
    fill: #fff;
  }

  .cls-5 {
    stroke: none;
  }
}
#Layer_48168445669846984684 {
  .cls-1 {
  opacity: 0.3;
  }

  .cls-2, .cls-3, .cls-4, .cls-7 {
  fill: none;
  }

  .cls-2, .cls-3 {
  stroke: #000;
  }

  .cls-2, .cls-3, .cls-4 {
  stroke-width: 2px;
  }

  .cls-3 {
  stroke-linecap: round;
  stroke-miterlimit: 10;
  }

  .cls-4 {
  stroke: #652dfe;
  stroke-dasharray: 8;
  }

  .cls-5 {
  fill: #652dfe;
  }

  .cls-6 {
  stroke: none;
  }
}
</style>