<template>
	<transition name="overlay" appear>
		<div class="overlay" v-if="pop">
			<Transition name="page" mode="out-in">
				<PopUpload v-if="pop == 'upload'" :type="pop_type" key="PopUpload"/>
				<PopContact v-else-if="pop == 'contact'" key="PopContact"/>
				<PopError v-else-if="pop == 'error'" :type="pop_type" key="PopError"/>
        <PopLoader v-else-if="pop == 'loader'" key="PopLoader"/>
				<PopHandledError v-else :error="pop" key="PopHandledError"/>
			</Transition>
		</div>
	</transition>
</template>

<script>
import { globalData } from './main';
import PopUpload from './PopUpload';
import PopContact from './PopContact';
import PopError from './PopError';
import PopHandledError from './PopHandledError';
import PopLoader from './PopLoader';

export default {
  data() {
    return {
      pop: '',
      pop_type: ''
    };
  },
  created() {
    globalData.$on('openPop', value => {
      if (typeof value != 'string' && typeof value != 'number') {
        this.pop = value[0];
        this.pop_type = value[1];
      } else {
        this.pop = value;
      }
    });
    globalData.$on('closePop', value => {
      this.pop = '';
    });
  },
  components: {
    PopUpload,
    PopContact,
    PopError,
    PopHandledError,
    PopLoader
  }
};
</script>

<style lang="scss" scoped>
.overlay {
  position: fixed;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: #fff;
}
.overlay-enter,
.overlay-leave-to {
  opacity: 0;
}
.page-enter {
  transform: translate3d(100vw, 0, 0);
}
.page-enter-active,
.page-leave-active {
  transition: transform 500ms;
}
.page-leave-active {
  transition: transform 500ms;
  transform: translate3d(-100vw, 0, 0);
}
.overlay-enter {
  transform: translate3d(100vw, 0, 0);
}
.overlay-enter-active,
.overlay-leave-active {
  transition: transform 500ms;
}
.overlay-leave-active {
  transition: transform 500ms, opacity 500ms;
  transform: translate3d(-100vw, 0, 0);
}
</style>