<template>
	<div class="content">
		<div class="success">
			<div class="icon">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				viewBox="0 0 3245.7 1837.2" style="enable-background:new 0 0 3245.7 1837.2;" xml:space="preserve">
				<path id="success_illustration" class="st0" d="M1458.1,1818.6c-59.1-12.1-116.9-30-172.4-53.5c-54.6-23.1-106.9-51.5-156-84.7
				c-48.8-33-94.3-70.5-135.9-112.2c-41.6-41.6-79.2-87.2-112.2-135.9c-33.2-49.2-61.6-101.4-84.7-156.1
				c-23.5-55.6-41.4-113.3-53.5-172.4c-12.4-60.9-18.6-122.9-18.6-185.1c0-62.2,6.2-124.2,18.6-185.1c12.1-59.1,30-116.9,53.5-172.4
				c23.1-54.6,51.5-106.9,84.7-156c33-48.8,70.5-94.3,112.2-135.9c41.6-41.6,87.2-79.2,135.9-112.2c49.2-33.2,101.4-61.6,156-84.7
				c55.6-23.5,113.3-41.4,172.4-53.5C1519.1,6.2,1581.1,0,1643.3,0c62.2,0,124.2,6.2,185.1,18.7c59.1,12.1,116.9,30,172.4,53.5
				c54.6,23.1,106.9,51.5,156,84.7c48.8,33,94.3,70.5,136,112.2c8.1,8.1,16.1,16.5,23.9,24.9l-14.5,14.4c-7.7-8.4-15.8-16.7-23.9-24.9
				c-40.7-40.7-85.2-77.4-133-109.7c-48.1-32.5-99.2-60.2-152.6-82.8c-54.3-23-110.8-40.5-168.6-52.3c-59.6-12.2-120.2-18.3-181-18.3
				c-60.8,0-121.5,6.1-181,18.2C1404.5,50.5,1348,68,1293.7,91c-53.4,22.6-104.5,50.4-152.6,82.8c-47.7,32.2-92.2,69-132.9,109.7
				c-40.7,40.7-77.4,85.2-109.7,132.9c-32.5,48.1-60.2,99.2-82.8,152.6c-23,54.3-40.5,110.8-52.3,168.6c-12.1,59.6-18.3,120.2-18.2,181
				c0,60.8,6.1,121.4,18.2,181c11.8,57.8,29.4,114.3,52.3,168.6c22.6,53.4,50.3,104.5,82.8,152.6c32.2,47.7,69,92.2,109.7,132.9
				c40.7,40.7,85.2,77.4,132.9,109.7c48.1,32.5,99.2,60.2,152.6,82.8c54.3,23,110.8,40.5,168.6,52.3c59.6,12.2,120.2,18.3,181,18.2
				c60.8,0,121.4-6.1,181-18.3c57.8-11.8,114.3-29.4,168.6-52.3c53.4-22.6,104.5-50.3,152.6-82.8c47.7-32.2,92.2-69,132.9-109.7
				c40.7-40.7,77.5-85.2,109.7-132.9c32.5-48.1,60.2-99.2,82.8-152.6c23-54.3,40.5-110.8,52.3-168.6c12.2-59.6,18.3-120.2,18.3-181
				c0-60.8-6.1-121.4-18.3-181c-11.8-57.8-29.4-114.3-52.3-168.6c-7.1-16.8-14.8-33.6-23-50l15.2-15.2c9.5,18.8,18.5,38.1,26.5,57.2
				c23.5,55.6,41.4,113.3,53.5,172.4c12.4,60.9,18.7,123,18.7,185.2c0,62.2-6.2,124.2-18.6,185.1c-12.1,59.1-30.1,116.9-53.5,172.4
				c-23.1,54.6-51.5,106.9-84.7,156.1c-33,48.8-70.6,94.3-112.2,135.9c-41.6,41.6-87.2,79.2-136,112.2c-49.1,33.2-101.4,61.6-156,84.7
				c-55.6,23.5-113.3,41.4-172.4,53.5c-60.9,12.4-122.9,18.7-185.1,18.6C1581.1,1837.2,1519.1,1831,1458.1,1818.6z M466.3,1641.6
				l14.4-14.4l72.2,72.2l129.9-129.9l14.4,14.4l-144.3,144.3L466.3,1641.6z M2773,1508.9l14.4-14.4l72.2,72.2l129.9-129.9l14.5,14.4
				l-144.3,144.3L2773,1508.9z M1564.2,1236.8l-433-433l14.4-14.4l418.6,418.6L2488,284.1l14.4,14.4L1564.2,1236.8L1564.2,1236.8z
				M2939.5,1112.5c0-33.8,27.4-61.2,61.2-61.2c33.8,0,61.2,27.4,61.2,61.2c0,33.8-27.4,61.2-61.2,61.2
				C2967,1173.7,2939.6,1146.3,2939.5,1112.5z M2960,1112.5c0,22.5,18.3,40.8,40.8,40.8c22.5,0,40.8-18.3,40.8-40.8
				c0-22.5-18.3-40.8-40.8-40.8C2978.2,1071.7,2960,1090,2960,1112.5z M0,1061.5c0.1-56.3,45.7-102,102.1-102.1
				c56.3,0.1,102,45.7,102.1,102.1c-0.1,56.3-45.7,102-102.1,102.1C45.7,1163.5,0.1,1117.8,0,1061.5z M20.4,1061.5
				c0.1,45.1,36.6,81.6,81.7,81.7c45.1-0.1,81.6-36.6,81.7-81.7c-0.1-45.1-36.6-81.6-81.7-81.7C57,979.9,20.5,1016.4,20.4,1061.5z
				M3054.1,722.5c-21.1-21-33-49.6-32.9-79.4c-0.1-29.8,11.8-58.4,32.9-79.4c21-21.1,49.6-33,79.4-32.9c29.8-0.1,58.4,11.8,79.4,32.9
				c21.1,21,33,49.6,32.9,79.4c0.1,29.8-11.8,58.4-32.9,79.4c-21,21.1-49.6,33-79.4,32.9C3103.7,755.4,3075.1,743.6,3054.1,722.5
				L3054.1,722.5z M3041.6,643c0.1,50.7,41.2,91.8,91.9,91.9c50.7-0.1,91.8-41.2,91.9-91.9c-0.1-50.7-41.2-91.8-91.9-91.9
				C3082.8,551.2,3041.7,592.3,3041.6,643z M459.3,530.8c0-33.8,27.4-61.2,61.2-61.2c33.8,0,61.2,27.4,61.2,61.2
				c0,33.8-27.4,61.2-61.2,61.2C486.7,592,459.3,564.6,459.3,530.8z M479.7,530.8c0,22.5,18.3,40.8,40.8,40.8
				c22.5,0,40.8-18.3,40.8-40.8c0-22.5-18.3-40.8-40.8-40.8C498,489.9,479.7,508.2,479.7,530.8z M2730,412l-43.3-43.3l14.4-14.4
				l43.3,43.3l86.6-86.6l14.5,14.4l-101,101L2730,412z M663.4,102.1c0-33.8,27.4-61.2,61.2-61.2c33.8,0,61.2,27.4,61.2,61.2
				c0,33.8-27.4,61.2-61.2,61.2C690.9,163.3,663.5,135.9,663.4,102.1z M683.9,102.1c0,22.5,18.3,40.8,40.8,40.8
				c22.5,0,40.8-18.3,40.8-40.8s-18.3-40.8-40.8-40.8C702.1,61.3,683.9,79.5,683.9,102.1z"/>
				</svg>
			</div>
			<h1 v-text="getField('success_heading')"/>
			<div class="mb20" v-text="getField('success_text')"/>
			<div class="button_holder">
				<Button @clicked="backToWebsite" type="blue" icon="" size="not_limited" :text="getField('btn_back')"/>
			</div>
		</div>
	</div>
</template>

<script>
import Button from './components/Button';
import Api from './scripts/api';
import Storage from './scripts/storageService';
import { dataUrlToBlob } from './scripts/helpers';
import { globalData } from './main';

export default {
  components: {
    Button
  },
  methods: {
    async backToWebsite() {
      try {
        const response = await Api.call('success');
        if (response.error) {
          globalData.$emit('openPop', response.error);
        } else {
          Storage.storageSettings(null);
          window.location.href = response.data;
        }
      } catch (err) {
        if (err.status) {
          globalData.$emit('openPop', err.status);
        } else {
          globalData.$emit('openPop');
        }
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import './styles/mixins.scss';

.st0 {
  opacity: 0.3;
  enable-background: new;
}

.content {
  max-width: 470px;
}
.success {
  text-align: center;

  @include mobile {
    padding: 30px 0;
    text-align: center;

    h1 {
      text-align: center;
    }
  }
}
.buttons_holder {
  @include mobile {
    .button {
      width: 100%;
    }
  }
}
.icon {
  width: 318px;
  height: 180px;
  position: relative;
  margin: 0 auto 25px;

  svg {
    width: 318px;
    height: 180px;
    top: 0;
    left: 0;
    position: absolute;
  }
  @include mobile {
    width: 100%;
    max-width: 318px;
    height: auto;

    svg {
      width: 100%;
      max-width: 318px;
      height: auto;
      position: static;
    }
  }
}
</style>