<template>
	<div class="terms_and_form_holder">
		<Form :formIsValid.sync="formIsValid" :termsAndForm="termsAndForm" :is-terms-valid="termsValid" :termsErrorText.sync="termsErrorText" :formErrorText.sync="formErrorText"/>
		<TermsAndConditions :termsValid.sync="termsValid" :termsAndForm="termsAndForm" @accept="acceptTerms" :termsErrorText.sync="termsErrorText"/>
	</div>
</template>

<script>
import Form from './Form';
import TermsAndConditions from './TermsAndConditions';

export default {
  data() {
    return {
      termsAndForm: true,
      termsValid: false,
      formIsValid: false,
      formErrorText: '',
      termsErrorText: ''
    };
  },
  components: {
    Form,
    TermsAndConditions
  },
  watch: {
    termsValid(value) {
      if (value && this.formIsValid) {
        this.$router.push('/upload-photo');
      }
    },
    formIsValid(value) {
      if (value && this.termsValid) {
        this.$router.push('/upload-photo');
      }
    }
  },
  methods: {
    acceptTerms(value) {
      this.termsValid = value;
    }
  }
};
</script>

<style lang="scss" scoped>
@import './styles/mixins.scss';

.terms_and_form_holder {
  display: flex;
  margin: 0 auto;

  @include mobile {
    display: block;
    width: 100%;
  }
  .content {
    max-width: 660px;
    width: 50%;
    margin: 0;
    vertical-align: top;

    @include mobile {
      max-width: 100%;
      width: 100%;
    }
  }
}
</style>