<template>
	<div class="content" :class="{'double': termsAndForm}">
		<h1 v-if="termsAndForm" class="free_header" v-text="getField('terms_heading')"/>
		<div class="holder" :class="{ 'show': bottomReached, 'hovered': hovered, 'red': redBorder }">
			<VuePerfectScrollbar ref="scrollbar" class="scroll-area terms_and_conditions" :settings="settings" v-once @ps-y-reach-end.once="endReached" @ps-scroll-y="onScroll">
		    <h1 v-if="!termsAndForm" v-text="getField('terms_heading')"/>
        <div v-html="getField('terms_content')"/>
			</VuePerfectScrollbar>
			<div class="agree_box" :class="{ 'show': bottomReached, 'hovered': hovered }" @mouseover="hovered = true" @mouseleave="hovered = false">
				<div class="links">
					<a href="#" class="link" v-text="getField('download_terms_label')"/>
					<a href="#" class="link" v-text="getField('download_privacy_label')"/>
				</div>
				<Checkbox :checked.sync="checkboxAgree" :label="getField('agree_terms_label')" :error="checkboxAgreeError"/>
				<div class="small_text" v-text="getField('agree_terms_confirmation')"/>
				<div class="buttons_holder" v-if="termsAndForm != true">
					<Button @clicked="submit" type="blue" icon="" size="not_limited" :text="getField('btn_start_registration')"/>
				</div>
			</div>
		</div>
		<div class="buttons_holder right" v-if="termsAndForm">
			<Button @clicked="submit" type="blue" icon="" size="not_limited" :text="getField('btn_start_registration')"/>
		</div>
	</div>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar';
import Checkbox from './components/Checkbox';
import Button from './components/Button';
import { globalData } from './main';

export default {
  data() {
    return {
      bottomReached: false,
      checkboxAgreeError: false,
      checkboxAgree: false,
      settings: {
        suppressScrollX: true
      },
      hovered: false,
      redBorder: false,
      scrollTimes: 0,
      lastOffset: 0,
      lastDate: 0
    };
  },
  components: {
    VuePerfectScrollbar,
    Checkbox,
    Button
  },
  props: {
    termsAndForm: Boolean,
    termsValid: Boolean,
    termsErrorText: String
  },
  methods: {
    endReached(event) {
      this.bottomReached = true;
      this.submitTerms();
    },
    onScroll(e) {
      this.redBorder = false;
      const height = this.$refs.scrollbar.$el.childNodes[2].clientHeight;
      const delayInMs = e.timeStamp - this.lastDate;
      const offset = e.target.scrollTop - this.lastOffset;
      const speedInpxPerMs = offset / delayInMs;

      if(speedInpxPerMs > 15){
        this.$refs.scrollbar.$el.scrollTop = height;
      }
      this.lastDate = e.timeStamp;
      this.lastOffset = e.target.scrollTop;
    },
    submit() {
      if (this.termsAndForm) {
        globalData.$emit('formSubmit', true);
        this.$emit('update:termsErrorText', '');
      }
      if (this.checkboxAgree && this.bottomReached) {
        if (this.termsAndForm) {
          this.$emit('update:termsValid', true);
        } else {
          this.$router.push('/form');
        }
      } else {
        if (!this.checkboxAgree && !this.bottomReached) {
          this.checkboxAgreeError = true;
          this.redBorder = true;
          if (this.termsAndForm) {
            this.$emit('update:termsErrorText', this.getField('validation_error_terms_all'));
          }
        } else if (!this.checkboxAgree) {
          this.checkboxAgreeError = true;
          if (this.termsAndForm) {
            this.$emit('update:termsErrorText', this.getField('validation_error_terms_checkbox'));
          }
        } else if (!this.bottomReached) {
          this.redBorder = true;
          if (this.termsAndForm) {
            this.$emit('update:termsErrorText', this.getField('validation_error_terms_scroll'));
          }
        }
      }
    },
    submitTerms() {
      this.$emit('accept', this.bottomReached && this.checkboxAgree);
    }
  },
  watch: {
    checkboxAgree(value) {
      if (value) {
        this.checkboxAgreeError = false;
      }
      this.submitTerms();
    }
  },
  mounted() {
      this.lastOffset = this.$refs.scrollbar.$el.scrollTop;
      this.lastDate = new Date().getTime();
  }
};
</script>

<style lang="scss" scoped>
@import './styles/mixins.scss';

.content {
  max-width: 870px;
}
.buttons_holder {
  &.right {
    text-align: right;
    margin-top: 25px;

    @include mobile {
      margin-top: -40px;
      z-index: 1;
      position: relative;
    }
  }
  @include mobile {
    .button {
      width: 100%;
    }
  }
}
.terms_and_conditions {
  height: calc(100vh - 312px);
  width: 100%;
  max-width: 750px;
  position: relative;
  padding-right: 30px;
  transition: height 450ms;
  min-height: 366px;

  @media screen and (max-height: 818px) {
    height: 506px;
  }
  @include mobile {
    height: 400px;
    padding-right: 0;
    max-width: 100%;
    min-height: 0;
    width: calc(100% - 20px);
  }
}
.holder {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 208px);
  min-height: 610px;
  transition: box-shadow 250ms;

  &.hovered,
  &.show {
    .terms_and_conditions {
      height: calc(100vh - 452px);

      @media screen and (max-height: 818px) {
        height: 366px;
      }
      @include mobile {
        height: 400px;
        min-height: 0;
      }
    }
  }
  &.red {
    box-shadow: 0px 30px 99px 0px rgba($red, 0.3);

    @include mobile {
      box-shadow: none;
    }
  }
  @media screen and (max-height: 818px) {
    height: 610px;
  }
  @include mobile {
    overflow: visible;
    min-height: 0;
    height: auto;
  }
}
.link {
  padding-right: 26px;
  display: inline-block;
  vertical-align: top;

  &:nth-child(2) {
    border-left: 1px solid $purple;
    padding-left: 26px;

    @include mobile {
      padding-left: 0;
      border: none;
    }
  }
  @media screen and (min-width: 1101px) and (max-width: 1350px) {
    font-size: 11px;
  }
}
.agree_box {
  padding-top: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 1;
  background: #fff;
  opacity: 1;
  transform: translate3d(0, 140px, 0);
  pointer-events: all;
  transition: opacity 450ms, transform 450ms;
  height: 244px;

  &.hovered {
    @include no_touch {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      pointer-events: all;
    }
  }
  @include mobile {
    position: relative;
    transform: translate3d(0, 0, 0);
    pointer-events: all;
    opacity: 1;
    height: auto;
    padding-bottom: 60px;
  }
  &.show {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    pointer-events: all;
  }
}
.free_header {
  margin-bottom: 80px;

  @include mobile {
    margin-bottom: 20px;
    margin-top: 40px;
  }
}
@media screen and (min-width: 1101px) { 

  .content.double {

    .buttons_holder.right {
      height: 74px;
    } 
    .agree_box {
      height: 187px;
      transform: translate3d(0, 55px, 0);

      &.hovered {
        @include no_touch {
          opacity: 1;
          transform: translate3d(0, 0, 0);
          pointer-events: all;
        }
      }
      &.show {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        pointer-events: all;
      }
    }
    .holder {
      height: 624px;

      &.hovered,
      &.show {

        .terms_and_conditions {
          height: 424px;
        }
      }
    }
  }
}
</style>