<template>
	<div class="content">
		<div class="photo_layout" :class="[badge]" v-if="!frontFile || !backFile">
			<Camera :mode="mode" ref="camera" :file.sync="file" :cameraNotSupported.sync="cameraNotSupported"></Camera>
			<div class="controls">
				<Badge/>
				<h1 v-if="(frontPhoto && badge == '' && beforePhoto != 1)" v-text="getField('card_front_capture_heading')"/>
				<h1 v-if="(!frontPhoto && badge == '' && beforePhoto != 1)" v-text="getField('card_back_capture_heading')"/>
				<div v-if="(frontPhoto && badge == '' && beforePhoto != 1)" class="smaller_text" v-text="getField('card_front_capture_info')"/>
				<div v-if="(!frontPhoto && badge == '' && beforePhoto != 1)" class="smaller_text" v-text="getField('card_back_capture_info')"/>
				<h1 v-if="(badge == 'error' && beforePhoto != 1)" v-text="getField('card_front_capture_error')"/>
				<div v-if="(badge == 'error' && beforePhoto != 1)" class="smaller_text" v-text="getField('photo_capture_error_info_picture')"/>
				<h1 v-if="(badge == 'success' && beforePhoto != 1)" v-text="getField('card_front_capture_success')"/>
				<h1 v-if="beforePhoto == 1" v-text="getField('card_error_heading')"/>
				<div v-if="beforePhoto == 1" class="smaller_text" v-text="getField('card_error_text')"/>
				<div class="image" :class="{'gone': beforePhoto == 0}">
					<Badge mobile="true"/>
					<img :src="file"/>
				</div>
				<div class="icon" v-if="(frontPhoto && beforePhoto != 1)" :class="{'gone': beforePhoto != 0 }">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					viewBox="0 0 236.6 165" style="enable-background:new 0 0 236.6 165;" xml:space="preserve">
					<g id="illustration" transform="translate(-1321 -519)" class="st0">
					<path id="Path_178" class="st1" d="M1442.3,525.4l22.5-1.7c0,0,13.9-1.7,19,0c5.2,1.7,38.1,12.1,38.1,12.1s15.6,3.5,17.3,19
					c1.7,15.6,17.3,119.5,17.3,119.5"/>
					<path id="Path_179" class="st1" d="M1485.6,551.4c0,0-8.7-1.7-13.8-3.5c0,0-11.3,0.2-16.8-1.6"/>
					<path id="Path_180" class="st1" d="M1448.4,578.9c0,0-40.7-1.6-40.7-11.9c0-10.4,6.9-10.4,6.9-10.4"/>
					<path id="Path_181" class="st1" d="M1460,596.9c0,0-61.3-4-48.1-24.8"/>
					<g id="Group_39" transform="translate(1322 442)">
					<path id="Path_182" class="st2" d="M121.2,150.6c0.1,2.8-2.2,5.1-5,5.2c-0.1,0-0.1,0-0.2,0H5.2c-2.9,0-5.2-2.3-5.2-5.2V83.2
					c0.1-2.8,2.4-5.1,5.2-5.2H116c2.9,0,5.2,2.3,5.2,5.2V150.6z"/>
					<path id="Path_183" class="st1" d="M121.2,150.6c0.1,2.8-2.2,5.1-5,5.2c-0.1,0-0.1,0-0.2,0H5.2c-2.9,0-5.2-2.3-5.2-5.2V83.2
					c0.1-2.8,2.4-5.1,5.2-5.2H116c2.9,0,5.2,2.3,5.2,5.2V150.6z"/>
					</g>
					<path id="Path_184" class="st3" d="M1483.9,570.4c0,0-15.6-8.7-20.8-15.6s-24.2-22.5-24.2-22.5s-6.9-5.2-13.9,0
					c-6.9,5.2,0,15.6,0,15.6s10.4,15.6,19,26c8.7,10.4,13.9,13.9,17.3,27.7c3.5,13.9,17.3,32.9,26,45c8.7,12.1,15.6,36.4,15.6,36.4"/>
					<g id="Group_60" transform="translate(1 19.823)">
					<line id="Line_23" class="st1" x1="1384" y1="522" x2="1414" y2="522"/>
					<line id="Line_24" class="st1" x1="1384" y1="530" x2="1399" y2="530"/>
					<line id="Line_25" class="st1" x1="1384" y1="557" x2="1426" y2="557"/>
					<line id="Line_26" class="st1" x1="1384" y1="549" x2="1426" y2="549"/>
					<path id="Path_199" class="st1" d="M1337,557.5c0-9.6,7.8-17.3,17.3-17.3s17.3,7.8,17.3,17.3"/>
					<circle id="Ellipse_94" class="st3" cx="1354.3" cy="531.6" r="10.4"/>
					</g>
					</g>
					</svg>
				</div>
				<div class="icon2" v-if="(!frontPhoto && beforePhoto != 1)" :class="{'gone': beforePhoto != 0 }">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 273.025 165">
					<g id="Group_145" data-name="Group 145" transform="translate(-1284.607 -499)">
					<g id="illustration" class="cls-1" transform="translate(0 -20)">
					<path id="Path_178" data-name="Path 178" class="cls-2" d="M70,26.057l22.511-1.732s13.853-1.732,19.048,0,38.1,12.121,38.1,12.121,15.584,3.463,17.316,19.048,17.316,119.481,17.316,119.481" transform="translate(1372.346 499.367)"/>
					<path id="Path_179" data-name="Path 179" class="cls-2" d="M107.949,42.122S99.291,40.39,94.1,38.658c0,0-11.255.173-16.8-1.558" transform="translate(1377.687 509.277)"/>
					<path id="Path_180" data-name="Path 180" class="cls-2" d="M90.693,65.338S50,63.779,50,53.39,56.926,43,56.926,43" transform="translate(1357.714 513.593)"/>
					<path id="Path_181" data-name="Path 181" class="cls-2" d="M101.321,76.762S40.022,72.779,53.182,52" transform="translate(1358.688 520.177)"/>
					<g id="Group_39" data-name="Group 39" transform="translate(1322 442)">
					<path id="Path_182" data-name="Path 182" class="cls-3" d="M121.712,151.149a5.1,5.1,0,0,1-5.195,5.195H5.695A5.21,5.21,0,0,1,.5,151.149V83.695A5.326,5.326,0,0,1,5.695,78.5H116.517a5.21,5.21,0,0,1,5.195,5.195Z" transform="translate(-0.5 -0.5)"/>
					<path id="Path_183" data-name="Path 183" class="cls-2" d="M121.712,151.149a5.1,5.1,0,0,1-5.195,5.195H5.695A5.21,5.21,0,0,1,.5,151.149V83.695A5.326,5.326,0,0,1,5.695,78.5H116.517a5.21,5.21,0,0,1,5.195,5.195Z" transform="translate(-0.5 -0.5)"/>
					</g>
					<g id="Group_60" data-name="Group 60" transform="translate(1 9.823)">
					<line id="Line_23" data-name="Line 23" class="cls-2" x2="30" transform="translate(1333 521)"/>
					<line id="Line_24" data-name="Line 24" class="cls-2" x2="15" transform="translate(1333 529)"/>
					<line id="Line_25" data-name="Line 25" class="cls-2" x2="42" transform="translate(1333 551)"/>
					<line id="Line_26" data-name="Line 26" class="cls-2" x2="42" transform="translate(1333 543)"/>
					</g>
					<path id="Path_184" data-name="Path 184" class="cls-4" d="M120.175,68.071S104.591,59.413,99.4,52.486,75.153,29.975,75.153,29.975s-6.926-5.195-13.853,0,0,15.584,0,15.584S71.69,61.144,80.348,71.534,94.2,85.387,97.664,99.24s17.316,32.9,25.974,45.022,15.584,36.364,15.584,36.364" transform="translate(1363.73 502.375)"/>
					<line id="Line_28" data-name="Line 28" class="cls-2" x2="119.481" transform="translate(1322.866 571.662)"/>
					</g>
					<g id="mrz" transform="translate(1239 32)">
					<path id="Path_344" data-name="Path 344" class="cls-5" d="M.468,1.8V6h.546V4.362h.7a1.4,1.4,0,0,0,1-.348,1.225,1.225,0,0,0,.372-.924,1.229,1.229,0,0,0-.372-.93,1.376,1.376,0,0,0-1-.36Zm1.242.51a.749.749,0,0,1,.822.78.739.739,0,0,1-.822.762h-.7V2.31Zm3.082.122-1.16,1.5v.136l1.16,1.5h.7L4.28,4,5.488,2.432ZM9.154,1.8V4.338c0,.81-.378,1.23-1.1,1.23-.738,0-1.1-.408-1.1-1.23V1.8H6.406V4.338a1.534,1.534,0,0,0,1.65,1.74A1.53,1.53,0,0,0,9.7,4.338V1.8Zm1.32,0v.51h1.488V6h.546V2.31H14V1.8Zm6.018-.078a2.057,2.057,0,0,0-1.542.618,2.141,2.141,0,0,0-.606,1.554A2.159,2.159,0,0,0,14.95,5.46a2.225,2.225,0,0,0,3.078,0,2.159,2.159,0,0,0,.606-1.566,2.141,2.141,0,0,0-.606-1.554A2.053,2.053,0,0,0,16.492,1.722Zm0,.51a1.46,1.46,0,0,1,1.128.474,1.665,1.665,0,0,1,.444,1.188,1.7,1.7,0,0,1-.444,1.2,1.46,1.46,0,0,1-1.128.474,1.485,1.485,0,0,1-1.14-.474,1.691,1.691,0,0,1-.438-1.2,1.661,1.661,0,0,1,.438-1.188A1.485,1.485,0,0,1,16.492,2.232Zm3.15-.432V6h1.512A2.092,2.092,0,0,0,22.7,5.424,2.044,2.044,0,0,0,23.284,3.9,2.044,2.044,0,0,0,22.7,2.376,2.092,2.092,0,0,0,21.154,1.8Zm1.512.51A1.458,1.458,0,0,1,22.726,3.9a1.464,1.464,0,0,1-1.572,1.59h-.966V2.31Zm5.136-.588a2.057,2.057,0,0,0-1.542.618,2.141,2.141,0,0,0-.606,1.554,2.159,2.159,0,0,0,.606,1.566,2.225,2.225,0,0,0,3.078,0,2.159,2.159,0,0,0,.606-1.566,2.141,2.141,0,0,0-.606-1.554A2.053,2.053,0,0,0,26.29,1.722Zm0,.51a1.46,1.46,0,0,1,1.128.474,1.665,1.665,0,0,1,.444,1.188,1.7,1.7,0,0,1-.444,1.2,1.46,1.46,0,0,1-1.128.474,1.485,1.485,0,0,1-1.14-.474,1.691,1.691,0,0,1-.438-1.2,1.661,1.661,0,0,1,.438-1.188A1.485,1.485,0,0,1,26.29,2.232ZM29.44,1.8V6h2.31V5.49H29.986v-1.4H31.54v-.51H29.986V2.31H31.75V1.8Zm4.156.632-1.16,1.5v.136l1.16,1.5h.7L33.084,4l1.208-1.568Zm2.464,0-1.16,1.5v.136l1.16,1.5h.7L35.548,4l1.208-1.568ZM37.32,1.8v.51h1.488V6h.546V2.31h1.488V1.8Zm7.116,0V3.57h-2.22V1.8H41.67V6h.546V4.086h2.22V6h.546V1.8Zm3.7-.078A2.057,2.057,0,0,0,46.6,2.34a2.141,2.141,0,0,0-.606,1.554A2.159,2.159,0,0,0,46.6,5.46a2.225,2.225,0,0,0,3.078,0,2.159,2.159,0,0,0,.606-1.566,2.141,2.141,0,0,0-.606-1.554A2.053,2.053,0,0,0,48.138,1.722Zm0,.51a1.46,1.46,0,0,1,1.128.474,1.665,1.665,0,0,1,.444,1.188,1.7,1.7,0,0,1-.444,1.2,1.46,1.46,0,0,1-1.128.474A1.485,1.485,0,0,1,47,5.094a1.691,1.691,0,0,1-.438-1.2A1.661,1.661,0,0,1,47,2.706,1.485,1.485,0,0,1,48.138,2.232Zm6.87-.432L53.562,4.884l-.12.27-.114-.27L51.888,1.8h-.6V6h.546V2.874l.114.312L53.226,6h.438l1.284-2.814.114-.312V6h.546V1.8Zm2.626.632-1.16,1.5v.136l1.16,1.5h.7L57.122,4,58.33,2.432Zm2.464,0-1.16,1.5v.136l1.16,1.5h.7L59.586,4l1.208-1.568Zm2.464,0-1.16,1.5v.136l1.16,1.5h.7L62.05,4l1.208-1.568Zm2.464,0-1.16,1.5v.136l1.16,1.5h.7L64.514,4l1.208-1.568Zm2.464,0-1.16,1.5v.136l1.16,1.5h.7L66.978,4l1.208-1.568Zm2.464,0-1.16,1.5v.136l1.16,1.5h.7L69.442,4,70.65,2.432Zm2.464,0-1.16,1.5v.136l1.16,1.5h.7L71.906,4l1.208-1.568Zm2.464,0-1.16,1.5v.136l1.16,1.5h.7L74.37,4l1.208-1.568Zm2.464,0-1.16,1.5v.136l1.16,1.5h.7L76.834,4l1.208-1.568Zm2.464,0-1.16,1.5v.136l1.16,1.5h.7L79.3,4l1.208-1.568Zm2.464,0-1.16,1.5v.136l1.16,1.5h.7L81.762,4,82.97,2.432Zm2.464,0-1.16,1.5v.136l1.16,1.5h.7L84.226,4l1.208-1.568ZM.462,10.8V15H2.88v-.51H1.008V10.8Zm5,.93.666,1.65H4.65l.66-1.65.078-.228Zm-.354-.93L3.426,15h.6l.438-1.11H6.318L6.762,15h.6L5.676,10.8Zm4.776-.078a1.96,1.96,0,0,0-1.494.618,2.177,2.177,0,0,0-.582,1.56A2.181,2.181,0,0,0,8.4,14.46a1.973,1.973,0,0,0,1.5.618,1.884,1.884,0,0,0,1.4-.516,1.959,1.959,0,0,0,.51-1.434v-.282H9.972v.51h1.26A1.181,1.181,0,0,1,9.9,14.568a1.4,1.4,0,0,1-1.1-.474,1.728,1.728,0,0,1-.42-1.194,1.707,1.707,0,0,1,.42-1.194,1.377,1.377,0,0,1,1.08-.474,1.206,1.206,0,0,1,1.266.816h.606A1.792,1.792,0,0,0,9.888,10.722Zm5.832.078-1.272,3.174-.084.27-.084-.27L13.008,10.8H12.42l1.7,4.2h.5l1.692-4.2Zm2.814,0-1.656,2.892v.45h1.758V15h.546v-.858h.588v-.5h-.588V10.8Zm.108,2.85H17.478l1.032-1.812.132-.258Zm2.076-2.85V15H22.23a2.092,2.092,0,0,0,1.548-.576A2.044,2.044,0,0,0,24.36,12.9a2.044,2.044,0,0,0-.582-1.524A2.092,2.092,0,0,0,22.23,10.8Zm1.512.51A1.458,1.458,0,0,1,23.8,12.9a1.464,1.464,0,0,1-1.572,1.59h-.966V11.31Zm5.928-.51v1.77h-2.22V10.8h-.546V15h.546V13.086h2.22V15H28.7V10.8Zm3.462.93.666,1.65H30.8l.66-1.65.078-.228Zm-.354-.93L29.58,15h.6l.438-1.11h1.854L32.916,15h.6L31.83,10.8Zm5.676,0v2.538c0,.81-.378,1.23-1.1,1.23-.738,0-1.1-.408-1.1-1.23V10.8h-.546v2.538a1.649,1.649,0,1,0,3.294,0V10.8Zm3.576-.078a1.96,1.96,0,0,0-1.494.618,2.177,2.177,0,0,0-.582,1.56,2.177,2.177,0,0,0,.582,1.56,1.973,1.973,0,0,0,1.5.618,1.774,1.774,0,0,0,1.866-1.344H41.8a1.249,1.249,0,0,1-1.278.834,1.393,1.393,0,0,1-1.092-.474,1.728,1.728,0,0,1-.42-1.194,1.707,1.707,0,0,1,.42-1.194,1.389,1.389,0,0,1,1.086-.474,1.2,1.2,0,0,1,1.26.816h.606A1.792,1.792,0,0,0,40.518,10.722Zm3.93,0a1.191,1.191,0,0,0-.894.33,1.169,1.169,0,0,0-.318.84,1,1,0,0,0,.276.75,2.583,2.583,0,0,0,.864.48c.648.222.882.42.882.774a.666.666,0,0,1-.744.7.766.766,0,0,1-.846-.828h-.552a1.266,1.266,0,0,0,1.392,1.314,1.186,1.186,0,0,0,1.3-1.218.978.978,0,0,0-.27-.726,2.628,2.628,0,0,0-.918-.51,2.8,2.8,0,0,1-.66-.336.556.556,0,0,1-.174-.438.59.59,0,0,1,.648-.636.65.65,0,0,1,.69.7h.552A1.121,1.121,0,0,0,44.448,10.722ZM49.6,10.8v3.276l-.18-.276-2.076-3h-.534V15h.546V11.73l.162.258L49.6,15h.54V10.8Zm1.776,0V15h.546V13.152h1.458v-.516H51.918V11.31h1.716V10.8Zm5.562,1.1a1.144,1.144,0,0,0-.336-.84,1.157,1.157,0,0,0-.87-.342,1.171,1.171,0,0,0-.876.342,1.14,1.14,0,0,0-.33.84,1.027,1.027,0,0,0,.51.936,1.038,1.038,0,0,0-.648,1.008,1.138,1.138,0,0,0,.384.882,1.49,1.49,0,0,0,1.914,0,1.138,1.138,0,0,0,.384-.882,1.059,1.059,0,0,0-.648-1.008A1.03,1.03,0,0,0,56.934,11.9Zm-1.206,1.182a.791.791,0,0,1,.552.21.687.687,0,0,1,.234.54.7.7,0,0,1-.228.54.814.814,0,0,1-.558.2.841.841,0,0,1-.564-.2.7.7,0,0,1-.228-.54A.746.746,0,0,1,55.728,13.086Zm-.666-1.17a.666.666,0,1,1,1.332,0,.666.666,0,1,1-1.332,0ZM57.894,10.8v.522h1.878L58.116,15h.594L60.4,11.244V10.8Zm5.742,1.1a1.184,1.184,0,0,0-.318-.846,1.231,1.231,0,0,0-2.076.93h.546c0-.5.276-.756.666-.756a.6.6,0,0,1,.63.684c0,.462-.258.672-.852.672H62.1v.48h.138c.63,0,.99.27.99.774a.693.693,0,0,1-.738.726.717.717,0,0,1-.8-.774h-.54a1.2,1.2,0,0,0,1.326,1.284,1.331,1.331,0,0,0,.942-.336,1.162,1.162,0,0,0,.36-.882,1.009,1.009,0,0,0-.732-1.038A.916.916,0,0,0,63.636,11.9Zm2.008-.472-1.16,1.5v.136l1.16,1.5h.7L65.132,13l1.208-1.568Zm2.464,0-1.16,1.5v.136l1.16,1.5h.7L67.6,13,68.8,11.432Zm2.464,0-1.16,1.5v.136l1.16,1.5h.7L70.06,13l1.208-1.568Zm2.464,0-1.16,1.5v.136l1.16,1.5h.7L72.524,13l1.208-1.568Zm2.464,0-1.16,1.5v.136l1.16,1.5h.7L74.988,13,76.2,11.432Zm2.464,0-1.16,1.5v.136l1.16,1.5h.7L77.452,13l1.208-1.568Zm3.03-.632-1.656,2.892v.45H81.1V15h.546v-.858h.588v-.5h-.588V10.8Zm.108,2.85H79.938l1.032-1.812.132-.258Zm1.836-2.85v.522h1.878L83.16,15h.594l1.686-3.756V10.8Z" transform="translate(101 524.987)"/>
					<path id="Path_343" data-name="Path 343" class="cls-5" d="M15.288,1.2,11.914,8.4l-.28.63-.266-.63L8.008,1.2h-1.4V11H7.882V3.706l.266.728L11.13,11h1.022l3-6.566.266-.728V11h1.274V1.2Zm4.27,0V11h1.274V7.024H22.26L24.4,11h1.456L23.576,6.814a2.667,2.667,0,0,0,1.862-2.66A2.888,2.888,0,0,0,22.232,1.2Zm2.674,1.19A1.713,1.713,0,0,1,24.15,4.154a1.7,1.7,0,0,1-1.918,1.722h-1.4V2.39Zm5.18-1.19V2.39H32.8L27.356,9.978V11h7.238V9.81H29.008l5.418-7.588V1.2Z" transform="translate(39 476.987)"/>
					<path id="Union_112" data-name="Union 112" class="cls-5" d="M9395.585,2865.828l1.828-1.829H9392v-2h5.416l-1.83-1.831,1.414-1.413,4.242,4.242-4.242,4.242ZM9392,2864a8.009,8.009,0,0,1-8-8v-32h2v32h0a6,6,0,0,0,6,6v2Z" transform="translate(-9325.617 -2330)"/>
					</g>
					</g>
					</svg>
				</div>
				<div class="icon3" v-if="beforePhoto == 1" :class="{'gone': beforePhoto != 0 }">
					<svg version="1.1" id="Layer_198412145" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					viewBox="0 0 283.2 165" style="enable-background:new 0 0 283.2 165;" xml:space="preserve">
					<g id="illustration" transform="translate(-1321 -519)" class="st0">
					<path id="Path_178" class="st1" d="M1488.9,525.4l22.5-1.7c0,0,13.9-1.7,19,0c5.2,1.7,38.1,12.1,38.1,12.1s15.6,3.5,17.3,19
					c1.7,15.6,17.3,119.5,17.3,119.5"/>
					<path id="Path_179" class="st1" d="M1532.2,551.4c0,0-8.7-1.7-13.8-3.5c0,0-11.3,0.2-16.8-1.6"/>
					<path id="Path_180" class="st1" d="M1494.9,578.9c0,0-40.7-1.6-40.7-11.9c0-10.4,6.9-10.4,6.9-10.4"/>
					<path id="Path_181" class="st1" d="M1506.5,596.9c0,0-61.3-4-48.1-24.8"/>
					<g id="Group_39" transform="translate(1322 442)">
					<path id="Path_182" class="st2" d="M167.7,150.6c0.1,2.8-2.2,5.1-5,5.2c-0.1,0-0.1,0-0.2,0H51.7c-2.9,0-5.2-2.3-5.2-5.2V83.2
					c0.1-2.8,2.4-5.1,5.2-5.2h110.8c2.9,0,5.2,2.3,5.2,5.2V150.6z"/>
					<path id="Path_183" class="st1" d="M167.7,150.6c0.1,2.8-2.2,5.1-5,5.2c-0.1,0-0.1,0-0.2,0H51.7c-2.9,0-5.2-2.3-5.2-5.2V83.2
					c0.1-2.8,2.4-5.1,5.2-5.2h110.8c2.9,0,5.2,2.3,5.2,5.2V150.6z"/>
					</g>
					<g id="Group_60" transform="translate(1 9.823)">
					<line id="Line_23" class="st1" x1="1379.5" y1="521" x2="1409.5" y2="521"/>
					<line id="Line_24" class="st1" x1="1379.5" y1="529" x2="1394.5" y2="529"/>
					<line id="Line_25" class="st1" x1="1379.5" y1="551" x2="1421.5" y2="551"/>
					<line id="Line_26" class="st1" x1="1379.5" y1="543" x2="1421.5" y2="543"/>
					</g>
					<path id="Path_184" class="st3" d="M1530.4,570.4c0,0-15.6-8.7-20.8-15.6s-24.2-22.5-24.2-22.5s-6.9-5.2-13.9,0
					c-6.9,5.2,0,15.6,0,15.6s10.4,15.6,19,26c8.7,10.4,13.9,13.9,17.3,27.7c3.5,13.9,17.3,32.9,26,45c8.7,12.1,15.6,36.4,15.6,36.4"/>
					<line id="Line_28" class="st1" x1="1369.4" y1="571.7" x2="1488.9" y2="571.7"/>
					</g>
					<g id="mrz" transform="translate(-39 -476.987)">
					<text transform="matrix(1 0 0 1 95.8577 541.6537)" class="st4 st5 st6">P</text>
					<text transform="matrix(1 0 0 1 99.5181 541.6537)" class="st4 st5 st7">&lt;</text>
					<text transform="matrix(1 0 0 1 105.3907 541.6537)" class="st4 st5 st6">UTODOE</text>
					<text transform="matrix(1 0 0 1 130.4671 541.6537)" class="st4 st5 st7">&lt;&lt;</text>
					<text transform="matrix(1 0 0 1 142.2124 541.6537)" class="st4 st5 st6">THOM</text>
					<text transform="matrix(1 0 0 1 160.7269 541.6537)" class="st4 st5 st7">&lt;&lt;&lt;&lt;&lt;&lt;</text>
					<text transform="matrix(1 0 0 1 38.9998 499.6537)" class="st4 st5 st8">MRZ</text>
					<path id="Union_112" class="st4" d="M64.8,543.5l1.8-1.8h-5.4v-2h5.4l-1.8-1.8l1.4-1.4l4.2,4.2l-4.2,4.2L64.8,543.5z M61.2,541.7
					c-4.4,0-8-3.6-8-8v-32h2v32l0,0c0,3.3,2.7,6,6,6V541.7z"/>
					</g>
					</svg>
				</div>
				<div class="buttons_holder" v-if="beforePhoto == 0">
					<Button v-if="(!cameraNotSupported)" @clicked="takePicture" type="blue" icon="photo" size="limited" text="TAKE PICTURE"></Button>
					<Uploader v-if="cameraNotSupported"></Uploader>
				</div>
				<div class="buttons_holder full" v-if="beforePhoto == 1">
					<Button @clicked="tryAgain(true)" type="ghost" icon="photo" size="full" text="TRY AGAIN CAPTURING ID CARD FRONT"></Button>
					<Button @clicked="tryAgain(false)" type="ghost" icon="photo" size="full" text="TRY AGAIN CAPTURING ID CARD BACK"></Button>
					<Button @clicked="submit" type="blue" icon="" size="full" text="Continue anyway"></Button>
				</div>
				<div class="buttons_holder after" v-if="beforePhoto == 2">
					<Button @clicked="tryAgain(frontPhoto)" type="ghost" icon="photo" size="limited" text="Try again"></Button>
					<Button @clicked="submit" type="blue" icon="" size="limited" text="Continue"></Button>
				</div>
				<div class="small_text" v-if="beforePhoto != 1">
					Having problems capturing your photo? Upload it directly from your device gallery by <span class="link" @click="openPop">clicking here</span>
				</div>
			</div>
		</div>
		<div class="photo_layout completed-block" :class="[badge]" v-else>
			<div class="image-group">
				<div>
					<div class="document-image">
						<Badge/>
					</div>
				</div>
			</div>
			<div class="button-group">
				<div class="controls">
					<h1 v-if="badge === 'success'" class="large_text" v-text="getField('card_success_header')"></h1>
					<div v-else-if="badge === 'error'">
						<h1 class="large_text" v-text="getField('card_error_header')"></h1>
						<div class="smaller_text" v-text="getField('card_error_text')"></div>
					</div>
				</div>
				<div class="buttons_holder after" v-if="!isLoading">
					<Button @clicked="tryAgainAll" type="ghost" icon="photo" size="limited" text="Try again"></Button>
					<Button @clicked="continueKycProcess" type="blue" icon="" size="limited" text="Continue anyway" v-if="tryCount > 1 || badge === 'success'"></Button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import Camera from './components/Camera';
import Button from './components/Button';
import Badge from './components/Badge';
import Uploader from './components/Uploader';
import Api from './scripts/api'
import { dataUrlToBlob } from './scripts/helpers'
import { globalData } from './main';

	export default {
		data() {
			return {
				mode: 'card',
				beforePhoto: 0,
				badge: '',
				debounce: false,
				file: '',
				frontFile: '',
				backFile: '',
				frontPhoto: true,
				cameraNotSupported: false,
				isLoading: false,
      	tryCount: 0
			}
		},
		components: {
			Camera,
			Button,
			Badge,
			Uploader
		},
		methods: {
			takePicture() {
				if (this.debounce) { return false; }
				this.debounce = true;
				setTimeout(() => {
					this.debounce = false;
				}, 600);
				this.$refs.camera.takePicture();
				this.validateFile(this.file)
				// this.beforePhoto = 2;
				// this.badge = 'success';
				// mrz klaidos popupas iskvieciamas taip:
      	// globalData.$emit('openPop', ['error', 'card']);
			},
			tryAgain(is_front_photo) {
				if (this.debounce) { return false; }
				this.debounce = true;
				setTimeout(() => {
					this.debounce = false;
				}, 600);
				if (this.frontPhoto != is_front_photo) {
					this.frontPhoto = is_front_photo;
					if (is_front_photo) {
						this.mode = 'card';
					} else {
						this.mode = 'card';
					}
				}
				this.beforePhoto = 0;
				this.$refs.camera.restart();
				this.badge = '';
			},
			tryAgainAll() {
				this.frontPhoto = true

				this.frontFile = ''
				this.backFile = ''

				this.beforePhoto = 0
				this.badge = ''
				setTimeout(() => {
					this.$refs.camera.restart()
				})
			},
			continueKycProcess() {
				this.$router.push('/success')
				return
			},
			async submit() {
				// Klaidos screenas, kuriame galima pakartot priekio ar galo nuotraukas iskvieciamas taip:
				// this.beforePhoto = 1;

				// mrz klaidos popupas iskvieciamas taip:
      			// globalData.$emit('openPop', ['error', 'card']);

				if (this.file != '') {
					if (this.frontPhoto) {
						this.frontPhoto = false;
						this.frontFile = this.file;
						this.mode = 'card';
						this.tryAgain(false);
					} else if (this.beforePhoto != 1) {
						//this.backFile = this.file;
						//await this.upload()

					} else {
						//this.$router.push('/success');
					}
				}
			},
			async upload() {
				this.isLoading = true;
				globalData.$emit('openPop', 'loader');
				this.tryCount++

				const cover = dataUrlToBlob(this.frontFile)
				const details = dataUrlToBlob(this.backFile)

				const formData = new FormData()
				formData.append('documentType', 'IdCard')
				formData.append('cover', cover, 'cover')
				formData.append('details', details, 'details')
				
				try {
					const response = await Api.sendFile('upload-document', formData)
					if (response.error) {
						this.badge = 'error'
						globalData.$emit('openPop', ['error', 'card']);
					} else {
						this.badge = 'success'
						//this.$router.push('/success')
					}
				} catch(err) {
					globalData.$emit('openPop', err.status)
				}
				
				this.isLoading = false
				globalData.$emit('closePop', false);
			},
			validateFile(file) {
				setTimeout(() => {
					if (file) {
						if (this.frontPhoto) {
							this.beforePhoto = 2
						} else {
							this.backFile = this.file
							this.upload()
						}
					}
				}, 600)
			},
			toBase64(blob) {
				let base64Url
				const reader = new FileReader()
				reader.readAsDataURL(blob)
				reader.onloadend = () => {
					base64Url = reader.result
				}
				return base64Url
			},
			openPop() {
				let properties = ['upload'];
				if (this.frontPhoto) {
					properties.push('card_front');
				} else {
					properties.push('card_back');
				}
				globalData.$emit('openPop', properties);
			}
		},
		created() {
			globalData.$on('uploadedFile', file => {
				globalData.$emit('closePop', false)

				//const tempFile = this.toBase64(file)
				this.validateFile(file)
				// this.beforePhoto = 2;
				// this.badge = 'success';
			});
		}
	}
</script>

<style lang="scss" scoped>
	@import './styles/mixins.scss';

	.content {
		max-width: 1560px;
	}
	.buttons_holder {
		text-align: left;

		@include mobile {
			text-align: center;

			.button {
				width: 100% !important;
			}
			&.after {

				.button {
					margin: 0 0 20px 0;
					width: calc(50% - 5px) !important;

					&:first-child {
						margin: 0 10px 20px 0;
					}
				}
			}
		}
	}
	.icon {
		margin: 60px auto;
		width: 234px;
		height: 163px;
		position: relative;

		.st0{opacity:0.3;}
		.st1{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
		.st2{fill:#FFFFFF;}
		.st3{fill:#FFFFFF;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}

		svg {
			width: 234px;
			height: 163px;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.icon2 {
		margin: 60px auto;
		width: 234px;
		height: 163px;
		position: relative;

		.cls-1 {
		opacity: 0.3;
		}

		.cls-2 {
		fill: none;
		}

		.cls-2, .cls-4 {
		stroke: #000;
		stroke-linecap: round;
		stroke-miterlimit: 10;
		stroke-width: 2px;
		}

		.cls-3, .cls-4 {
		fill: #fff;
		}

		.cls-5 {
		fill: $purple;
		}

		svg {
			width: 234px;
			height: 163px;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.icon3 {
		margin: 60px auto;
		width: 277px;
		height: 169px;
		position: relative;

		.st0{opacity:0.3;}
		.st1{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
		.st2{fill:#FFFFFF;}
		.st3{fill:#FFFFFF;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
		.st4{fill:$purple;}
		.st5{font-family:'SegoeUI';}
		.st6{font-size:6px;}
		.st7{font-size:8px;}
		.st8{font-size:14px;}

		svg {
			width: 277px;
			height: 169px;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.completed-block {
		.image-group {
			width: 100%;

			> div {
				margin: auto;
				width: auto;
				height: 100%;
				display: flex;
				position: relative;

				.badge {
					right: -35px;
					left: auto;
				}
			}

			.document-image {
				margin: auto;
				height: 320px;
				flex: 1 1 440px;
				max-width: 440px;
				background-size: cover;
				background-position: center;
				background: url('./assets/images/rep.svg') no-repeat center;
				background-size: contain;
				position: relative;
			}
		}

		.button-group {
			flex: 0 0 480px;
			max-width: 480px;
			display: flex;
			flex-direction: column;

			.controls {
				margin-top: 50px;
				margin-bottom: 50px;
				margin-left: -50px;
			}

			.buttons_holder {
				margin-top: auto;
				margin-bottom: 50px;
			}
		}

		@include mobile {
			.image-group {
				> div {
					margin: 14px auto;
					div {
						margin-left: auto;
						margin-right: auto;
					}
				}
			}

			.button-group {
				width: 100%;
				margin-left: auto;
				margin-right: auto;

				.controls {
					margin-left: 0;
				}
			}
		}
	}
</style>