<template>
	<div class="content">
		<div class="photo_layout" :class="[badge]" v-if="!frontFile || !backFile">
			<Camera :mode="mode" ref="camera" :file.sync="file" :cameraNotSupported.sync="cameraNotSupported"></Camera>
			<div class="controls">
        <Badge/>
				<h1 v-if="(frontPhoto && badge == '')" v-text="getField('passport_front_capture_heading')"/>
				<h1 v-if="(!frontPhoto && badge == '')" v-text="getField('passport_back_capture_heading')"/>
				<div v-if="(frontPhoto && badge == '')" class="smaller_text" v-text="getField('passport_front_capture_info')"/>
				<div v-if="(!frontPhoto && badge == '')" class="smaller_text" v-text="getField('passport_back_capture_info')"/>
        <h1 v-if="(frontPhoto && badge == 'error')" v-text="getField('passport_front_capture_error')"/>
        <h1 v-if="(!frontPhoto && badge == 'error')" v-text="getField('passport_back_capture_error')"/>
        <div v-if="(badge == 'error' && beforePhoto != 1)" class="smaller_text" v-text="getField('photo_capture_error_info_picture')"/>
        <h1 v-if="(frontPhoto && badge == 'success')" v-text="getField('passport_front_capture_success')"/>
        <h1 v-if="(!frontPhoto && badge == 'success')" v-text="getField('passport_back_capture_success')"/>
				<div class="image" :class="{'gone': beforePhoto == 0}">
					<Badge mobile="true"/>
					<img :src="file"/>
				</div>
				<div class="icon" v-if="frontPhoto" :class="{'gone': beforePhoto != 0 }">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 283.4 202" style="enable-background:new 0 0 283.4 202;" xml:space="preserve">
					<g id="Group_71" transform="translate(-39 -342)">
						<g id="illustration" transform="translate(86.778 343)" class="st0">
							<path id="Path_178" class="st1" d="M120.3,42.4l22.5-1.7c0,0,13.9-1.7,19,0c5.2,1.7,38.1,12.1,38.1,12.1s15.6,3.5,17.3,19
								s17.3,119.5,17.3,119.5"/>
							<path id="Path_179" class="st1" d="M163.6,68.4c0,0-8.7-1.7-13.8-3.5c0,0-11.3,0.2-16.8-1.6"/>
							<path id="Path_180" class="st1" d="M126.4,95.9c0,0-40.7-1.6-40.7-11.9s6.9-10.4,6.9-10.4"/>
							<path id="Path_181" class="st1" d="M138,113.9c0,0-61.3-4-48.1-24.8"/>
							<g id="Group_39" transform="translate(0 0)">
								<path id="Path_182" class="st2" d="M121.2,150.6c0.1,2.8-2.2,5.1-5,5.2c-0.1,0-0.1,0-0.2,0H5.2c-2.9,0-5.2-2.3-5.2-5.2V5.2
									C0.1,2.4,2.4,0.1,5.2,0H116c2.9,0,5.2,2.3,5.2,5.2V150.6z"/>
								<path id="Path_183" class="st1" d="M121.2,150.6c0.1,2.8-2.2,5.1-5,5.2c-0.1,0-0.1,0-0.2,0H5.2c-2.9,0-5.2-2.3-5.2-5.2V5.2
									C0.1,2.4,2.4,0.1,5.2,0H116c2.9,0,5.2,2.3,5.2,5.2V150.6z"/>
							</g>
							<line id="Line_13" class="st1" x1="0.9" y1="77.9" x2="120.3" y2="77.9"/>
							<path id="Path_184" class="st3" d="M161.9,87.4c0,0-15.6-8.7-20.8-15.6c-5.2-6.9-24.2-22.5-24.2-22.5s-6.9-5.2-13.9,0
								c-6.9,5.2,0,15.6,0,15.6s10.4,15.6,19,26s13.9,13.9,17.3,27.7s17.3,32.9,26,45S181,200,181,200"/>
							<line id="Line_14" class="st1" x1="59.7" y1="90" x2="92.6" y2="90"/>
							<line id="Line_15" class="st1" x1="59.7" y1="98.7" x2="75.3" y2="98.7"/>
							<line id="Line_16" class="st1" x1="59.7" y1="121.1" x2="110" y2="121.1"/>
							<line id="Line_17" class="st1" x1="0.9" y1="131" x2="120.3" y2="131"/>
							<line id="Line_18" class="st1" x1="59.7" y1="112.4" x2="110" y2="112.4"/>
							<path id="Path_185" class="st1" d="M11.3,123.3c0-9.6,7.8-17.3,17.3-17.3s17.3,7.8,17.3,17.3"/>
							<circle id="Ellipse_46" class="st3" cx="28.6" cy="97.3" r="10.4"/>
						</g>
						<g id="mrz" transform="translate(39 424.096)">
							<text transform="matrix(1 0 0 1 48.736 63.333)" class="st4 st5 st6">P</text>
							<text transform="matrix(1 0 0 1 52.6964 63.333)" class="st4 st5 st7">&lt;</text>
							<text transform="matrix(1 0 0 1 58.969 63.333)" class="st4 st5 st6">UTODOE</text>
							<text transform="matrix(1 0 0 1 85.8454 63.333)" class="st4 st5 st7">&lt;&lt;</text>
							<text transform="matrix(1 0 0 1 98.3907 63.333)" class="st4 st5 st6">THOM</text>
							<text transform="matrix(1 0 0 1 118.1052 63.333)" class="st4 st5 st7">&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;</text>
							<text transform="matrix(1 0 0 1 95.966 72.333)" class="st4 st5 st7">&lt;&lt;&lt;&lt;</text>
							<text transform="matrix(1 0 0 1 7.398 15)" class="st4 st5 st8">MRZ</text>
							<path id="Union_112" class="st4" d="M34.4,65.4l2-2h-6v-2.2h6l-2-2l1.6-1.6l4.7,4.7L36,67L34.4,65.4z M30.4,63.3
								c-4.9,0-8.9-4-8.9-8.9V18.9h2.2v35.6l0,0c0,3.7,3,6.7,6.7,6.7L30.4,63.3L30.4,63.3z"/>
						</g>
					</g>
					</svg>
				</div>
				<div class="icon2" v-else :class="{'gone': beforePhoto != 0 }">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					viewBox="0 0 200.8 182.5" style="enable-background:new 0 0 200.8 182.5;" xml:space="preserve">
					<g id="illustration" transform="translate(-1353.554 -503.446)" class="st0">
					<path id="Path_178" class="st1" d="M1432.2,527.1l29.2-1.7c0,0,13.9-1.7,19.1,0c5.2,1.7,38.1,12.1,38.1,12.1s15.6,3.5,17.3,19.1
					c1.7,15.6,17.3,119.6,17.3,119.6"/>
					<path id="Path_179" class="st1" d="M1482.2,553.1c0,0-8.7-1.7-13.9-3.5c0,0-11.3,0.2-16.8-1.6"/>
					<path id="Path_180" class="st1" d="M1445,580.7c0,0-40.7-1.6-40.7-12c0-10.4,6.9-10.4,6.9-10.4"/>
					<path id="Path_181" class="st1" d="M1456.6,598.7c0,0-61.4-4-48.2-24.8"/>
					<g id="Group_39" transform="translate(1432.487 504.446) rotate(90)">
					<path id="Path_182" class="st2" d="M121.4,72.7c0.1,2.8-2.2,5.1-5,5.2c-0.1,0-0.1,0-0.2,0H5.2c-2.9,0-5.2-2.3-5.2-5.2V5.2
					C0.1,2.4,2.4,0.1,5.2,0h111c2.9,0,5.2,2.3,5.2,5.2L121.4,72.7z"/>
					<path id="Path_183" class="st1" d="M121.4,72.7c0.1,2.8-2.2,5.1-5,5.2c-0.1,0-0.1,0-0.2,0H5.2c-2.9,0-5.2-2.3-5.2-5.2V5.2
					C0.1,2.4,2.4,0.1,5.2,0h111c2.9,0,5.2,2.3,5.2,5.2L121.4,72.7z"/>
					</g>
					<path id="Union_60" d="M1381.4,607.6v-2h23.4v2H1381.4z M1393.6,592.5h-0.2c-0.2,0-0.4,0-0.6,0c-15.2-0.6-27-13.4-26.4-28.6
					c0.4-10.6,7-20.1,16.8-24.2c3-1.3,6.3-2,9.6-2.1c0.2,0,0.4,0,0.6,0h0.2h0.3c15.2,0,27.5,12.3,27.5,27.5c0,15.2-12.3,27.5-27.5,27.5
					c0,0,0,0,0,0L1393.6,592.5z M1394.4,590.5c1.5-0.3,2.9-0.9,4.1-1.9c1.7-1.5,3.1-3.4,4.1-5.5c0.9-1.7,1.6-3.5,2.1-5.3
					c-3.4-0.8-6.8-1.2-10.3-1.2V590.5z M1382.2,578c0.5,1.8,1.2,3.5,2,5.1c1,2.1,2.4,3.9,4.1,5.5c1.2,1,2.6,1.7,4.1,1.9v-13.9
					C1389,576.6,1385.6,577.1,1382.2,578L1382.2,578z M1404.1,584.5c-1,2-2.4,3.8-4.1,5.3c4.6-1.1,8.7-3.4,12-6.8
					c0.6-0.6,1.1-1.2,1.6-1.8c-0.5-0.3-1.1-0.6-1.6-0.9c-1.7-0.9-3.5-1.6-5.4-2.1C1406,580.4,1405.1,582.5,1404.1,584.5L1404.1,584.5z
					M1375.9,583.1c3,3,6.6,5.2,10.6,6.4c-1.5-1.5-2.7-3.1-3.7-5c-1-1.9-1.8-3.9-2.5-6c-1.5,0.5-3,1.1-4.5,1.8
					c-0.6,0.3-1.1,0.6-1.6,0.9C1374.8,581.9,1375.3,582.5,1375.9,583.1z M1407.1,576.4c2.2,0.6,4.3,1.5,6.3,2.6
					c0.5,0.3,0.9,0.5,1.4,0.8c2.8-3.9,4.4-8.5,4.6-13.2h-11C1408.4,569.8,1407.9,573.1,1407.1,576.4L1407.1,576.4z M1370.4,574.9
					c0.7,1.7,1.6,3.3,2.7,4.8c0.4-0.3,0.9-0.6,1.4-0.8c1.7-0.9,3.5-1.7,5.3-2.3c-0.8-3.3-1.3-6.7-1.4-10.1h-10
					C1368.6,569.4,1369.3,572.3,1370.4,574.9z M1381.7,576.1c3.5-0.9,7.1-1.4,10.7-1.5v-8h-12C1380.5,569.7,1381,572.9,1381.7,576.1z
					M1394.5,574.5c3.6,0,7.3,0.5,10.8,1.3c0.7-3.1,1.1-6.2,1.2-9.3h-12L1394.5,574.5z M1413.4,552.1c-1.9,1-4,1.9-6.1,2.5
					c0.7,3.3,1.1,6.6,1.1,9.9h11c-0.1-4.8-1.5-9.5-4.2-13.5C1414.7,551.4,1414.1,551.8,1413.4,552.1z M1394.5,556.5v8h12
					c0-3.2-0.4-6.3-1-9.4C1401.9,556,1398.2,556.5,1394.5,556.5L1394.5,556.5z M1380.4,564.5h12v-8c-3.7-0.1-7.4-0.6-11-1.6
					C1380.8,558.1,1380.5,561.3,1380.4,564.5z M1378.4,564.5c0-3.4,0.4-6.9,1.2-10.2c-1.8-0.6-3.5-1.3-5.1-2.2
					c-0.7-0.4-1.3-0.7-1.9-1.1c-2.7,4-4.1,8.7-4.2,13.5L1378.4,564.5z M1394.4,554.5c3.6,0,7.1-0.4,10.6-1.3c-0.6-2.2-1.3-4.3-2.3-6.3
					c-1-2.1-2.4-3.9-4.1-5.5c-1.2-1-2.6-1.7-4.1-1.9L1394.4,554.5z M1388.4,541.5c-1.7,1.5-3.1,3.4-4.1,5.5c-1,1.9-1.7,3.9-2.3,6
					c3.4,0.9,6.9,1.4,10.5,1.5v-14.9C1390.9,539.8,1389.5,540.5,1388.4,541.5z M1404.1,545.5c1.2,2.3,2.2,4.7,2.8,7.2
					c1.8-0.5,3.5-1.2,5.1-2c0.7-0.4,1.5-0.8,2.2-1.3c-0.7-0.9-1.4-1.7-2.2-2.5c-3.3-3.3-7.5-5.7-12-6.8
					C1401.6,541.7,1403,543.5,1404.1,545.5z M1375.9,550.7c1.4,0.7,2.8,1.3,4.2,1.7c0.7-2.4,1.6-4.7,2.7-6.9c1-1.8,2.2-3.5,3.7-5
					c-4,1.2-7.7,3.4-10.6,6.4c-0.8,0.8-1.5,1.6-2.2,2.5C1374.4,549.9,1375.1,550.3,1375.9,550.7z M1370.4,524.5v-2h46.9v2H1370.4z"/>
					<path id="Path_184" class="st3" d="M1480.5,572.2c0,0-15.6-8.7-20.8-15.6c-5.2-6.9-24.3-22.5-24.3-22.5s-6.9-5.2-13.9,0
					c-6.9,5.2,0,15.6,0,15.6s10.4,15.6,19.1,26c8.7,10.4,13.9,13.9,17.3,27.7s17.3,32.9,26,45.1c8.7,12.1,15.6,36.4,15.6,36.4"/>
					</g>
					</svg>
				</div>
				<div class="buttons_holder" v-if="beforePhoto == 0">
					<Button v-if="(!cameraNotSupported)" @clicked="takePicture" type="blue" icon="photo" size="limited" text="TAKE PICTURE"></Button>
          <Uploader v-if="cameraNotSupported"></Uploader>
				</div>
				<div class="buttons_holder after" v-if="beforePhoto == 1">
					<Button @clicked="tryAgain" type="blue" icon="" size="limited" text="Retake picture"></Button>
					<Button @clicked="submit" type="blue" icon="" size="limited" text="Continue anyway"></Button>
				</div>
				<div class="buttons_holder after" v-if="beforePhoto == 2">
					<Button @clicked="tryAgain" type="ghost" icon="photo" size="limited" text="Try again"></Button>
					<Button @clicked="submit" type="blue" icon="" size="limited" text="Continue"></Button>
				</div>
				<div class="small_text">
					Having problems capturing your photo? Upload it directly from your device gallery by <span class="link" @click="openPop">clicking here</span>
				</div>
			</div>
		</div>
	  <div class="photo_layout completed-block" :class="[badge]" v-else>
			<div class="image-group">
				<div>
					<div class="document-image" :style="{backgroundImage: `url(${frontFile})`}"></div>
					<Badge/>
				</div>
				<div>
					<div class="document-image" :style="{backgroundImage: `url(${backFile})`}"></div>
					<Badge/>
				</div>
			</div>
			<div class="button-group">
				<div class="controls">
					<h1 v-if="badge === ''" class="large_text" v-text="getField('passport_checking_text')"></h1>
					<h1 v-else-if="badge === 'success'" class="large_text" v-text="getField('passport_success_header')"></h1>
					<div v-else-if="badge === 'error'">
						<h1 class="large_text" v-text="getField('passport_error_header')"></h1>
						<div class="smaller_text" v-text="getField('mrz_text_passport')"></div>
					</div>
				</div>
				<div class="buttons_holder after" v-if="!isLoading">
					<Button @clicked="tryAgainAll" type="ghost" icon="photo" size="limited" text="Try again"></Button>
					<Button @clicked="continueKycProcess" type="blue" icon="" size="limited" text="Continue" v-if="tryCount > 1 || badge === 'success'"></Button>
				</div>
				<div class="buttons_holder after" v-else>
					<Button type="disabled" size="limited" :text="getField('btn_sending')"/>
        </div>
			</div>
		</div>
	</div>
</template>

<script>
import Camera from './components/Camera';
import Button from './components/Button';
import Badge from './components/Badge';
import Uploader from './components/Uploader';
import Api from './scripts/api';
import { dataUrlToBlob } from './scripts/helpers';
import { globalData } from './main';

export default {
  data() {
    return {
      mode: 'passport_vertical',
      beforePhoto: 0,
      badge: '',
      debounce: false,
      file: '',
      frontFile: '',
      backFile: '',
      frontPhoto: false,
      cameraNotSupported: false,
      isLoading: false,
      tryCount: 0
    }
  },
  components: {
    Camera,
    Button,
    Badge,
    Uploader
  },
  methods: {
    takePicture() {
      if (this.debounce) {
        return false;
      }
      this.debounce = true;
      setTimeout(() => {
        this.debounce = false;
      }, 600);
      this.$refs.camera.takePicture();
      this.validateFile(this.file)
      // Jei viskas gerai
      // this.beforePhoto = 2;
      // this.badge = 'success';

      // Jei klaida
      // this.beforePhoto = 1;
      // this.badge = 'error';
    },
    tryAgain() {
      if (this.debounce) {
        return false;
      }
      this.debounce = true;
      setTimeout(() => {
        this.debounce = false;
      }, 600);
      this.$refs.camera.restart();
      this.beforePhoto = 0;
      this.badge = '';
    },
    tryAgainAll() {
      this.frontPhoto = false

      this.frontFile = ''
      this.backFile = ''

      this.mode = 'passport_vertical'
      this.beforePhoto = 0
      this.badge = ''
      setTimeout(() => {
        this.$refs.camera.restart()
      })
    },
    continueKycProcess() {
      this.$router.push('/success')
      return
    },
    async submit() {
      // Klaidos screenas, kuriame galima pakartot priekio ar galo nuotraukas iskvieciamas taip:
      // this.beforePhoto = 1;

      // mrz klaidos popupas iskvieciamas taip:
      // globalData.$emit('openPop', ['error', 'card']);

      if (this.file != '') {
        if (!this.frontPhoto) {
          this.frontPhoto = true
          this.frontFile = this.file
          this.mode = 'passport'
          this.tryAgain(false)
        } else if (this.beforePhoto != 1) {
          //this.backFile = this.file;
          //await this.upload()
        } else {
          //this.$router.push('/success');
        }
      }
    },
    async upload() {
      this.isLoading = true
      this.tryCount++

      const cover = dataUrlToBlob(this.frontFile)
      const details = dataUrlToBlob(this.backFile)

      const formData = new FormData()
      formData.append('documentType', 'Passport')
      formData.append('cover', cover, 'cover')
      formData.append('details', details, 'details')

      try {
        const response = await Api.sendFile('upload-document', formData)
        if (response.error) {
          this.badge = 'error'
          globalData.$emit('openPop', ['error', 'passport'])
        } else {
          this.badge = 'success'
          //this.$router.push('/success')
        }
      } catch (err) {
        globalData.$emit('openPop', err.status)
      }
      
      this.isLoading = false
    },
    validateFile(file) {
      setTimeout(() => {
        if (file) {
          if (!this.frontPhoto) {
            this.beforePhoto = 2
          } else {
            this.backFile = this.file
            this.upload()
          }
        }
      }, 600)
    },
    toBase64(blob) {
      let base64Url
      const reader = new FileReader()
      reader.readAsDataURL(blob)
      reader.onloadend = () => {
        base64Url = reader.result
      }
      return base64Url
    },
    openPop() {
      let properties = ['upload'];
      if (this.frontPhoto) {
        properties.push('passport_cover');
      } else {
        properties.push('passport_front');
      }
      globalData.$emit('openPop', properties);
    }
  },
  created() {
    globalData.$on('uploadedFile', file => {
      globalData.$emit('closePop', false)
      //const tempFile = this.toBase64(file)
      this.validateFile(file)
      // this.beforePhoto = 2
      // this.badge = 'success'
    })
  }
};
</script>

<style lang="scss" scoped>
@import './styles/mixins.scss';

.content {
  max-width: 1560px;
}
.buttons_holder {
  text-align: left;

  @include mobile {
    text-align: center;

    .button {
      width: 100% !important;
    }
    &.after {
      .button {
        margin: 0 0 20px 0;
        width: calc(50% - 5px) !important;

        &:first-child {
          margin: 0 10px 20px 0;
        }
      }
    }
  }
}
.icon {
  margin: 60px auto;
  width: 282px;
  height: 200px;
  position: relative;

  .st0 {
    opacity: 0.3;
  }
  .st1 {
    fill: none;
    stroke: #000000;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
  .st2 {
    fill: #ffffff;
  }
  .st3 {
    fill: #ffffff;
    stroke: #000000;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
  .st4 {
    fill: $purple;
  }
  .st5 {
    font-family: 'SegoeUI';
  }
  .st6 {
    font-size: 6px;
  }
  .st7 {
    font-size: 8px;
  }
  .st8 {
    font-size: 14px;
  }

  svg {
    width: 282px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.icon2 {
  margin: 60px auto;
  width: 198px;
  height: 180px;
  position: relative;

  .st0 {
    opacity: 0.3;
  }
  .st1 {
    fill: none;
    stroke: #000000;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
  .st2 {
    fill: #ffffff;
  }
  .st3 {
    fill: #ffffff;
    stroke: #000000;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }

  svg {
    width: 198px;
    height: 180px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.completed-block {
  .image-group {
    width: 100%;

    > div {
      margin: 14px auto 13px 30px;
      width: auto;
      position: relative;

      .badge {
        left: 403px;
      }
    }

    .document-image {
      height: 320px;
      flex: 1 1 440px;
      max-width: 440px;
      background-size: cover;
      background-position: center;
    }
  }

  .button-group {
    flex: 0 0 480px;
    max-width: 480px;
    display: flex;
    flex-direction: column;

    .controls {
      margin-top: 50px;
      margin-bottom: 50px;
      margin-left: -50px;
    }

    .buttons_holder {
      margin-top: auto;
      margin-bottom: 50px;
    }
  }

  @include mobile {
    .image-group {
      > div {
        margin: 14px auto;
        div {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    .button-group {
      width: 100%;
      margin-left: auto;
      margin-right: auto;

      .controls {
        margin-left: 0;
      }
    }
  }
}
</style>