<template>
	<div class="content">
		<div class="photo_layout" :class="[badge]">
			<Badge/>
			<Camera mode="none" ref="camera" :file.sync="file" :cameraNotSupported.sync="cameraNotSupported"></Camera>
			<div class="controls">
				<h1 v-if="frontPhoto">Capture front side of your document</h1>
				<h1 v-else>Capture back side of your document</h1>
				<div v-if="frontPhoto" class="smaller_text">
					Show the front side of your ID-card. Hold it so that the front is fully visible. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt lorem.
				</div>
				<div v-else class="smaller_text">
					Show the front side of your ID-card. Hold it so that the front is fully visible. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt lorem.
				</div>
				<div class="image" :class="{'gone': beforePhoto == 0}">
					<Badge mobile="true"/>
					<img :src="file">
				</div>
        <div class="icon" :class="{'gone': beforePhoto != 0 }">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 236.6 165" style="enable-background:new 0 0 236.6 165;" xml:space="preserve">
          <g id="illustration" transform="translate(-1321 -519)" class="st0">
          <path id="Path_178" class="st1" d="M1442.3,525.4l22.5-1.7c0,0,13.9-1.7,19,0c5.2,1.7,38.1,12.1,38.1,12.1s15.6,3.5,17.3,19
          c1.7,15.6,17.3,119.5,17.3,119.5"/>
          <path id="Path_179" class="st1" d="M1485.6,551.4c0,0-8.7-1.7-13.8-3.5c0,0-11.3,0.2-16.8-1.6"/>
          <path id="Path_180" class="st1" d="M1448.4,578.9c0,0-40.7-1.6-40.7-11.9c0-10.4,6.9-10.4,6.9-10.4"/>
          <path id="Path_181" class="st1" d="M1460,596.9c0,0-61.3-4-48.1-24.8"/>
          <g id="Group_39" transform="translate(1322 442)">
          <path id="Path_182" class="st2" d="M121.2,150.6c0.1,2.8-2.2,5.1-5,5.2c-0.1,0-0.1,0-0.2,0H5.2c-2.9,0-5.2-2.3-5.2-5.2V83.2
          c0.1-2.8,2.4-5.1,5.2-5.2H116c2.9,0,5.2,2.3,5.2,5.2V150.6z"/>
          <path id="Path_183" class="st1" d="M121.2,150.6c0.1,2.8-2.2,5.1-5,5.2c-0.1,0-0.1,0-0.2,0H5.2c-2.9,0-5.2-2.3-5.2-5.2V83.2
          c0.1-2.8,2.4-5.1,5.2-5.2H116c2.9,0,5.2,2.3,5.2,5.2V150.6z"/>
          </g>
          <path id="Path_184" class="st3" d="M1483.9,570.4c0,0-15.6-8.7-20.8-15.6s-24.2-22.5-24.2-22.5s-6.9-5.2-13.9,0
          c-6.9,5.2,0,15.6,0,15.6s10.4,15.6,19,26c8.7,10.4,13.9,13.9,17.3,27.7c3.5,13.9,17.3,32.9,26,45c8.7,12.1,15.6,36.4,15.6,36.4"/>
          <g id="Group_60" transform="translate(1 19.823)">
          <line id="Line_23" class="st1" x1="1384" y1="522" x2="1414" y2="522"/>
          <line id="Line_24" class="st1" x1="1384" y1="530" x2="1399" y2="530"/>
          <line id="Line_25" class="st1" x1="1384" y1="557" x2="1426" y2="557"/>
          <line id="Line_26" class="st1" x1="1384" y1="549" x2="1426" y2="549"/>
          <path id="Path_199" class="st1" d="M1337,557.5c0-9.6,7.8-17.3,17.3-17.3s17.3,7.8,17.3,17.3"/>
          <circle id="Ellipse_94" class="st3" cx="1354.3" cy="531.6" r="10.4"/>
          </g>
          </g>
          </svg>
        </div>
				<div class="buttons_holder" v-if="beforePhoto == 0">
					<Button v-if="(!cameraNotSupported && !videoMode)" @clicked="takePicture" type="blue" icon="photo" size="limited" text="TAKE PICTURE"></Button>
					<Button v-if="(!cameraNotSupported && videoMode)" @clicked="takeVideo" type="blue" icon="photo" size="limited" :text="videoButtonText" :recording="recording"></Button>
					<Uploader v-if="cameraNotSupported"></Uploader>
				</div>
				<div class="buttons_holder after" v-if="beforePhoto == 2">
					<Button @clicked="tryAgain" type="ghost" icon="photo" size="limited" text="Try again"></Button>
					<Button @clicked="submit" type="blue" icon="" size="limited" text="Continue"></Button>
				</div>
				<div class="small_text">
					Having problems capturing your photo? Upload it directly from your device gallery by <span class="link" @click="openPop">clicking here</span>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import Camera from './components/Camera';
import Button from './components/Button';
import Badge from './components/Badge';
import Uploader from './components/Uploader';
import Api from './scripts/api';
import { dataUrlToBlob } from './scripts/helpers';
import { globalData } from './main';

export default {
  data() {
    return {
      beforePhoto: 0,
      badge: '',
      debounce: false,
      file: '',
      frontFile: '',
      backFile: '',
      frontPhoto: true,
      cameraNotSupported: false,
      videoMode: false,
      videoButtonText: 'Take video',
      recording: false
    };
  },
  components: {
    Camera,
    Button,
    Badge,
    Uploader
  },
  methods: {
    takePicture() {
      if (this.debounce) {
        return false;
      }
      this.debounce = true;
      setTimeout(() => {
        this.debounce = false;
      }, 600);
      this.$refs.camera.takePicture();
      this.beforePhoto = 2;
      this.badge = 'success';
    },
    takeVideo() {
      if (this.debounce) {
        return false;
      }
      this.debounce = true;
      setTimeout(() => {
        this.debounce = false;
      }, 600);
      this.videoButtonText = 'recording';
      this.recording = true;
      setTimeout(() => {
        this.videoButtonText = 'Take video';
        this.recording = false;
      }, 3000);
    },
    tryAgain() {
      if (this.debounce) {
        return false;
      }
      this.debounce = true;
      setTimeout(() => {
        this.debounce = false;
      }, 600);
      this.$refs.camera.restart();
      this.beforePhoto = 0;
      this.badge = '';
    },
    async submit() {
      if (this.file != '') {
        if (this.frontPhoto) {
          this.frontPhoto = false;
          this.frontFile = this.file;
          this.tryAgain();
        } else {
          this.backFile = this.file;
          await this.upload();
        }
      }
    },
    async upload() {
      const cover = dataUrlToBlob(this.frontFile);
      const details = dataUrlToBlob(this.backFile);

      const formData = new FormData();
      formData.append('documentType', 'Other');
      formData.append('cover', cover, 'cover');
      formData.append('details', details, 'details');

      try {
        const response = await Api.sendFile('upload-document', formData);
        if (response.error) {
          globalData.$emit('openPop', response.error);
        } else {
          this.$router.push('/success');
        }
      } catch (err) {
        console.log(err);
        globalData.$emit('openPop', err.status);
      }
    },
    openPop() {
      let properties = ['upload'];
      if (this.frontPhoto) {
        properties.push('other_front');
      } else {
        properties.push('other_back');
      }
      globalData.$emit('openPop', properties);
    }
  },
  created() {
    globalData.$on('uploadedFile', file => {
      globalData.$emit('closePop', false);
      this.beforePhoto = 2;
      this.badge = 'success';
    });
  }
};
</script>

<style lang="scss" scoped>
@import './styles/mixins.scss';

.content {
  max-width: 1560px;
}
.buttons_holder {
  text-align: left;

  @include mobile {
    text-align: center;
    margin-top: 20px;

    .button {
      width: 100% !important;
    }
    &.after {
      .button {
        margin: 0 0 20px 0;
        width: calc(50% - 5px) !important;

        &:first-child {
          margin: 0 10px 20px 0;
        }
      }
    }
  }
}
.icon {
    margin: 60px auto;
    width: 234px;
    height: 163px;
    position: relative;

    .st0{opacity:0.3;}
    .st1{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
    .st2{fill:#FFFFFF;}
    .st3{fill:#FFFFFF;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}

    svg {
      width: 234px;
      height: 163px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
</style>