<template>
	<div class="content">
		<div class="photo_layout" :class="[badge]">
			<Camera mode="face" ref="camera" :file.sync="file" :cameraNotSupported.sync="cameraNotSupported"/>
			<div class="controls">
        <Badge/>
				<h1 v-if="(badge == '')" v-text="getField('capture_heading')"/>
				<div v-if="(badge == '')" class="smaller_text" v-text="getField('capture_instructions')"/>
        <h1 v-if="(badge == 'error')" v-text="getField('photo_capture_error')"/>
        <div v-if="(badge == 'error' && !videoMode)" class="smaller_text" v-text="getField('photo_capture_error_info_picture')"/>
        <div v-if="(badge == 'error' && videoMode)" class="smaller_text" v-text="getField('photo_capture_error_info_video')"/>
        <h1 v-if="(badge == 'success')" v-text="getField('photo_capture_success')"/>
				<div class="image" :class="{'gone': beforePhoto}">
					<Badge mobile="true"/>
					<img :src="file"/>
				</div>
				<div class="icon" :class="{'gone': !beforePhoto}">
					<svg v-if="!videoMode" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 2308.1 1436.7" style="enable-background:new 0 0 2308.1 1436.7;" xml:space="preserve">
					<g id="illustration" transform="translate(0.5 0.482)" class="st0">
						<path d="M1948.1,1436.2c-6,0-10.9-4.9-10.9-10.9l0-4.4c0.1-67.3,0.4-180-289.2-257.9c-288.8-77.3-294.4-179.2-293.9-192.4
							L1342.5,809l1.4-2.7c26.8-52.9,45.7-109.2,56.1-167.6l2.6-14.3l13,6.5c2.2,1.1,3.2,1.1,3.3,1.1l0,0c3.8-3.7,3.8-27.8,3.8-36.9
							c0-24.9,23.7-117.9,34.9-151.3l0.7-1.6c1.1-2.1,1.6-4.5,1.4-6.9c-0.3-3.3-1.9-6.3-4.4-8.5c-2.6-2.1-5.8-3.2-9.1-2.8l-16.4,1.5
							l5-15.6c76.2-238.2-68.9-324.8-75.1-328.4C1173.3-38.3,1041.3,57.1,1040,58.1l-2.6,2l-3.3,0.2C860,70.5,860.9,181.2,861.4,254.5
							l0.1,10.9c1.7,48.7,9.3,97.6,22.5,144.9l3.8,13.8h-14.3c-8,0-11.4,3.5-13.3,6.1c-7.7,10.6-7.4,35,0.8,59.2
							c13.4,37.4,21.3,76.7,23.4,116.6c0,23.5,11.9,23.8,12,23.8h9.6l1.2,9.5c11,87.2,66.1,164.8,66.6,165.6l2,2.8v150.5
							c1.9,14.2,9.1,137.5-294.7,193.5c-291.3,53.6-311,272.2-311.2,274.4c-0.4,6-5.7,10.5-11.7,10c-6-0.4-10.5-5.7-10-11.7
							c0.2-2.4,21.3-237.6,329-294.2c294.6-54.3,277.3-168.1,277.1-169.3l-0.2-2V814.7c-10.3-15.1-55.1-84.3-67.4-165
							c-11.2-4.2-24-16.1-24-43.1c-2-37.2-9.5-74.4-22.2-110.1c-8.4-25.2-12.2-59,2.1-79c4.5-6.2,10.4-10.6,17.4-13
							c-11.7-45.3-18.5-91.9-20.1-138.7l-0.1-11.1c-0.6-71.2-1.6-203.4,190.2-216c21.3-13.9,158.1-93.5,341,24.3
							c1.1,0.6,161,94.9,88.2,341.5c3.6,1.3,6.9,3.3,10,5.8c7,5.9,11.4,14.1,12.2,23.2c0.6,6.2-0.6,12.5-3.3,18.1
							c-11.8,35.5-33.5,123.2-33.5,143.6c0,20.7,0,46.5-14.7,55.6c-2.5,1.6-6,3-10.4,3c-11,55.5-29.4,109.1-54.7,159.7l11.3,157.2l-0.1,1
							c0,0.7-3.3,94.9,277.8,170.2c305.7,82.3,305.4,210.3,305.3,279l0,4.4C1959,1431.3,1954.1,1436.2,1948.1,1436.2z"/>
						<path d="M2296.7,1436.2H10.4c-6,0-10.9-4.9-10.9-10.9s4.9-10.9,10.9-10.9h2286.3c6,0,10.9,4.9,10.9,10.9
							S2302.8,1436.2,2296.7,1436.2z"/>
					</g>
					</svg>
          <svg v-else id="video_svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 222.049 197.021">
          <g id="illustration" transform="translate(-76 -311.979)">
          <g id="illustration-2" data-name="illustration" class="cls-1" transform="translate(64.875 330.167)">
          <path id="Path_191" data-name="Path 191" class="cls-2" d="M31,195.533s2.375-30.652,44.326-38.368c42.743-7.874,39.577-25.2,39.577-25.2V111.5s-7.915-11.023-9.5-23.621c0,0-3.166,0-3.166-4.724s-1.583-11.023-3.166-15.747-1.583-11.023,3.166-11.023c0,0-3.166-11.023-3.166-20.471S97.489,7.567,124.4,5.993c0,0,19-14.172,45.909,3.149,0,0,22.163,12.6,11.082,47.241,0,0,4.749,0,3.166,4.724s-4.749,17.322-4.749,20.471,0,7.874-3.166,6.3a85.645,85.645,0,0,1-7.915,23.621l1.583,22.046s-1.583,14.172,39.577,25.2c42.11,11.338,41.16,27.345,41.16,36.793" transform="translate(-18.875 -17.7)"/>
          </g>
          <g id="arrow" transform="translate(-1.001 -153)">
          <path id="Path_337" data-name="Path 337" class="cls-3" d="M197.479,99.321C177.19,105.985,151.652,110,124,110c-27.468,0-52.85-3.961-73.71-10.783" transform="translate(63.633 438.2)"/>
          <path id="Path_338" data-name="Path 338" class="cls-4" d="M5.879-.707,8,8-.707,5.879Z" transform="matrix(0.259, -0.966, 0.966, 0.259, 254.865, 539.735)"/>
          <path id="Path_339" data-name="Path 339" class="cls-4" d="M5.879-.707,8,8-.707,5.879Z" transform="matrix(-0.966, 0.259, -0.259, -0.966, 120.799, 539.737)"/>
          </g>
          </g>
          </svg>
				</div>
				<div class="small_text" v-if="!cameraNotSupported" v-text="(videoMode ? getField('capture_agreement_video') : getField('capture_agreement'))"/>
				<div class="small_text" v-else v-text="getField('capture_no_camera')"/>
				<div class="buttons_holder" v-if="beforePhoto">
					<Button v-if="(!cameraNotSupported && !videoMode)" @clicked="takePicture" type="blue" icon="photo" size="limited" :text="getField('btn_take_picture')"/>
					<Button v-if="(!cameraNotSupported && videoMode)" @clicked="takeVideo" type="blue" icon="photo" size="limited" :text="videoButtonText" :recording="recording"/>
					<Uploader v-if="cameraNotSupported"/>
				</div>
				<div class="buttons_holder after" v-else-if="!isLoading">
					<Button @clicked="tryAgain" type="ghost" icon="photo" size="limited" :text="getField('btn_try_again')"/>
					<Button v-if="tryCount > 1 || this.badge === 'success'" @clicked="continueKycProcess" type="blue" size="limited" :text="getField('btn_continue')"/>
				</div>
        <div class="buttons_holder after" v-else>
					<Button type="disabled" size="limited" :text="getField('btn_sending')"/>
        </div>
				<div class="small_text">
					<span v-text="getField('capture_upload_help')"/>
					<span class="link" @click="openPop" v-text="getField('capture_upload_link')"/>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import Camera from './components/Camera';
import Button from './components/Button';
import Badge from './components/Badge';
import Uploader from './components/Uploader';
import Api from './scripts/api';
import { dataUrlToBlob } from './scripts/helpers';
import { globalData } from './main';

export default {
  data() {
    return {
      isLoading: false,
      tryCount: 0,
      beforePhoto: true,
      badge: '',
      debounce: false,
      file: '',
      cameraNotSupported: false,
      videoMode: true,
      videoButtonText: '',
      recording: false,
      isUploading: false
    };
  },
  components: {
    Camera,
    Button,
    Badge,
    Uploader
  },
  methods: {
    takePicture() {
      if (this.debounce) return false;
      this.debounce = true;
      setTimeout(() => {
        this.debounce = false;
      }, 600);
      this.$refs.camera.takePicture();
      this.beforePhoto = false;
    },
    takeVideo() {
      if (this.debounce) return false;
      this.debounce = true;
      setTimeout(() => {
        this.debounce = false;
      }, 600);
      this.videoButtonText = this.getField('btn_recording');
      this.recording = true;
      this.$refs.camera.takeVideo();
    },
    tryAgain() {
      if (this.debounce) return false;
      this.debounce = true;
      setTimeout(() => {
        this.debounce = false;
      }, 600);
      this.$refs.camera.restart();
      this.beforePhoto = true;
      this.badge = '';
    },
    continueKycProcess() {
      this.$router.push('/document-validation');
    },
    async submit() {
      if (this.isLoading) return
      this.isLoading = true
      this.tryCount++

      if (this.file != '') {
        const formData = new FormData();
        if (this.videoMode && !this.isUploading) {
          formData.append('face', this.file, 'face')
        } else {
          this.isUploading = false
          const face = dataUrlToBlob(this.file)
          formData.append('face', face, 'face')
        }

        try {
          const response = await Api.sendFile('upload-user-face', formData)
          if (response.error) {
            this.badge = 'error'
          } else {
            this.badge = 'success'
          }
        } catch (err) {
          this.badge = 'error';
          globalData.$emit('openPop', err.status)
        }
      }

      this.isLoading = false;
    },
    openPop() {
      if (this.recording || this.isLoading) return
      let mode;
      if (this.videoMode) {
        mode = 'video';
        this.isUploading = true
      } else {
        mode = 'photo';
      }
      globalData.$emit('openPop', ['upload', mode]);
    }
  },
  created() {
    globalData.$on('uploadedFile', file => {
      globalData.$emit('closePop', false);
      this.beforePhoto = false;
    });
    this.videoButtonText = this.getField('btn_take_video');
  },
  watch: {
    file: function() {
      if (this.videoMode) {
        this.videoButtonText = this.getField('btn_take_video');
        if (this.file) {
          // TEMP SHOW SUCCSESS - JUST FOR STYLING
          this.beforePhoto = false;
        }
        this.recording = false;
      }

      if (this.file) {
        this.submit()
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import './styles/mixins.scss';

.st0 {
  opacity: 0.3;
}

.content {
  max-width: 1560px;
}
.buttons_holder {
  text-align: left;

  @include mobile {
    text-align: center;

    .button {
      width: 100% !important;
    }
    &.after {
      .button {
        margin: 0 0 20px 0;
        width: calc(50% - 5px) !important;

        &:first-child {
          margin: 0 10px 20px 0;
        }
      }
    }
  }
}
#video_svg {
  .cls-1 {
        opacity: 0.3;
      }

      .cls-2, .cls-3 {
        fill: none;
        stroke-width: 2px;
      }

      .cls-2 {
        stroke: #000;
        stroke-linecap: round;
        stroke-miterlimit: 10;
      }

      .cls-3 {
        stroke: #652dfe;
        stroke-dasharray: 8;
      }

      .cls-4 {
        fill: #652dfe;
      }
}
</style>